<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add_time_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,20},{9,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{9,16}}</string>
                <key>sourceSize</key>
                <string>{9,16}</string>
            </dict>
            <key>add_time_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,2},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>add_time_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,17},{11,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,13}}</string>
                <key>sourceSize</key>
                <string>{11,13}</string>
            </dict>
            <key>add_time_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,16}}</string>
                <key>sourceSize</key>
                <string>{14,16}</string>
            </dict>
            <key>add_time_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,19},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>add_time_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{17,37},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>add_time_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,2},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>add_time_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,20},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>add_time_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{13,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,15}}</string>
                <key>sourceSize</key>
                <string>{13,15}</string>
            </dict>
            <key>add_time_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{13,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,13}}</string>
                <key>sourceSize</key>
                <string>{13,13}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>add_time@2x.png</string>
            <key>size</key>
            <string>{64,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25e31d8969ee75552a5bd08003311aa3:6b2d2f4a7064857ac93a1fc4a914c59d:d069a0a5f3b221b497664e268ed771e6$</string>
            <key>textureFileName</key>
            <string>add_time@2x.png</string>
        </dict>
    </dict>
</plist>
