<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>add_move_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,54},{30,20}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{30,20}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>balloon_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,194},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>balloon_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,146},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>balloon_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,146},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>balloon_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,194},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>balloon_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,194},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>balloon_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,194},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>balloon_bomb_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,247},{66,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{66,67}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>balloon_bomb_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,247},{68,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{68,69}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>balloon_bomb_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,318},{70,71}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>balloon_bomb_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,318},{72,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{72,71}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>balloon_bomb_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,318},{72,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,73}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>balloon_bomb_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,146},{44,45}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{44,45}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>balloon_bomb_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,247},{46,51}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{46,51}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>balloon_bomb_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,194},{46,51}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{46,51}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>balloon_bomb_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,247},{48,53}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{48,53}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>balloon_bomb_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,100},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{40,39}}</string>
                <key>sourceSize</key>
                <string>{72,73}</string>
            </dict>
            <key>balloon_number_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,77},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>balloon_number_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,77},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>balloon_number_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,77},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>balloon_number_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,77},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>balloon_number_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,77},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>balloon_number_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,54},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>balloon_number_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,54},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>balloon_number_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,54},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>balloon_number_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,77},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>balloon_number_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,100},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>balloon_number_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,77},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>balloon_number_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,77},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>balloon_number_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,77},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>balloon_number_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,77},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>balloon_number_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,77},{21,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,21}}</string>
                <key>sourceSize</key>
                <string>{21,21}</string>
            </dict>
            <key>balloon_rope_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,26},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,54},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,54},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,54},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,40},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,40},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,40},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,26},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,12},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,12},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,12},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,12},{21,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{21,10}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,12},{21,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{21,10}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,12},{21,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{21,10}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,12},{21,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{21,10}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,26},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,26},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,26},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,26},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,40},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,26},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,26},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,26},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,26},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,54},{19,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,26},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,12},{19,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,10}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,12},{19,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,10}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,0},{21,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,10}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{21,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,10}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,0},{21,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,10}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,0},{21,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,10}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,0},{21,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,10}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,0},{21,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,10}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,12},{19,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{19,10}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,0},{21,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,10}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,0},{21,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,10}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,0},{21,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,10}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,0},{21,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,10}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,0},{21,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,10}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,12},{21,10}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,10}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,54},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,54},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,40},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,40},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{23,40},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,40},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,40},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,40},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>balloon_rope_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,40},{21,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,12}}</string>
                <key>sourceSize</key>
                <string>{21,12}</string>
            </dict>
            <key>light_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,100},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>light_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,100},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>light_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,100},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>light_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,146},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>light_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,100},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>light_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>balloon@2x.png</string>
            <key>size</key>
            <string>{251,391}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8214fbbf4792d489d38e47feb15f541e$</string>
            <key>textureFileName</key>
            <string>balloon@2x.png</string>
        </dict>
    </dict>
</plist>
