<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BigMonster_ext_0000</key>
            <dict>
                <key>frame</key>
                <string>{{383,120},{125,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,117}}</string>
                <key>sourceSize</key>
                <string>{125,117}</string>
            </dict>
            <key>BigMonster_ext_0001</key>
            <dict>
                <key>frame</key>
                <string>{{383,120},{125,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,117}}</string>
                <key>sourceSize</key>
                <string>{125,117}</string>
            </dict>
            <key>BigMonster_ext_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,116}}</string>
                <key>sourceSize</key>
                <string>{125,116}</string>
            </dict>
            <key>BigMonster_ext_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{125,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,116}}</string>
                <key>sourceSize</key>
                <string>{125,116}</string>
            </dict>
            <key>BigMonster_ext_0004</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,115}}</string>
                <key>sourceSize</key>
                <string>{125,115}</string>
            </dict>
            <key>BigMonster_ext_0005</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,115}}</string>
                <key>sourceSize</key>
                <string>{125,115}</string>
            </dict>
            <key>BigMonster_ext_0006</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,115}}</string>
                <key>sourceSize</key>
                <string>{125,115}</string>
            </dict>
            <key>BigMonster_ext_0007</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,115}}</string>
                <key>sourceSize</key>
                <string>{125,115}</string>
            </dict>
            <key>BigMonster_ext_0008</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,115}}</string>
                <key>sourceSize</key>
                <string>{125,115}</string>
            </dict>
            <key>BigMonster_ext_0009</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,115}}</string>
                <key>sourceSize</key>
                <string>{125,115}</string>
            </dict>
            <key>BigMonster_ext_0010</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,115}}</string>
                <key>sourceSize</key>
                <string>{125,115}</string>
            </dict>
            <key>BigMonster_ext_0011</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,115}}</string>
                <key>sourceSize</key>
                <string>{125,115}</string>
            </dict>
            <key>BigMonster_ext_0012</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{125,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,115}}</string>
                <key>sourceSize</key>
                <string>{125,115}</string>
            </dict>
            <key>BigMonster_ext_0013</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{133,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,115}}</string>
                <key>sourceSize</key>
                <string>{133,115}</string>
            </dict>
            <key>BigMonster_ext_0014</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{135,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,115}}</string>
                <key>sourceSize</key>
                <string>{135,115}</string>
            </dict>
            <key>BigMonster_ext_0015</key>
            <dict>
                <key>frame</key>
                <string>{{391,2},{135,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,115}}</string>
                <key>sourceSize</key>
                <string>{135,115}</string>
            </dict>
            <key>BigMonster_ext_0016</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>BigMonster_ext_0017</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>BigMonster_ext_0018</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>BigMonster_ext_0019</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{135,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,115}}</string>
                <key>sourceSize</key>
                <string>{135,115}</string>
            </dict>
            <key>BigMonster_ext_0020</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{135,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,115}}</string>
                <key>sourceSize</key>
                <string>{135,115}</string>
            </dict>
            <key>BigMonster_ext_0021</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>BigMonster_ext_0022</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>BigMonster_ext_0023</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,114}}</string>
                <key>sourceSize</key>
                <string>{124,114}</string>
            </dict>
            <key>BigMonster_ext_0024</key>
            <dict>
                <key>frame</key>
                <string>{{791,2},{133,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,115}}</string>
                <key>sourceSize</key>
                <string>{133,115}</string>
            </dict>
            <key>BigMonster_ext_0025</key>
            <dict>
                <key>frame</key>
                <string>{{791,2},{133,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,115}}</string>
                <key>sourceSize</key>
                <string>{133,115}</string>
            </dict>
            <key>BigMonster_ext_0026</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{125,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,115}}</string>
                <key>sourceSize</key>
                <string>{125,115}</string>
            </dict>
            <key>BigMonster_ext_0027</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{125,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,115}}</string>
                <key>sourceSize</key>
                <string>{125,115}</string>
            </dict>
            <key>BigMonster_ext_0028</key>
            <dict>
                <key>frame</key>
                <string>{{129,120},{125,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,115}}</string>
                <key>sourceSize</key>
                <string>{125,115}</string>
            </dict>
            <key>BigMonster_ext_0029</key>
            <dict>
                <key>frame</key>
                <string>{{129,120},{125,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,115}}</string>
                <key>sourceSize</key>
                <string>{125,115}</string>
            </dict>
            <key>BigMonster_ext_0030</key>
            <dict>
                <key>frame</key>
                <string>{{256,120},{125,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,116}}</string>
                <key>sourceSize</key>
                <string>{125,116}</string>
            </dict>
            <key>BigMonster_ext_0031</key>
            <dict>
                <key>frame</key>
                <string>{{256,120},{125,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,116}}</string>
                <key>sourceSize</key>
                <string>{125,116}</string>
            </dict>
            <key>BigMonster_ext_0032</key>
            <dict>
                <key>frame</key>
                <string>{{383,120},{125,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,117}}</string>
                <key>sourceSize</key>
                <string>{125,117}</string>
            </dict>
            <key>BigMonster_ext_0033</key>
            <dict>
                <key>frame</key>
                <string>{{383,120},{125,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,117}}</string>
                <key>sourceSize</key>
                <string>{125,117}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0000</key>
            <dict>
                <key>frame</key>
                <string>{{510,120},{74,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,76}}</string>
                <key>sourceSize</key>
                <string>{74,76}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0001</key>
            <dict>
                <key>frame</key>
                <string>{{586,120},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0002</key>
            <dict>
                <key>frame</key>
                <string>{{661,120},{91,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,88}}</string>
                <key>sourceSize</key>
                <string>{91,88}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0003</key>
            <dict>
                <key>frame</key>
                <string>{{754,120},{91,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,92}}</string>
                <key>sourceSize</key>
                <string>{91,92}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0004</key>
            <dict>
                <key>frame</key>
                <string>{{847,120},{104,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,98}}</string>
                <key>sourceSize</key>
                <string>{104,98}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0005</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{105,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,102}}</string>
                <key>sourceSize</key>
                <string>{105,102}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0006</key>
            <dict>
                <key>frame</key>
                <string>{{109,239},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{110,112}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0007</key>
            <dict>
                <key>frame</key>
                <string>{{221,239},{110,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,112}}</string>
                <key>sourceSize</key>
                <string>{110,112}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0008</key>
            <dict>
                <key>frame</key>
                <string>{{333,239},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0009</key>
            <dict>
                <key>frame</key>
                <string>{{452,239},{117,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{117,123}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0010</key>
            <dict>
                <key>frame</key>
                <string>{{571,239},{116,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,125}}</string>
                <key>sourceSize</key>
                <string>{116,125}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0011</key>
            <dict>
                <key>frame</key>
                <string>{{689,239},{117,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,126}}</string>
                <key>sourceSize</key>
                <string>{117,126}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0012</key>
            <dict>
                <key>frame</key>
                <string>{{808,239},{118,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,129}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{118,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,129}}</string>
                <key>sourceSize</key>
                <string>{118,129}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0014</key>
            <dict>
                <key>frame</key>
                <string>{{122,370},{117,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,126}}</string>
                <key>sourceSize</key>
                <string>{117,126}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0015</key>
            <dict>
                <key>frame</key>
                <string>{{241,370},{102,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,107}}</string>
                <key>sourceSize</key>
                <string>{102,107}</string>
            </dict>
            <key>BigMonster_jump_0000</key>
            <dict>
                <key>frame</key>
                <string>{{345,370},{125,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,115}}</string>
                <key>sourceSize</key>
                <string>{125,115}</string>
            </dict>
            <key>BigMonster_jump_0001</key>
            <dict>
                <key>frame</key>
                <string>{{345,370},{125,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,115}}</string>
                <key>sourceSize</key>
                <string>{125,115}</string>
            </dict>
            <key>BigMonster_jump_0002</key>
            <dict>
                <key>frame</key>
                <string>{{472,370},{125,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,115}}</string>
                <key>sourceSize</key>
                <string>{125,115}</string>
            </dict>
            <key>BigMonster_jump_0003</key>
            <dict>
                <key>frame</key>
                <string>{{472,370},{125,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,115}}</string>
                <key>sourceSize</key>
                <string>{125,115}</string>
            </dict>
            <key>BigMonster_jump_0004</key>
            <dict>
                <key>frame</key>
                <string>{{599,370},{125,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,115}}</string>
                <key>sourceSize</key>
                <string>{125,115}</string>
            </dict>
            <key>BigMonster_jump_0005</key>
            <dict>
                <key>frame</key>
                <string>{{599,370},{125,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,115}}</string>
                <key>sourceSize</key>
                <string>{125,115}</string>
            </dict>
            <key>BigMonster_jump_0006</key>
            <dict>
                <key>frame</key>
                <string>{{599,370},{125,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,115}}</string>
                <key>sourceSize</key>
                <string>{125,115}</string>
            </dict>
            <key>BigMonster_jump_0007</key>
            <dict>
                <key>frame</key>
                <string>{{599,370},{125,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,115}}</string>
                <key>sourceSize</key>
                <string>{125,115}</string>
            </dict>
            <key>BigMonster_jump_0008</key>
            <dict>
                <key>frame</key>
                <string>{{599,370},{125,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,115}}</string>
                <key>sourceSize</key>
                <string>{125,115}</string>
            </dict>
            <key>BigMonster_jump_0009</key>
            <dict>
                <key>frame</key>
                <string>{{599,370},{125,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,115}}</string>
                <key>sourceSize</key>
                <string>{125,115}</string>
            </dict>
            <key>BigMonster_jump_0010</key>
            <dict>
                <key>frame</key>
                <string>{{599,370},{125,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,115}}</string>
                <key>sourceSize</key>
                <string>{125,115}</string>
            </dict>
            <key>BigMonster_jump_0011</key>
            <dict>
                <key>frame</key>
                <string>{{726,370},{160,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,112}}</string>
                <key>sourceSize</key>
                <string>{160,112}</string>
            </dict>
            <key>BigMonster_jump_0012</key>
            <dict>
                <key>frame</key>
                <string>{{726,370},{160,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,112}}</string>
                <key>sourceSize</key>
                <string>{160,112}</string>
            </dict>
            <key>BigMonster_jump_0013</key>
            <dict>
                <key>frame</key>
                <string>{{726,370},{160,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,112}}</string>
                <key>sourceSize</key>
                <string>{160,112}</string>
            </dict>
            <key>BigMonster_jump_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{155,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,108}}</string>
                <key>sourceSize</key>
                <string>{155,108}</string>
            </dict>
            <key>BigMonster_jump_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{155,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,108}}</string>
                <key>sourceSize</key>
                <string>{155,108}</string>
            </dict>
            <key>BigMonster_jump_0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{155,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,108}}</string>
                <key>sourceSize</key>
                <string>{155,108}</string>
            </dict>
            <key>BigMonster_jump_0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{155,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,108}}</string>
                <key>sourceSize</key>
                <string>{155,108}</string>
            </dict>
            <key>BigMonster_jump_0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{155,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,108}}</string>
                <key>sourceSize</key>
                <string>{155,108}</string>
            </dict>
            <key>BigMonster_jump_0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{155,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,108}}</string>
                <key>sourceSize</key>
                <string>{155,108}</string>
            </dict>
            <key>BigMonster_jump_0020</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{155,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,108}}</string>
                <key>sourceSize</key>
                <string>{155,108}</string>
            </dict>
            <key>BigMonster_jump_0021</key>
            <dict>
                <key>frame</key>
                <string>{{159,501},{160,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,132}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>BigMonster_jump_0022</key>
            <dict>
                <key>frame</key>
                <string>{{159,501},{160,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,132}}</string>
                <key>sourceSize</key>
                <string>{160,132}</string>
            </dict>
            <key>BigMonster_jump_0023</key>
            <dict>
                <key>frame</key>
                <string>{{321,501},{168,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,138}}</string>
                <key>sourceSize</key>
                <string>{168,138}</string>
            </dict>
            <key>BigMonster_jump_0024</key>
            <dict>
                <key>frame</key>
                <string>{{321,501},{168,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,138}}</string>
                <key>sourceSize</key>
                <string>{168,138}</string>
            </dict>
            <key>BigMonster_jump_0025</key>
            <dict>
                <key>frame</key>
                <string>{{491,501},{160,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,143}}</string>
                <key>sourceSize</key>
                <string>{160,143}</string>
            </dict>
            <key>BigMonster_jump_0026</key>
            <dict>
                <key>frame</key>
                <string>{{491,501},{160,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,143}}</string>
                <key>sourceSize</key>
                <string>{160,143}</string>
            </dict>
            <key>BigMonster_jump_0027</key>
            <dict>
                <key>frame</key>
                <string>{{653,501},{160,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,142}}</string>
                <key>sourceSize</key>
                <string>{160,142}</string>
            </dict>
            <key>BigMonster_jump_0028</key>
            <dict>
                <key>frame</key>
                <string>{{653,501},{160,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,142}}</string>
                <key>sourceSize</key>
                <string>{160,142}</string>
            </dict>
            <key>BigMonster_jump_0029</key>
            <dict>
                <key>frame</key>
                <string>{{815,501},{168,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,149}}</string>
                <key>sourceSize</key>
                <string>{168,149}</string>
            </dict>
            <key>BigMonster_jump_0030</key>
            <dict>
                <key>frame</key>
                <string>{{815,501},{168,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,149}}</string>
                <key>sourceSize</key>
                <string>{168,149}</string>
            </dict>
            <key>BigMonster_jump_0031</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{168,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,155}}</string>
                <key>sourceSize</key>
                <string>{168,155}</string>
            </dict>
            <key>BigMonster_jump_0032</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{168,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,155}}</string>
                <key>sourceSize</key>
                <string>{168,155}</string>
            </dict>
            <key>BigMonster_jump_0033</key>
            <dict>
                <key>frame</key>
                <string>{{172,652},{187,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,129}}</string>
                <key>sourceSize</key>
                <string>{187,129}</string>
            </dict>
            <key>BigMonster_jump_0034</key>
            <dict>
                <key>frame</key>
                <string>{{172,652},{187,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,129}}</string>
                <key>sourceSize</key>
                <string>{187,129}</string>
            </dict>
            <key>BigMonster_jump_0035</key>
            <dict>
                <key>frame</key>
                <string>{{361,652},{185,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,136}}</string>
                <key>sourceSize</key>
                <string>{185,136}</string>
            </dict>
            <key>BigMonster_jump_0036</key>
            <dict>
                <key>frame</key>
                <string>{{361,652},{185,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,136}}</string>
                <key>sourceSize</key>
                <string>{185,136}</string>
            </dict>
            <key>BigMonster_jump_0037</key>
            <dict>
                <key>frame</key>
                <string>{{548,652},{193,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,129}}</string>
                <key>sourceSize</key>
                <string>{193,129}</string>
            </dict>
            <key>BigMonster_jump_0038</key>
            <dict>
                <key>frame</key>
                <string>{{548,652},{193,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,129}}</string>
                <key>sourceSize</key>
                <string>{193,129}</string>
            </dict>
            <key>BigMonster_jump_0039</key>
            <dict>
                <key>frame</key>
                <string>{{743,652},{193,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,129}}</string>
                <key>sourceSize</key>
                <string>{193,129}</string>
            </dict>
            <key>BigMonster_jump_0040</key>
            <dict>
                <key>frame</key>
                <string>{{743,652},{193,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{193,129}}</string>
                <key>sourceSize</key>
                <string>{193,129}</string>
            </dict>
            <key>BigMonster_jump_0041</key>
            <dict>
                <key>frame</key>
                <string>{{2,809},{211,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,129}}</string>
                <key>sourceSize</key>
                <string>{211,129}</string>
            </dict>
            <key>BigMonster_jump_0042</key>
            <dict>
                <key>frame</key>
                <string>{{2,809},{211,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,129}}</string>
                <key>sourceSize</key>
                <string>{211,129}</string>
            </dict>
            <key>BigMonster_jump_0043</key>
            <dict>
                <key>frame</key>
                <string>{{215,809},{159,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,131}}</string>
                <key>sourceSize</key>
                <string>{159,131}</string>
            </dict>
            <key>BigMonster_jump_0044</key>
            <dict>
                <key>frame</key>
                <string>{{215,809},{159,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,131}}</string>
                <key>sourceSize</key>
                <string>{159,131}</string>
            </dict>
            <key>BigMonster_jump_0045</key>
            <dict>
                <key>frame</key>
                <string>{{376,809},{145,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,133}}</string>
                <key>sourceSize</key>
                <string>{145,133}</string>
            </dict>
            <key>big_monster_frosting_0000</key>
            <dict>
                <key>frame</key>
                <string>{{523,809},{66,64}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{70,64}</string>
            </dict>
            <key>big_monster_frosting_0001</key>
            <dict>
                <key>frame</key>
                <string>{{591,809},{66,65}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{70,65}</string>
            </dict>
            <key>big_monster_frosting_0002</key>
            <dict>
                <key>frame</key>
                <string>{{659,809},{66,65}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{70,69}</string>
            </dict>
            <key>big_monster_frosting_0003</key>
            <dict>
                <key>frame</key>
                <string>{{727,809},{66,64}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{70,68}</string>
            </dict>
            <key>foot_bright</key>
            <dict>
                <key>frame</key>
                <string>{{795,809},{53,50}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{53,50}}</string>
                <key>sourceSize</key>
                <string>{59,58}</string>
            </dict>
            <key>foot_dark</key>
            <dict>
                <key>frame</key>
                <string>{{850,809},{54,51}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{54,51}}</string>
                <key>sourceSize</key>
                <string>{62,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>big_monster.png</string>
            <key>size</key>
            <string>{985,944}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2a8b266247028b146a53654aebaa719$</string>
            <key>textureFileName</key>
            <string>big_monster.png</string>
        </dict>
    </dict>
</plist>
