<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BigMonster_ext_0000</key>
            <dict>
                <key>frame</key>
                <string>{{327,77},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>BigMonster_ext_0001</key>
            <dict>
                <key>frame</key>
                <string>{{327,77},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>BigMonster_ext_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>BigMonster_ext_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>BigMonster_ext_0004</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>BigMonster_ext_0005</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>BigMonster_ext_0006</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>BigMonster_ext_0007</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>BigMonster_ext_0008</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>BigMonster_ext_0009</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>BigMonster_ext_0010</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>BigMonster_ext_0011</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>BigMonster_ext_0012</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>BigMonster_ext_0013</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>BigMonster_ext_0014</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{84,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,72}}</string>
                <key>sourceSize</key>
                <string>{84,72}</string>
            </dict>
            <key>BigMonster_ext_0015</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{84,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,72}}</string>
                <key>sourceSize</key>
                <string>{84,72}</string>
            </dict>
            <key>BigMonster_ext_0016</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{78,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,71}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>BigMonster_ext_0017</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{78,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,71}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>BigMonster_ext_0018</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{78,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,71}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>BigMonster_ext_0019</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{84,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,72}}</string>
                <key>sourceSize</key>
                <string>{84,72}</string>
            </dict>
            <key>BigMonster_ext_0020</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{84,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,72}}</string>
                <key>sourceSize</key>
                <string>{84,72}</string>
            </dict>
            <key>BigMonster_ext_0021</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{78,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,71}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>BigMonster_ext_0022</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{78,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,71}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>BigMonster_ext_0023</key>
            <dict>
                <key>frame</key>
                <string>{{333,2},{78,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,71}}</string>
                <key>sourceSize</key>
                <string>{78,71}</string>
            </dict>
            <key>BigMonster_ext_0024</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>BigMonster_ext_0025</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{83,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,72}}</string>
                <key>sourceSize</key>
                <string>{83,72}</string>
            </dict>
            <key>BigMonster_ext_0026</key>
            <dict>
                <key>frame</key>
                <string>{{87,77},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>BigMonster_ext_0027</key>
            <dict>
                <key>frame</key>
                <string>{{87,77},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>BigMonster_ext_0028</key>
            <dict>
                <key>frame</key>
                <string>{{167,77},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>BigMonster_ext_0029</key>
            <dict>
                <key>frame</key>
                <string>{{167,77},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>BigMonster_ext_0030</key>
            <dict>
                <key>frame</key>
                <string>{{247,77},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>BigMonster_ext_0031</key>
            <dict>
                <key>frame</key>
                <string>{{247,77},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>BigMonster_ext_0032</key>
            <dict>
                <key>frame</key>
                <string>{{327,77},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>BigMonster_ext_0033</key>
            <dict>
                <key>frame</key>
                <string>{{327,77},{78,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,73}}</string>
                <key>sourceSize</key>
                <string>{78,73}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0000</key>
            <dict>
                <key>frame</key>
                <string>{{407,77},{46,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{46,48}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0001</key>
            <dict>
                <key>frame</key>
                <string>{{455,77},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{57,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,55}}</string>
                <key>sourceSize</key>
                <string>{57,55}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0003</key>
            <dict>
                <key>frame</key>
                <string>{{61,152},{57,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,58}}</string>
                <key>sourceSize</key>
                <string>{57,58}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0004</key>
            <dict>
                <key>frame</key>
                <string>{{120,152},{65,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,61}}</string>
                <key>sourceSize</key>
                <string>{65,61}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0005</key>
            <dict>
                <key>frame</key>
                <string>{{187,152},{66,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,64}}</string>
                <key>sourceSize</key>
                <string>{66,64}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0006</key>
            <dict>
                <key>frame</key>
                <string>{{255,152},{69,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,70}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0007</key>
            <dict>
                <key>frame</key>
                <string>{{326,152},{69,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,70}}</string>
                <key>sourceSize</key>
                <string>{69,70}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0008</key>
            <dict>
                <key>frame</key>
                <string>{{397,152},{73,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,77}}</string>
                <key>sourceSize</key>
                <string>{73,77}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{73,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,77}}</string>
                <key>sourceSize</key>
                <string>{73,77}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0010</key>
            <dict>
                <key>frame</key>
                <string>{{77,231},{73,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,78}}</string>
                <key>sourceSize</key>
                <string>{73,78}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0011</key>
            <dict>
                <key>frame</key>
                <string>{{152,231},{73,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,79}}</string>
                <key>sourceSize</key>
                <string>{73,79}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0012</key>
            <dict>
                <key>frame</key>
                <string>{{227,231},{74,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,81}}</string>
                <key>sourceSize</key>
                <string>{74,81}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0013</key>
            <dict>
                <key>frame</key>
                <string>{{303,231},{74,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,81}}</string>
                <key>sourceSize</key>
                <string>{74,81}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0014</key>
            <dict>
                <key>frame</key>
                <string>{{379,231},{73,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,79}}</string>
                <key>sourceSize</key>
                <string>{73,79}</string>
            </dict>
            <key>BigMonster_frosting_destroy_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{64,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,67}}</string>
                <key>sourceSize</key>
                <string>{64,67}</string>
            </dict>
            <key>BigMonster_jump_0000</key>
            <dict>
                <key>frame</key>
                <string>{{68,314},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>BigMonster_jump_0001</key>
            <dict>
                <key>frame</key>
                <string>{{68,314},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>BigMonster_jump_0002</key>
            <dict>
                <key>frame</key>
                <string>{{148,314},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>BigMonster_jump_0003</key>
            <dict>
                <key>frame</key>
                <string>{{148,314},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>BigMonster_jump_0004</key>
            <dict>
                <key>frame</key>
                <string>{{228,314},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>BigMonster_jump_0005</key>
            <dict>
                <key>frame</key>
                <string>{{228,314},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>BigMonster_jump_0006</key>
            <dict>
                <key>frame</key>
                <string>{{228,314},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>BigMonster_jump_0007</key>
            <dict>
                <key>frame</key>
                <string>{{228,314},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>BigMonster_jump_0008</key>
            <dict>
                <key>frame</key>
                <string>{{228,314},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>BigMonster_jump_0009</key>
            <dict>
                <key>frame</key>
                <string>{{228,314},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>BigMonster_jump_0010</key>
            <dict>
                <key>frame</key>
                <string>{{228,314},{78,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,72}}</string>
                <key>sourceSize</key>
                <string>{78,72}</string>
            </dict>
            <key>BigMonster_jump_0011</key>
            <dict>
                <key>frame</key>
                <string>{{308,314},{100,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,70}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>BigMonster_jump_0012</key>
            <dict>
                <key>frame</key>
                <string>{{308,314},{100,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,70}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>BigMonster_jump_0013</key>
            <dict>
                <key>frame</key>
                <string>{{308,314},{100,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,70}}</string>
                <key>sourceSize</key>
                <string>{100,70}</string>
            </dict>
            <key>BigMonster_jump_0014</key>
            <dict>
                <key>frame</key>
                <string>{{410,314},{97,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,68}}</string>
                <key>sourceSize</key>
                <string>{97,68}</string>
            </dict>
            <key>BigMonster_jump_0015</key>
            <dict>
                <key>frame</key>
                <string>{{410,314},{97,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,68}}</string>
                <key>sourceSize</key>
                <string>{97,68}</string>
            </dict>
            <key>BigMonster_jump_0016</key>
            <dict>
                <key>frame</key>
                <string>{{410,314},{97,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,68}}</string>
                <key>sourceSize</key>
                <string>{97,68}</string>
            </dict>
            <key>BigMonster_jump_0017</key>
            <dict>
                <key>frame</key>
                <string>{{410,314},{97,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,68}}</string>
                <key>sourceSize</key>
                <string>{97,68}</string>
            </dict>
            <key>BigMonster_jump_0018</key>
            <dict>
                <key>frame</key>
                <string>{{410,314},{97,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,68}}</string>
                <key>sourceSize</key>
                <string>{97,68}</string>
            </dict>
            <key>BigMonster_jump_0019</key>
            <dict>
                <key>frame</key>
                <string>{{410,314},{97,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,68}}</string>
                <key>sourceSize</key>
                <string>{97,68}</string>
            </dict>
            <key>BigMonster_jump_0020</key>
            <dict>
                <key>frame</key>
                <string>{{410,314},{97,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,68}}</string>
                <key>sourceSize</key>
                <string>{97,68}</string>
            </dict>
            <key>BigMonster_jump_0021</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{100,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,83}}</string>
                <key>sourceSize</key>
                <string>{100,83}</string>
            </dict>
            <key>BigMonster_jump_0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{100,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,83}}</string>
                <key>sourceSize</key>
                <string>{100,83}</string>
            </dict>
            <key>BigMonster_jump_0023</key>
            <dict>
                <key>frame</key>
                <string>{{104,388},{105,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,86}}</string>
                <key>sourceSize</key>
                <string>{105,86}</string>
            </dict>
            <key>BigMonster_jump_0024</key>
            <dict>
                <key>frame</key>
                <string>{{104,388},{105,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,86}}</string>
                <key>sourceSize</key>
                <string>{105,86}</string>
            </dict>
            <key>BigMonster_jump_0025</key>
            <dict>
                <key>frame</key>
                <string>{{211,388},{100,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,89}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>BigMonster_jump_0026</key>
            <dict>
                <key>frame</key>
                <string>{{211,388},{100,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,89}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>BigMonster_jump_0027</key>
            <dict>
                <key>frame</key>
                <string>{{313,388},{100,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,89}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>BigMonster_jump_0028</key>
            <dict>
                <key>frame</key>
                <string>{{313,388},{100,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,89}}</string>
                <key>sourceSize</key>
                <string>{100,89}</string>
            </dict>
            <key>BigMonster_jump_0029</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{105,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,93}}</string>
                <key>sourceSize</key>
                <string>{105,93}</string>
            </dict>
            <key>BigMonster_jump_0030</key>
            <dict>
                <key>frame</key>
                <string>{{2,479},{105,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,93}}</string>
                <key>sourceSize</key>
                <string>{105,93}</string>
            </dict>
            <key>BigMonster_jump_0031</key>
            <dict>
                <key>frame</key>
                <string>{{109,479},{105,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,97}}</string>
                <key>sourceSize</key>
                <string>{105,97}</string>
            </dict>
            <key>BigMonster_jump_0032</key>
            <dict>
                <key>frame</key>
                <string>{{109,479},{105,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,97}}</string>
                <key>sourceSize</key>
                <string>{105,97}</string>
            </dict>
            <key>BigMonster_jump_0033</key>
            <dict>
                <key>frame</key>
                <string>{{216,479},{117,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,81}}</string>
                <key>sourceSize</key>
                <string>{117,81}</string>
            </dict>
            <key>BigMonster_jump_0034</key>
            <dict>
                <key>frame</key>
                <string>{{216,479},{117,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,81}}</string>
                <key>sourceSize</key>
                <string>{117,81}</string>
            </dict>
            <key>BigMonster_jump_0035</key>
            <dict>
                <key>frame</key>
                <string>{{335,479},{116,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,85}}</string>
                <key>sourceSize</key>
                <string>{116,85}</string>
            </dict>
            <key>BigMonster_jump_0036</key>
            <dict>
                <key>frame</key>
                <string>{{335,479},{116,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,85}}</string>
                <key>sourceSize</key>
                <string>{116,85}</string>
            </dict>
            <key>BigMonster_jump_0037</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{121,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,81}}</string>
                <key>sourceSize</key>
                <string>{121,81}</string>
            </dict>
            <key>BigMonster_jump_0038</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{121,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,81}}</string>
                <key>sourceSize</key>
                <string>{121,81}</string>
            </dict>
            <key>BigMonster_jump_0039</key>
            <dict>
                <key>frame</key>
                <string>{{125,578},{121,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,81}}</string>
                <key>sourceSize</key>
                <string>{121,81}</string>
            </dict>
            <key>BigMonster_jump_0040</key>
            <dict>
                <key>frame</key>
                <string>{{125,578},{121,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,81}}</string>
                <key>sourceSize</key>
                <string>{121,81}</string>
            </dict>
            <key>BigMonster_jump_0041</key>
            <dict>
                <key>frame</key>
                <string>{{248,578},{132,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,81}}</string>
                <key>sourceSize</key>
                <string>{132,81}</string>
            </dict>
            <key>BigMonster_jump_0042</key>
            <dict>
                <key>frame</key>
                <string>{{248,578},{132,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,81}}</string>
                <key>sourceSize</key>
                <string>{132,81}</string>
            </dict>
            <key>BigMonster_jump_0043</key>
            <dict>
                <key>frame</key>
                <string>{{382,578},{99,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,82}}</string>
                <key>sourceSize</key>
                <string>{99,82}</string>
            </dict>
            <key>BigMonster_jump_0044</key>
            <dict>
                <key>frame</key>
                <string>{{382,578},{99,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{99,82}}</string>
                <key>sourceSize</key>
                <string>{99,82}</string>
            </dict>
            <key>BigMonster_jump_0045</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{91,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,83}}</string>
                <key>sourceSize</key>
                <string>{91,83}</string>
            </dict>
            <key>big_monster_frosting_0000</key>
            <dict>
                <key>frame</key>
                <string>{{95,662},{42,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{44,40}</string>
            </dict>
            <key>big_monster_frosting_0001</key>
            <dict>
                <key>frame</key>
                <string>{{139,662},{42,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{44,41}</string>
            </dict>
            <key>big_monster_frosting_0002</key>
            <dict>
                <key>frame</key>
                <string>{{183,662},{42,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>big_monster_frosting_0003</key>
            <dict>
                <key>frame</key>
                <string>{{227,662},{42,41}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,41}}</string>
                <key>sourceSize</key>
                <string>{44,43}</string>
            </dict>
            <key>foot_bright</key>
            <dict>
                <key>frame</key>
                <string>{{271,662},{33,32}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{33,32}}</string>
                <key>sourceSize</key>
                <string>{37,36}</string>
            </dict>
            <key>foot_dark</key>
            <dict>
                <key>frame</key>
                <string>{{306,662},{35,33}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{35,33}}</string>
                <key>sourceSize</key>
                <string>{39,37}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>big_monster@2x.png</string>
            <key>size</key>
            <string>{509,747}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4821d5ec1536e778dde730eb1e5f9cb9$</string>
            <key>textureFileName</key>
            <string>big_monster@2x.png</string>
        </dict>
    </dict>
</plist>
