<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird_destroy0000</key>
            <dict>
                <key>frame</key>
                <string>{{190,0},{62,60}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,50},{62,60}}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
            <key>bird_destroy0001</key>
            <dict>
                <key>frame</key>
                <string>{{190,0},{62,60}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,50},{62,60}}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
            <key>bird_destroy0002</key>
            <dict>
                <key>frame</key>
                <string>{{76,914},{74,74}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,43},{74,74}}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
            <key>bird_destroy0003</key>
            <dict>
                <key>frame</key>
                <string>{{76,914},{74,74}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,43},{74,74}}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
            <key>bird_destroy0004</key>
            <dict>
                <key>frame</key>
                <string>{{76,914},{74,74}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,43},{74,74}}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
            <key>bird_destroy0005</key>
            <dict>
                <key>frame</key>
                <string>{{152,894},{74,72}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,44},{74,72}}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
            <key>bird_destroy0006</key>
            <dict>
                <key>frame</key>
                <string>{{0,914},{74,74}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,43},{74,74}}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
            <key>bird_destroy0007</key>
            <dict>
                <key>frame</key>
                <string>{{126,818},{76,74}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,43},{76,74}}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
            <key>bird_destroy0008</key>
            <dict>
                <key>frame</key>
                <string>{{0,838},{76,74}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,43},{76,74}}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
            <key>bird_destroy0009</key>
            <dict>
                <key>frame</key>
                <string>{{0,762},{76,74}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,43},{76,74}}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
            <key>bird_destroy0010</key>
            <dict>
                <key>frame</key>
                <string>{{128,742},{76,74}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,43},{76,74}}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
            <key>bird_destroy0011</key>
            <dict>
                <key>frame</key>
                <string>{{160,452},{76,74}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,43},{76,74}}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
            <key>bird_destroy0012</key>
            <dict>
                <key>frame</key>
                <string>{{174,284},{76,74}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,44},{76,74}}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
            <key>bird_destroy0013</key>
            <dict>
                <key>frame</key>
                <string>{{174,206},{78,76}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,42},{78,76}}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
            <key>bird_destroy0014</key>
            <dict>
                <key>frame</key>
                <string>{{160,360},{94,90}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,36},{94,90}}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
            <key>bird_destroy0015</key>
            <dict>
                <key>frame</key>
                <string>{{144,528},{110,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{110,106}}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
            <key>bird_destroy0016</key>
            <dict>
                <key>frame</key>
                <string>{{0,640},{126,120}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{126,120}}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
            <key>bird_destroy0017</key>
            <dict>
                <key>frame</key>
                <string>{{0,502},{142,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{142,136}}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
            <key>bird_destroy0018</key>
            <dict>
                <key>frame</key>
                <string>{{0,350},{158,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{158,150}}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
            <key>bird_destroy0019</key>
            <dict>
                <key>frame</key>
                <string>{{0,184},{172,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,164}}</string>
                <key>sourceSize</key>
                <string>{172,164}</string>
            </dict>
            <key>bird_effect_point0000</key>
            <dict>
                <key>frame</key>
                <string>{{204,838},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>bird_effect_point0001</key>
            <dict>
                <key>frame</key>
                <string>{{78,858},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>bird_effect_point0002</key>
            <dict>
                <key>frame</key>
                <string>{{78,810},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>bird_effect_point0003</key>
            <dict>
                <key>frame</key>
                <string>{{78,762},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>bird_effect_point0004</key>
            <dict>
                <key>frame</key>
                <string>{{206,790},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>bird_effect_point0005</key>
            <dict>
                <key>frame</key>
                <string>{{206,742},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>bird_effect_point0006</key>
            <dict>
                <key>frame</key>
                <string>{{190,158},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>bird_effect_point0007</key>
            <dict>
                <key>frame</key>
                <string>{{190,110},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>bird_effect_point0008</key>
            <dict>
                <key>frame</key>
                <string>{{190,62},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>bird_effect_point0009</key>
            <dict>
                <key>frame</key>
                <string>{{204,838},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>bird_galaxy0000</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{182,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,188}}</string>
                <key>sourceSize</key>
                <string>{182,188}</string>
            </dict>
            <key>bird_star0000</key>
            <dict>
                <key>frame</key>
                <string>{{144,636},{104,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,104}}</string>
                <key>sourceSize</key>
                <string>{104,104}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bird_ext.png</string>
            <key>size</key>
            <string>{254,988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afdca2943d30756c5f840dc71d3bdabc$</string>
            <key>textureFileName</key>
            <string>bird_ext.png</string>
        </dict>
    </dict>
</plist>
