<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin_destroy00</key>
            <dict>
                <key>frame</key>
                <string>{{0,216},{38,40}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{38,40}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>coin_destroy01</key>
            <dict>
                <key>frame</key>
                <string>{{92,142},{38,36}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,17},{38,36}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>coin_destroy02</key>
            <dict>
                <key>frame</key>
                <string>{{46,118},{38,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{38,46}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>coin_destroy03</key>
            <dict>
                <key>frame</key>
                <string>{{86,98},{40,42}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{40,42}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>coin_destroy04</key>
            <dict>
                <key>frame</key>
                <string>{{46,214},{42,42}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{42,42}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>coin_destroy05</key>
            <dict>
                <key>frame</key>
                <string>{{0,118},{44,48}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{44,48}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>coin_destroy06</key>
            <dict>
                <key>frame</key>
                <string>{{86,52},{42,44}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{42,44}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>coin_destroy07</key>
            <dict>
                <key>frame</key>
                <string>{{46,166},{44,46}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{44,46}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>coin_destroy08</key>
            <dict>
                <key>frame</key>
                <string>{{0,168},{44,46}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{44,46}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>coin_destroy09</key>
            <dict>
                <key>frame</key>
                <string>{{60,0},{48,50}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{48,50}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>coin_destroy10</key>
            <dict>
                <key>frame</key>
                <string>{{0,60},{54,56}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>coin_destroy11</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,58}}</string>
                <key>sourceSize</key>
                <string>{58,58}</string>
            </dict>
            <key>coin_normal</key>
            <dict>
                <key>frame</key>
                <string>{{90,214},{38,38}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{38,38}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coin@2x.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:374bea33e05f38cb16382a03d0df32d4$</string>
            <key>textureFileName</key>
            <string>coin@2x.png</string>
        </dict>
    </dict>
</plist>
