<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coin_destroy00</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{59,60}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,23},{59,60}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>coin_destroy01</key>
            <dict>
                <key>frame</key>
                <string>{{61,0},{59,58}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{59,58}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>coin_destroy02</key>
            <dict>
                <key>frame</key>
                <string>{{122,0},{59,70}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{59,70}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>coin_destroy03</key>
            <dict>
                <key>frame</key>
                <string>{{183,0},{61,64}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{61,64}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>coin_destroy04</key>
            <dict>
                <key>frame</key>
                <string>{{0,72},{63,64}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{63,64}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>coin_destroy05</key>
            <dict>
                <key>frame</key>
                <string>{{65,72},{69,74}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{69,74}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>coin_destroy06</key>
            <dict>
                <key>frame</key>
                <string>{{136,72},{65,68}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,6},{65,68}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>coin_destroy07</key>
            <dict>
                <key>frame</key>
                <string>{{0,148},{67,72}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{67,72}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>coin_destroy08</key>
            <dict>
                <key>frame</key>
                <string>{{69,148},{67,70}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{67,70}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>coin_destroy09</key>
            <dict>
                <key>frame</key>
                <string>{{138,148},{75,78}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{75,78}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>coin_destroy10</key>
            <dict>
                <key>frame</key>
                <string>{{0,228},{85,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{85,88}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>coin_destroy11</key>
            <dict>
                <key>frame</key>
                <string>{{87,228},{93,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,92}}</string>
                <key>sourceSize</key>
                <string>{93,92}</string>
            </dict>
            <key>coin_normal</key>
            <dict>
                <key>frame</key>
                <string>{{182,228},{58,60}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{58,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>coin.png</string>
            <key>size</key>
            <string>{244,320}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95e2f7ea43875a7d098186ef17123cc1$</string>
            <key>textureFileName</key>
            <string>coin.png</string>
        </dict>
    </dict>
</plist>
