<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>crystal_anim0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{191,1},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{191,63},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{134,194},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{32,197},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{191,194},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{196,125},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{248,1},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{248,63},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{248,187},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{253,125},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{305,1},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{305,63},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{248,249},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{32,259},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{89,256},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{146,256},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{203,311},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{89,318},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1,321},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{146,318},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,311},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,311},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,311},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,311},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,311},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0025</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,311},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0026</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,311},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_anim0027</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,61}</string>
				<key>spriteSourceSize</key>
				<string>{56,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,311},{56,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_blue0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{67,66}</string>
				<key>spriteSourceSize</key>
				<string>{67,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1,93},{67,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_bomb0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{136,65},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_bomb0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{136,65},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_bomb0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{136,65},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_bomb0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{136,65},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_bomb0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{136,65},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_bomb0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{136,65},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_bomb0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{136,65},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_bomb0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{136,65},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_bomb0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{136,65},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_bomb0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{136,65},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_bomb0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{136,65},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_bomb0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{136,65},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_bomb0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{136,65},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_bomb0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{136,65},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_bomb0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{136,65},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_bomb0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{368,177},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_bomb0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{368,177},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_bomb0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{368,177},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_bomb0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{368,177},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_bomb0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{368,177},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_bomb0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{368,177},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_bomb0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{368,177},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_bomb0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{368,177},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_bomb0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{368,177},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_bomb0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{136,65},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_green0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,60}</string>
				<key>spriteSourceSize</key>
				<string>{61,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{134,133},{61,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_orange0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,63}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,63}</string>
				<key>spriteSourceSize</key>
				<string>{66,63}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{124,1},{66,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_purple0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,63}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,63}</string>
				<key>spriteSourceSize</key>
				<string>{64,63}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{69,133},{64,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_red0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,65}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,65}</string>
				<key>spriteSourceSize</key>
				<string>{66,65}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{69,67},{66,65}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>crystal_yellow0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,65}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,65}</string>
				<key>spriteSourceSize</key>
				<string>{66,65}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{57,1},{66,65}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gift_blue0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,51}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,51}</string>
				<key>spriteSourceSize</key>
				<string>{58,51}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{362,53},{58,51}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gift_green0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,51}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{57,51}</string>
				<key>spriteSourceSize</key>
				<string>{57,51}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{305,229},{57,51}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gift_light0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{30,128}</string>
				<key>spriteSourceSize</key>
				<string>{30,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1,160},{30,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gift_orange0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,51}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{57,51}</string>
				<key>spriteSourceSize</key>
				<string>{57,51}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{317,281},{57,51}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gift_purple0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,51}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,51}</string>
				<key>spriteSourceSize</key>
				<string>{58,51}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{310,125},{58,51}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gift_red0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,51}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{57,51}</string>
				<key>spriteSourceSize</key>
				<string>{57,51}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{310,177},{57,51}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gift_star0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,91}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{55,91}</string>
				<key>spriteSourceSize</key>
				<string>{55,91}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1,1},{55,91}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gift_yellow0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,51}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,51}</string>
				<key>spriteSourceSize</key>
				<string>{58,51}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{362,1},{58,51}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>gift.png</string>
				<key>textureFileName</key>
				<string>gift</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
