<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>crystal_anim0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{119,0},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0001</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{119,39},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0002</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83,121},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0003</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{20,123},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0004</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{119,121},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0005</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{122,78},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0006</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{155,0},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0007</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{155,39},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0008</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{155,116},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0009</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{158,78},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0010</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{190,0},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0011</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{190,39},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0012</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{155,155},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0013</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{20,161},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0014</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{55,160},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0015</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{91,160},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0016</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{126,194},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0017</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{55,198},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0018</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0,200},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0019</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{91,198},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0020</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{162,194},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0021</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{162,194},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0022</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{162,194},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0023</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{162,194},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0024</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{162,194},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0025</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{162,194},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0026</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{162,194},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_anim0027</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,38}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,38}</string>
			<key>spriteSourceSize</key>
			<string>{35,38}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{162,194},{35,38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_blue0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,41}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,41}</string>
			<key>spriteSourceSize</key>
			<string>{41,41}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0,58},{41,41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_bomb0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{85,40},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_bomb0001</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{85,40},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_bomb0002</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{85,40},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_bomb0003</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{85,40},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_bomb0004</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{85,40},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_bomb0005</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{85,40},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_bomb0006</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{85,40},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_bomb0007</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{85,40},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_bomb0008</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{85,40},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_bomb0009</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{85,40},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_bomb0010</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{85,40},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_bomb0011</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{85,40},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_bomb0012</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{85,40},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_bomb0013</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{85,40},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_bomb0014</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{85,40},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_bomb0015</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{230,110},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_bomb0016</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{230,110},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_bomb0017</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{230,110},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_bomb0018</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{230,110},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_bomb0019</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{230,110},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_bomb0020</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{230,110},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_bomb0021</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{230,110},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_bomb0022</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{230,110},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_bomb0023</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{230,110},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_bomb0024</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{31,31}</string>
			<key>spriteSourceSize</key>
			<string>{31,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{85,40},{31,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_green0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{38,37}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{38,37}</string>
			<key>spriteSourceSize</key>
			<string>{38,37}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{83,83},{38,37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_orange0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,39}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,39}</string>
			<key>spriteSourceSize</key>
			<string>{41,39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{77,0},{41,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_purple0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{40,39}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{40,39}</string>
			<key>spriteSourceSize</key>
			<string>{40,39}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{43,83},{40,39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_red0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,40}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,40}</string>
			<key>spriteSourceSize</key>
			<string>{41,40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{43,41},{41,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>crystal_yellow0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{41,40}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{41,40}</string>
			<key>spriteSourceSize</key>
			<string>{41,40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{35,0},{41,40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gift_blue0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,31}</string>
			<key>spriteSourceSize</key>
			<string>{36,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{226,33},{36,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gift_green0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,31}</string>
			<key>spriteSourceSize</key>
			<string>{35,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{190,143},{35,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gift_light0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{18,80}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{18,80}</string>
			<key>spriteSourceSize</key>
			<string>{18,80}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0,100},{18,80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gift_orange0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,31}</string>
			<key>spriteSourceSize</key>
			<string>{35,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{198,175},{35,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gift_purple0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,31}</string>
			<key>spriteSourceSize</key>
			<string>{36,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{193,78},{36,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gift_red0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{35,31}</string>
			<key>spriteSourceSize</key>
			<string>{35,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{193,110},{35,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gift_star0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,56}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{34,56}</string>
			<key>spriteSourceSize</key>
			<string>{34,56}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0,0},{34,56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>gift_yellow0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,31}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{36,31}</string>
			<key>spriteSourceSize</key>
			<string>{36,31}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{226,0},{36,31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{261,219}</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>gift@2x.png</string>
			<key>premultipliedAlpha</key>
			<true/>
			<key>textureFileExtension</key>
			<string>png</string>
			<key>textureFileName</key>
			<string>gift</string>
		</dict>
	</dict>
</dict>
</plist>
