<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fb_icon0000</key>
			<dict>
				<key>frame</key>
				<string>{{157,196},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,51}}</string>
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>loading_button0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,56},{218,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{218,101}}</string>
				<key>sourceSize</key>
				<string>{218,101}</string>
			</dict>
			<key>loading_button_blue0000</key>
			<dict>
				<key>frame</key>
				<string>{{220,56},{195,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{195,69}}</string>
				<key>sourceSize</key>
				<string>{195,69}</string>
			</dict>
			<key>loading_progress_background0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{424,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{424,54}}</string>
				<key>sourceSize</key>
				<string>{424,54}</string>
			</dict>
			<key>loading_progress_bar0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,159},{405,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{405,35}}</string>
				<key>sourceSize</key>
				<string>{405,35}</string>
			</dict>
			<key>loading_star_icon0000</key>
			<dict>
				<key>frame</key>
				<string>{{275,127},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>preloadingscene_box0000</key>
			<dict>
				<key>frame</key>
				<string>{{250,127},{23,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,24}}</string>
				<key>sourceSize</key>
				<string>{23,24}</string>
			</dict>
			<key>preloadingscene_check0000</key>
			<dict>
				<key>frame</key>
				<string>{{220,127},{28,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,23}}</string>
				<key>sourceSize</key>
				<string>{28,23}</string>
			</dict>
			<key>preloadingscene_greenbuttonline0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,196},{155,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,45}}</string>
				<key>sourceSize</key>
				<string>{155,45}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>loading@2x.png</string>
			<key>size</key>
			<string>{426,250}</string>
			<key>textureFileName</key>
			<string>loading@2x.png</string>
		</dict>
	</dict>
</plist>
