<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fb_icon0000</key>
			<dict>
				<key>frame</key>
				<string>{{250,304},{81,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,80}}</string>
				<key>sourceSize</key>
				<string>{81,80}</string>
			</dict>
			<key>loading_button0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,86},{349,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{349,162}}</string>
				<key>sourceSize</key>
				<string>{349,162}</string>
			</dict>
			<key>loading_button_blue0000</key>
			<dict>
				<key>frame</key>
				<string>{{351,86},{303,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{303,107}}</string>
				<key>sourceSize</key>
				<string>{303,107}</string>
			</dict>
			<key>loading_progress_background0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{676,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{676,84}}</string>
				<key>sourceSize</key>
				<string>{676,84}</string>
			</dict>
			<key>loading_progress_bar0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,250},{646,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{646,52}}</string>
				<key>sourceSize</key>
				<string>{646,52}</string>
			</dict>
			<key>loading_star_icon0000</key>
			<dict>
				<key>frame</key>
				<string>{{433,195},{32,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,31}}</string>
				<key>sourceSize</key>
				<string>{32,31}</string>
			</dict>
			<key>preloadingscene_box0000</key>
			<dict>
				<key>frame</key>
				<string>{{397,195},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>preloadingscene_check0000</key>
			<dict>
				<key>frame</key>
				<string>{{351,195},{44,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,36}}</string>
				<key>sourceSize</key>
				<string>{44,36}</string>
			</dict>
			<key>preloadingscene_greenbuttonline0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,304},{248,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{248,72}}</string>
				<key>sourceSize</key>
				<string>{248,72}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>loading.png</string>
			<key>size</key>
			<string>{680,386}</string>
			<key>textureFileName</key>
			<string>loading.png</string>
		</dict>
	</dict>
</plist>
