<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>magic_tile_normal_0000</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{131,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,88}}</string>
                <key>sourceSize</key>
                <string>{131,88}</string>
            </dict>
            <key>magic_tile_red_0000</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{141,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,98}}</string>
                <key>sourceSize</key>
                <string>{141,98}</string>
            </dict>
            <key>magic_tile_yellow_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,98}}</string>
                <key>sourceSize</key>
                <string>{142,98}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>magic_tile@2x.png</string>
            <key>size</key>
            <string>{422,102}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d69f8fc23bca5ae79cc4e22f8cff47c$</string>
            <key>textureFileName</key>
            <string>magic_tile@2x.png</string>
        </dict>
    </dict>
</plist>
