<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>Lock0000.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,221},{52,51}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,3},{52,51}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,113},{52,51}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,3},{52,51}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,0},{52,51}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{52,51}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{106,223},{52,51}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,3},{52,51}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,223},{52,51}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,3},{52,51}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{160,167},{52,51}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,3},{52,51}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,221},{52,51}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,3},{52,51}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{155,113},{52,51}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,3},{52,51}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,167},{52,51}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,3},{52,51}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,113},{52,51}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,3},{52,51}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,61},{52,51}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{52,51}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{53,168},{53,52}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{53,52}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0012.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,225},{55,52}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{55,52}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0013.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,168},{55,52}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{55,52}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0014.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,112},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0015.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,56},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0016.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{55,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{55,55}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0017.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,0},{46,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,5},{46,45}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0018.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,81},{45,40}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,8},{45,40}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0019.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,38},{45,41}}</string>
			<key>offset</key>
			<string>{1,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,10},{45,41}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0020.png</key>
		<dict>
			<key>frame</key>
			<string>{{138,277},{45,41}}</string>
			<key>offset</key>
			<string>{1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,11},{45,41}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0021.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,277},{45,41}}</string>
			<key>offset</key>
			<string>{1,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,13},{45,41}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0022.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,281},{46,38}}</string>
			<key>offset</key>
			<string>{1,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,16},{46,38}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0023.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,0},{46,37}}</string>
			<key>offset</key>
			<string>{1,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,17},{46,37}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0024.png</key>
		<dict>
			<key>frame</key>
			<string>{{56,122},{45,35}}</string>
			<key>offset</key>
			<string>{1,-10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,20},{45,35}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0025.png</key>
		<dict>
			<key>frame</key>
			<string>{{185,275},{43,32}}</string>
			<key>offset</key>
			<string>{1,-11}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,22},{43,32}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0026.png</key>
		<dict>
			<key>frame</key>
			<string>{{70,277},{42,21}}</string>
			<key>offset</key>
			<string>{2,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,29},{42,21}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0027.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,45},{41,21}}</string>
			<key>offset</key>
			<string>{1,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{8,30},{41,21}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0028.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,3},{40,22}}</string>
			<key>offset</key>
			<string>{1,-15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,31},{40,22}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0029.png</key>
		<dict>
			<key>frame</key>
			<string>{{47,281},{38,21}}</string>
			<key>offset</key>
			<string>{1,-16}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,33},{38,21}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0030.png</key>
		<dict>
			<key>frame</key>
			<string>{{156,87},{38,18}}</string>
			<key>offset</key>
			<string>{0,-18}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,36},{38,18}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0031.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,221},{38,17}}</string>
			<key>offset</key>
			<string>{0,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,37},{38,17}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0032.png</key>
		<dict>
			<key>frame</key>
			<string>{{107,46},{38,13}}</string>
			<key>offset</key>
			<string>{-1,-19}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,40},{38,13}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0033.png</key>
		<dict>
			<key>frame</key>
			<string>{{211,261},{38,12}}</string>
			<key>offset</key>
			<string>{-2,-21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,42},{38,12}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0034.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,52},{15,10}}</string>
			<key>offset</key>
			<string>{10,-22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,45},{15,10}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0035.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,122},{16,7}}</string>
			<key>offset</key>
			<string>{11,-23}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{31,47},{16,7}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0036.png</key>
		<dict>
			<key>frame</key>
			<string>{{92,140},{18,5}}</string>
			<key>offset</key>
			<string>{13,-25}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{31,50},{18,5}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0037.png</key>
		<dict>
			<key>frame</key>
			<string>{{102,38},{21,3}}</string>
			<key>offset</key>
			<string>{13,-25}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{30,51},{21,3}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
		<key>Lock0038.png</key>
		<dict>
			<key>frame</key>
			<string>{{158,0},{25,2}}</string>
			<key>offset</key>
			<string>{14,-26}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,52},{25,2}}</string>
			<key>sourceSize</key>
			<string>{55,55}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>mapLock@2x.png</string>
		<key>size</key>
		<string>{250,320}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:e7e1136e41d5d4f588798ae1595b28b8$</string>
		<key>textureFileName</key>
		<string>mapLock@2x.png</string>
	</dict>
</dict>
</plist>
