<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Lock0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,354},{84,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{84,82}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,182},{84,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{84,82}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,0},{84,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{84,82}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,358},{84,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{84,82}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,358},{84,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{84,82}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,268},{84,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{84,82}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,354},{84,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{84,82}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,182},{84,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{84,82}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,268},{84,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{84,82}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,182},{84,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{84,82}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,98},{84,82}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{84,82}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,270},{86,84}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{86,84}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,360},{88,84}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{88,84}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,270},{88,84}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{88,84}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,180},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,90},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,0},{74,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{74,72}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,130},{72,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,14},{72,64}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,62},{72,66}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{72,66}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,444},{72,66}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{72,66}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,444},{72,66}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{72,66}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,450},{74,62}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,26},{74,62}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,0},{74,60}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{74,60}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,196},{72,56}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,32},{72,56}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,440},{70,52}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,36},{70,52}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,444},{68,34}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,47},{68,34}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,72},{66,34}}</string>
                <key>offset</key>
                <string>{3,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,49},{66,34}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,6},{64,36}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,51},{64,36}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,450},{62,34}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,54},{62,34}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,140},{62,30}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,58},{62,30}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,354},{62,28}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,60},{62,28}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,74},{62,22}}</string>
                <key>offset</key>
                <string>{-3,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,64},{62,22}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,418},{62,20}}</string>
                <key>offset</key>
                <string>{-4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,68},{62,20}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,84},{24,16}}</string>
                <key>offset</key>
                <string>{17,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,72},{24,16}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,196},{26,12}}</string>
                <key>offset</key>
                <string>{19,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,76},{26,12}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,224},{30,8}}</string>
                <key>offset</key>
                <string>{21,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,80},{30,8}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,62},{34,6}}</string>
                <key>offset</key>
                <string>{22,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,82},{34,6}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>Lock0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,0},{40,4}}</string>
                <key>offset</key>
                <string>{23,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,84},{40,4}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mapLock.png</string>
            <key>size</key>
            <string>{400,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7e1136e41d5d4f588798ae1595b28b8$</string>
            <key>textureFileName</key>
            <string>mapLock.png</string>
        </dict>
    </dict>
</plist>
