<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frosting10000.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,174},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>frosting10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,174},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>frosting10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,174},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>frosting10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,174},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>frosting10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,174},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>frosting10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,174},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>frosting10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,174},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>frosting10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,174},{43,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,43}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>frosting10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,131},{41,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>frosting10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,131},{41,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>frosting10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,90},{37,39}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{37,39}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>frosting10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,90},{37,39}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{37,39}}</string>
                <key>sourceSize</key>
                <string>{43,43}</string>
            </dict>
            <key>frosting20000.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,131},{40,40}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,131},{40,40}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,174},{42,42}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,131},{42,40}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,131},{42,40}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,131},{40,40}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,131},{40,40}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,131},{42,40}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,131},{42,40}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,131},{42,40}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,131},{42,40}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{42,40}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,174},{42,44}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{42,44}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting20012.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,224},{46,48}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{46,48}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting20013.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,224},{46,52}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{46,52}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting20014.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,224},{46,52}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{46,52}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting20015.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,224},{46,50}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{46,50}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting20016.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,224},{48,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{48,48}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting20017.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,224},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{50,48}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting20018.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,224},{52,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting20019.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,224},{52,50}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{52,50}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting20020.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,174},{52,48}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{52,48}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting20021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{50,48}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{50,48}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting20022.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,224},{50,48}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{50,48}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting20023.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,174},{46,42}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{46,42}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting20024.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,174},{46,42}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{46,42}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting20025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{44,42}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{44,42}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting20026.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,174},{44,42}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,26},{44,42}}</string>
                <key>sourceSize</key>
                <string>{52,68}</string>
            </dict>
            <key>frosting30000.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,90},{40,39}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>frosting30001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{40,39}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>frosting30002.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,131},{40,41}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{40,41}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>frosting30003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,131},{40,39}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>frosting30004.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,90},{40,39}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>frosting30005.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,131},{38,39}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>frosting30006.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,90},{46,39}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{46,39}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>frosting30007.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,90},{52,37}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{52,37}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>frosting30008.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,131},{56,39}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{56,39}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>frosting30009.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,131},{58,41}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{58,41}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>frosting30010.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,90},{60,37}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{60,37}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>frosting30011.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,90},{60,37}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{60,37}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>frosting30012.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,54},{42,27}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{42,27}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>frosting30013.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,54},{42,27}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{42,27}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>frosting30014.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,26},{42,25}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,27},{42,25}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>frosting30015.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{18,17}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,30},{18,17}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>frosting30016.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{18,17}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,33},{18,17}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>frosting30017.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{18,19}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,34},{18,19}}</string>
                <key>sourceSize</key>
                <string>{60,53}</string>
            </dict>
            <key>frosting40000.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,90},{34,34}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>frosting40001.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,54},{34,34}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>frosting40002.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,90},{34,34}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>frosting40003.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,54},{34,34}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>frosting40004.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,90},{36,34}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>frosting40005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{36,34}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{36,34}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>frosting40006.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,54},{40,34}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,34}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>frosting40007.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,54},{44,32}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,6},{44,32}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>frosting40008.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,54},{48,30}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{48,30}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>frosting40009.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,54},{48,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>frosting40010.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,54},{48,28}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>frosting40011.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,54},{48,28}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>frosting40012.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,54},{48,28}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{48,28}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>frosting40013.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{48,22}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{48,22}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>frosting40014.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,26},{46,24}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{46,24}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>frosting40015.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,26},{46,26}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,28},{46,26}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>frosting40016.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{28,18}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,31},{28,18}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>frosting40017.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{28,18}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,33},{28,18}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>frosting40018.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{28,18}}</string>
                <key>offset</key>
                <string>{-8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,35},{28,18}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>frosting40019.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{16,16}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,36},{16,16}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>frosting40020.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{16,16}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,37},{16,16}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>frosting40021.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{16,14}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,40},{16,14}}</string>
                <key>sourceSize</key>
                <string>{48,54}</string>
            </dict>
            <key>frosting50000.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,26},{26,24}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>frosting50001.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,26},{26,24}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>frosting50002.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,26},{26,24}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>frosting50003.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,26},{26,24}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>frosting50004.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,26},{26,24}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{26,24}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>frosting50005.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,26},{24,24}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>frosting50006.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,26},{30,24}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{30,24}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>frosting50007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,26},{32,22}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{32,22}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>frosting50008.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,26},{36,24}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{36,24}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>frosting50009.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,26},{36,26}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>frosting50010.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,26},{36,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>frosting50011.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,26},{36,26}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>frosting50012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{36,26}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{36,26}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>frosting50013.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{36,22}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{36,22}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>frosting50014.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{36,22}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{36,22}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>frosting50015.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{36,22}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{36,22}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>frosting50016.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{22,14}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{22,14}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>frosting50017.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{22,14}}</string>
                <key>offset</key>
                <string>{-7,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{22,14}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>frosting50018.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{20,14}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{20,14}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>frosting50019.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,2},{12,12}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,29},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>frosting50020.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,2},{12,12}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{12,12}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>frosting50021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,10}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,34},{12,10}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mapSnow@2x.png</string>
            <key>size</key>
            <string>{512,278}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6beca55b0f57f2c9d23170f17fd03d19$</string>
            <key>textureFileName</key>
            <string>mapSnow@2x.png</string>
        </dict>
    </dict>
</plist>
