<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mimosa.active_0000</key>
            <dict>
                <key>frame</key>
                <string>{{385,48},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>mimosa.active_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>mimosa.active_0002</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{45,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,44}}</string>
                <key>sourceSize</key>
                <string>{45,44}</string>
            </dict>
            <key>mimosa.active_0003</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>mimosa.active_0004</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>mimosa.active_0005</key>
            <dict>
                <key>frame</key>
                <string>{{191,2},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>mimosa.active_0006</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>mimosa.active_0007</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>mimosa.active_0008</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>mimosa.active_0009</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>mimosa.active_0010</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{48,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,44}}</string>
                <key>sourceSize</key>
                <string>{48,44}</string>
            </dict>
            <key>mimosa.active_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>mimosa.active_0012</key>
            <dict>
                <key>frame</key>
                <string>{{51,48},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>mimosa.active_0013</key>
            <dict>
                <key>frame</key>
                <string>{{100,48},{47,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,44}}</string>
                <key>sourceSize</key>
                <string>{47,44}</string>
            </dict>
            <key>mimosa.active_0014</key>
            <dict>
                <key>frame</key>
                <string>{{149,48},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>mimosa.active_0015</key>
            <dict>
                <key>frame</key>
                <string>{{197,48},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>mimosa.active_0016</key>
            <dict>
                <key>frame</key>
                <string>{{245,48},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>mimosa.active_0017</key>
            <dict>
                <key>frame</key>
                <string>{{293,48},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>mimosa.active_0018</key>
            <dict>
                <key>frame</key>
                <string>{{339,48},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>mimosa.active_0019</key>
            <dict>
                <key>frame</key>
                <string>{{385,48},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>mimosa.back_light_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{149,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,83}}</string>
                <key>sourceSize</key>
                <string>{149,83}</string>
            </dict>
            <key>mimosa.grow.up_0000</key>
            <dict>
                <key>frame</key>
                <string>{{153,94},{33,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,43}}</string>
                <key>sourceSize</key>
                <string>{33,43}</string>
            </dict>
            <key>mimosa.grow.up_0001</key>
            <dict>
                <key>frame</key>
                <string>{{188,94},{33,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,44}}</string>
                <key>sourceSize</key>
                <string>{33,44}</string>
            </dict>
            <key>mimosa.grow.up_0002</key>
            <dict>
                <key>frame</key>
                <string>{{223,94},{36,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,49}}</string>
                <key>sourceSize</key>
                <string>{36,49}</string>
            </dict>
            <key>mimosa.grow.up_0003</key>
            <dict>
                <key>frame</key>
                <string>{{261,94},{36,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,57}}</string>
                <key>sourceSize</key>
                <string>{36,57}</string>
            </dict>
            <key>mimosa.grow.up_0004</key>
            <dict>
                <key>frame</key>
                <string>{{299,94},{38,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,58}}</string>
                <key>sourceSize</key>
                <string>{38,58}</string>
            </dict>
            <key>mimosa.grow.up_0005</key>
            <dict>
                <key>frame</key>
                <string>{{339,94},{39,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,58}}</string>
                <key>sourceSize</key>
                <string>{39,58}</string>
            </dict>
            <key>mimosa.grow.up_0006</key>
            <dict>
                <key>frame</key>
                <string>{{380,94},{42,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,58}}</string>
                <key>sourceSize</key>
                <string>{42,58}</string>
            </dict>
            <key>mimosa.grow.up_0007</key>
            <dict>
                <key>frame</key>
                <string>{{424,94},{46,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,58}}</string>
                <key>sourceSize</key>
                <string>{46,58}</string>
            </dict>
            <key>mimosa.grow.up_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{49,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,58}}</string>
                <key>sourceSize</key>
                <string>{49,58}</string>
            </dict>
            <key>mimosa.grow.up_0009</key>
            <dict>
                <key>frame</key>
                <string>{{53,179},{49,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,58}}</string>
                <key>sourceSize</key>
                <string>{49,58}</string>
            </dict>
            <key>mimosa.grow.up_0010</key>
            <dict>
                <key>frame</key>
                <string>{{104,179},{48,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,59}}</string>
                <key>sourceSize</key>
                <string>{48,59}</string>
            </dict>
            <key>mimosa.grow.up_0011</key>
            <dict>
                <key>frame</key>
                <string>{{154,179},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,58}}</string>
                <key>sourceSize</key>
                <string>{48,58}</string>
            </dict>
            <key>mimosa.grow.up_0012</key>
            <dict>
                <key>frame</key>
                <string>{{204,179},{48,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,53}}</string>
                <key>sourceSize</key>
                <string>{48,53}</string>
            </dict>
            <key>mimosa.grow.up_0013</key>
            <dict>
                <key>frame</key>
                <string>{{254,179},{49,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{49,50}</string>
            </dict>
            <key>mimosa.grow.up_0014</key>
            <dict>
                <key>frame</key>
                <string>{{305,179},{49,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,51}}</string>
                <key>sourceSize</key>
                <string>{49,51}</string>
            </dict>
            <key>mimosa.grow.up_0015</key>
            <dict>
                <key>frame</key>
                <string>{{356,179},{49,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,47}}</string>
                <key>sourceSize</key>
                <string>{49,47}</string>
            </dict>
            <key>mimosa.grow.up_0016</key>
            <dict>
                <key>frame</key>
                <string>{{407,179},{51,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,46}}</string>
                <key>sourceSize</key>
                <string>{51,46}</string>
            </dict>
            <key>mimosa.grow.up_0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{51,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,46}}</string>
                <key>sourceSize</key>
                <string>{51,46}</string>
            </dict>
            <key>mimosa.grow.up_0018</key>
            <dict>
                <key>frame</key>
                <string>{{55,240},{51,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,46}}</string>
                <key>sourceSize</key>
                <string>{51,46}</string>
            </dict>
            <key>mimosa.grow.up_0019</key>
            <dict>
                <key>frame</key>
                <string>{{108,240},{51,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,46}}</string>
                <key>sourceSize</key>
                <string>{51,46}</string>
            </dict>
            <key>mimosa.grow.up_0020</key>
            <dict>
                <key>frame</key>
                <string>{{161,240},{51,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,46}}</string>
                <key>sourceSize</key>
                <string>{51,46}</string>
            </dict>
            <key>mimosa.grow.up_0021</key>
            <dict>
                <key>frame</key>
                <string>{{214,240},{51,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,46}}</string>
                <key>sourceSize</key>
                <string>{51,46}</string>
            </dict>
            <key>mimosa.grow.up_0022</key>
            <dict>
                <key>frame</key>
                <string>{{267,240},{51,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,46}}</string>
                <key>sourceSize</key>
                <string>{51,46}</string>
            </dict>
            <key>mimosa.grow.up_0023</key>
            <dict>
                <key>frame</key>
                <string>{{320,240},{51,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,46}}</string>
                <key>sourceSize</key>
                <string>{51,46}</string>
            </dict>
            <key>mimosa.grow.up_0024</key>
            <dict>
                <key>frame</key>
                <string>{{373,240},{51,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,46}}</string>
                <key>sourceSize</key>
                <string>{51,46}</string>
            </dict>
            <key>mimosa.grow.up_0025</key>
            <dict>
                <key>frame</key>
                <string>{{426,240},{51,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,46}}</string>
                <key>sourceSize</key>
                <string>{51,46}</string>
            </dict>
            <key>mimosa.grow.up_0026</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{51,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,46}}</string>
                <key>sourceSize</key>
                <string>{51,46}</string>
            </dict>
            <key>mimosa.idle_0000</key>
            <dict>
                <key>frame</key>
                <string>{{434,336},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>mimosa.idle_0001</key>
            <dict>
                <key>frame</key>
                <string>{{55,288},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>mimosa.idle_0002</key>
            <dict>
                <key>frame</key>
                <string>{{103,288},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>mimosa.idle_0003</key>
            <dict>
                <key>frame</key>
                <string>{{151,288},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>mimosa.idle_0004</key>
            <dict>
                <key>frame</key>
                <string>{{199,288},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>mimosa.idle_0005</key>
            <dict>
                <key>frame</key>
                <string>{{247,288},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>mimosa.idle_0006</key>
            <dict>
                <key>frame</key>
                <string>{{295,288},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>mimosa.idle_0007</key>
            <dict>
                <key>frame</key>
                <string>{{343,288},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>mimosa.idle_0008</key>
            <dict>
                <key>frame</key>
                <string>{{391,288},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>mimosa.idle_0009</key>
            <dict>
                <key>frame</key>
                <string>{{439,288},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>mimosa.idle_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>mimosa.idle_0011</key>
            <dict>
                <key>frame</key>
                <string>{{50,336},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>mimosa.idle_0012</key>
            <dict>
                <key>frame</key>
                <string>{{98,336},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>mimosa.idle_0013</key>
            <dict>
                <key>frame</key>
                <string>{{146,336},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>mimosa.idle_0014</key>
            <dict>
                <key>frame</key>
                <string>{{194,336},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>mimosa.idle_0015</key>
            <dict>
                <key>frame</key>
                <string>{{242,336},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>mimosa.idle_0016</key>
            <dict>
                <key>frame</key>
                <string>{{290,336},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>mimosa.idle_0017</key>
            <dict>
                <key>frame</key>
                <string>{{338,336},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>mimosa.idle_0018</key>
            <dict>
                <key>frame</key>
                <string>{{386,336},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>mimosa.idle_0019</key>
            <dict>
                <key>frame</key>
                <string>{{434,336},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>mimosa.star</key>
            <dict>
                <key>frame</key>
                <string>{{480,336},{14,15}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,15}}</string>
                <key>sourceSize</key>
                <string>{14,15}</string>
            </dict>
            <key>mimosa_mask</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{33,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,30}}</string>
                <key>sourceSize</key>
                <string>{33,30}</string>
            </dict>
            <key>scene.mimosa.direction_0000</key>
            <dict>
                <key>frame</key>
                <string>{{37,382},{14,17}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{14,17}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>scene.mimosa.direction_0001</key>
            <dict>
                <key>frame</key>
                <string>{{53,382},{14,17}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{14,17}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>scene.mimosa.direction_0002</key>
            <dict>
                <key>frame</key>
                <string>{{69,382},{14,19}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{14,19}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>scene.mimosa.direction_0003</key>
            <dict>
                <key>frame</key>
                <string>{{85,382},{16,19}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{16,19}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>scene.mimosa.direction_0004</key>
            <dict>
                <key>frame</key>
                <string>{{103,382},{16,21}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{16,21}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>scene.mimosa.direction_0005</key>
            <dict>
                <key>frame</key>
                <string>{{121,382},{16,21}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{16,21}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>scene.mimosa.direction_0006</key>
            <dict>
                <key>frame</key>
                <string>{{139,382},{16,23}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{16,23}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>scene.mimosa.direction_0007</key>
            <dict>
                <key>frame</key>
                <string>{{157,382},{16,25}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{16,25}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>scene.mimosa.direction_0008</key>
            <dict>
                <key>frame</key>
                <string>{{175,382},{16,25}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{16,25}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>scene.mimosa.direction_0009</key>
            <dict>
                <key>frame</key>
                <string>{{193,382},{16,27}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{16,27}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>scene.mimosa.direction_0010</key>
            <dict>
                <key>frame</key>
                <string>{{211,382},{10,27}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{10,27}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>scene.mimosa.direction_0011</key>
            <dict>
                <key>frame</key>
                <string>{{223,382},{10,29}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{10,29}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>scene.mimosa.direction_0012</key>
            <dict>
                <key>frame</key>
                <string>{{235,382},{8,23}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,5},{8,23}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>scene.mimosa.direction_0013</key>
            <dict>
                <key>frame</key>
                <string>{{245,382},{8,23}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{8,23}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>scene.mimosa.direction_0014</key>
            <dict>
                <key>frame</key>
                <string>{{255,382},{8,25}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{8,25}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>scene.mimosa.direction_0015</key>
            <dict>
                <key>frame</key>
                <string>{{265,382},{6,5}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,25},{6,5}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>scene.mimosa.direction_0016</key>
            <dict>
                <key>frame</key>
                <string>{{273,382},{4,5}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,26},{4,5}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>scene.mimosa.direction_0017</key>
            <dict>
                <key>frame</key>
                <string>{{279,382},{4,5}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,26},{4,5}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
            <key>scene.mimosa.direction_0018</key>
            <dict>
                <key>frame</key>
                <string>{{37,382},{14,17}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{14,17}}</string>
                <key>sourceSize</key>
                <string>{26,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mimosa@2x.png</string>
            <key>size</key>
            <string>{496,414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8b376ea0ac8cb78a2f81de54008fd8e$</string>
            <key>textureFileName</key>
            <string>mimosa@2x.png</string>
        </dict>
    </dict>
</plist>
