<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mimosa.active_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>mimosa.active_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>mimosa.active_0002</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,70}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>mimosa.active_0003</key>
            <dict>
                <key>frame</key>
                <string>{{149,2},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.active_0004</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.active_0005</key>
            <dict>
                <key>frame</key>
                <string>{{299,2},{75,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,70}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>mimosa.active_0006</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{75,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,71}}</string>
                <key>sourceSize</key>
                <string>{75,71}</string>
            </dict>
            <key>mimosa.active_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{75,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,71}}</string>
                <key>sourceSize</key>
                <string>{75,71}</string>
            </dict>
            <key>mimosa.active_0008</key>
            <dict>
                <key>frame</key>
                <string>{{79,75},{77,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,71}</string>
            </dict>
            <key>mimosa.active_0009</key>
            <dict>
                <key>frame</key>
                <string>{{158,75},{77,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,71}</string>
            </dict>
            <key>mimosa.active_0010</key>
            <dict>
                <key>frame</key>
                <string>{{237,75},{77,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,71}}</string>
                <key>sourceSize</key>
                <string>{77,71}</string>
            </dict>
            <key>mimosa.active_0011</key>
            <dict>
                <key>frame</key>
                <string>{{316,75},{75,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,71}}</string>
                <key>sourceSize</key>
                <string>{75,71}</string>
            </dict>
            <key>mimosa.active_0012</key>
            <dict>
                <key>frame</key>
                <string>{{393,75},{75,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,71}}</string>
                <key>sourceSize</key>
                <string>{75,71}</string>
            </dict>
            <key>mimosa.active_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{75,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,70}}</string>
                <key>sourceSize</key>
                <string>{75,70}</string>
            </dict>
            <key>mimosa.active_0014</key>
            <dict>
                <key>frame</key>
                <string>{{79,148},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.active_0015</key>
            <dict>
                <key>frame</key>
                <string>{{154,148},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.active_0016</key>
            <dict>
                <key>frame</key>
                <string>{{229,148},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.active_0017</key>
            <dict>
                <key>frame</key>
                <string>{{304,148},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>mimosa.active_0018</key>
            <dict>
                <key>frame</key>
                <string>{{377,148},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{71,70}</string>
            </dict>
            <key>mimosa.active_0019</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>mimosa.back_light_0000</key>
            <dict>
                <key>frame</key>
                <string>{{74,220},{239,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,133}}</string>
                <key>sourceSize</key>
                <string>{239,133}</string>
            </dict>
            <key>mimosa.grow.up_0000</key>
            <dict>
                <key>frame</key>
                <string>{{315,220},{52,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,69}}</string>
                <key>sourceSize</key>
                <string>{52,69}</string>
            </dict>
            <key>mimosa.grow.up_0001</key>
            <dict>
                <key>frame</key>
                <string>{{369,220},{53,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,70}}</string>
                <key>sourceSize</key>
                <string>{53,70}</string>
            </dict>
            <key>mimosa.grow.up_0002</key>
            <dict>
                <key>frame</key>
                <string>{{424,220},{57,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,78}}</string>
                <key>sourceSize</key>
                <string>{57,78}</string>
            </dict>
            <key>mimosa.grow.up_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{57,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,91}}</string>
                <key>sourceSize</key>
                <string>{57,91}</string>
            </dict>
            <key>mimosa.grow.up_0004</key>
            <dict>
                <key>frame</key>
                <string>{{61,355},{61,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,92}}</string>
                <key>sourceSize</key>
                <string>{61,92}</string>
            </dict>
            <key>mimosa.grow.up_0005</key>
            <dict>
                <key>frame</key>
                <string>{{124,355},{62,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,92}}</string>
                <key>sourceSize</key>
                <string>{62,92}</string>
            </dict>
            <key>mimosa.grow.up_0006</key>
            <dict>
                <key>frame</key>
                <string>{{188,355},{67,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,93}}</string>
                <key>sourceSize</key>
                <string>{67,93}</string>
            </dict>
            <key>mimosa.grow.up_0007</key>
            <dict>
                <key>frame</key>
                <string>{{257,355},{74,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,93}}</string>
                <key>sourceSize</key>
                <string>{74,93}</string>
            </dict>
            <key>mimosa.grow.up_0008</key>
            <dict>
                <key>frame</key>
                <string>{{333,355},{78,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,93}}</string>
                <key>sourceSize</key>
                <string>{78,93}</string>
            </dict>
            <key>mimosa.grow.up_0009</key>
            <dict>
                <key>frame</key>
                <string>{{413,355},{78,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,93}}</string>
                <key>sourceSize</key>
                <string>{78,93}</string>
            </dict>
            <key>mimosa.grow.up_0010</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{77,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,94}}</string>
                <key>sourceSize</key>
                <string>{77,94}</string>
            </dict>
            <key>mimosa.grow.up_0011</key>
            <dict>
                <key>frame</key>
                <string>{{81,450},{77,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,93}}</string>
                <key>sourceSize</key>
                <string>{77,93}</string>
            </dict>
            <key>mimosa.grow.up_0012</key>
            <dict>
                <key>frame</key>
                <string>{{160,450},{77,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,84}}</string>
                <key>sourceSize</key>
                <string>{77,84}</string>
            </dict>
            <key>mimosa.grow.up_0013</key>
            <dict>
                <key>frame</key>
                <string>{{239,450},{79,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,80}}</string>
                <key>sourceSize</key>
                <string>{79,80}</string>
            </dict>
            <key>mimosa.grow.up_0014</key>
            <dict>
                <key>frame</key>
                <string>{{320,450},{78,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,82}}</string>
                <key>sourceSize</key>
                <string>{78,82}</string>
            </dict>
            <key>mimosa.grow.up_0015</key>
            <dict>
                <key>frame</key>
                <string>{{400,450},{78,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,75}}</string>
                <key>sourceSize</key>
                <string>{78,75}</string>
            </dict>
            <key>mimosa.grow.up_0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>mimosa.grow.up_0017</key>
            <dict>
                <key>frame</key>
                <string>{{85,546},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>mimosa.grow.up_0018</key>
            <dict>
                <key>frame</key>
                <string>{{168,546},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>mimosa.grow.up_0019</key>
            <dict>
                <key>frame</key>
                <string>{{251,546},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>mimosa.grow.up_0020</key>
            <dict>
                <key>frame</key>
                <string>{{334,546},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>mimosa.grow.up_0021</key>
            <dict>
                <key>frame</key>
                <string>{{417,546},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>mimosa.grow.up_0022</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>mimosa.grow.up_0023</key>
            <dict>
                <key>frame</key>
                <string>{{85,622},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>mimosa.grow.up_0024</key>
            <dict>
                <key>frame</key>
                <string>{{168,622},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>mimosa.grow.up_0025</key>
            <dict>
                <key>frame</key>
                <string>{{251,622},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>mimosa.grow.up_0026</key>
            <dict>
                <key>frame</key>
                <string>{{334,622},{81,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,74}}</string>
                <key>sourceSize</key>
                <string>{81,74}</string>
            </dict>
            <key>mimosa.idle_0000</key>
            <dict>
                <key>frame</key>
                <string>{{367,840},{71,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0001</key>
            <dict>
                <key>frame</key>
                <string>{{417,622},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0003</key>
            <dict>
                <key>frame</key>
                <string>{{75,698},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0004</key>
            <dict>
                <key>frame</key>
                <string>{{148,698},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0005</key>
            <dict>
                <key>frame</key>
                <string>{{223,698},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0006</key>
            <dict>
                <key>frame</key>
                <string>{{298,698},{73,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,68}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0007</key>
            <dict>
                <key>frame</key>
                <string>{{373,698},{73,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,68}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{73,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,68}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0009</key>
            <dict>
                <key>frame</key>
                <string>{{77,770},{73,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,68}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0010</key>
            <dict>
                <key>frame</key>
                <string>{{152,770},{73,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,68}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0011</key>
            <dict>
                <key>frame</key>
                <string>{{227,770},{73,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,68}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0012</key>
            <dict>
                <key>frame</key>
                <string>{{302,770},{73,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,68}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0013</key>
            <dict>
                <key>frame</key>
                <string>{{377,770},{73,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{73,68}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,840},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0015</key>
            <dict>
                <key>frame</key>
                <string>{{75,840},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0016</key>
            <dict>
                <key>frame</key>
                <string>{{148,840},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0017</key>
            <dict>
                <key>frame</key>
                <string>{{221,840},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0018</key>
            <dict>
                <key>frame</key>
                <string>{{294,840},{71,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.idle_0019</key>
            <dict>
                <key>frame</key>
                <string>{{367,840},{71,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>mimosa.star</key>
            <dict>
                <key>frame</key>
                <string>{{440,840},{23,22}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{23,22}}</string>
                <key>sourceSize</key>
                <string>{23,24}</string>
            </dict>
            <key>mimosa_mask</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{53,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,48}}</string>
                <key>sourceSize</key>
                <string>{53,48}</string>
            </dict>
            <key>scene.mimosa.direction_0000</key>
            <dict>
                <key>frame</key>
                <string>{{57,912},{22,24}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{22,24}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0001</key>
            <dict>
                <key>frame</key>
                <string>{{81,912},{22,26}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{22,26}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0002</key>
            <dict>
                <key>frame</key>
                <string>{{105,912},{22,28}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,8},{22,28}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0003</key>
            <dict>
                <key>frame</key>
                <string>{{129,912},{22,30}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{22,30}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0004</key>
            <dict>
                <key>frame</key>
                <string>{{153,912},{24,32}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{24,32}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0005</key>
            <dict>
                <key>frame</key>
                <string>{{179,912},{24,34}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{24,34}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0006</key>
            <dict>
                <key>frame</key>
                <string>{{205,912},{24,36}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{24,36}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0007</key>
            <dict>
                <key>frame</key>
                <string>{{231,912},{26,38}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{26,38}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0008</key>
            <dict>
                <key>frame</key>
                <string>{{259,912},{26,40}}</string>
                <key>offset</key>
                <string>{6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,1},{26,40}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0009</key>
            <dict>
                <key>frame</key>
                <string>{{287,912},{26,42}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{26,42}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0010</key>
            <dict>
                <key>frame</key>
                <string>{{315,912},{12,44}}</string>
                <key>offset</key>
                <string>{7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{12,44}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0011</key>
            <dict>
                <key>frame</key>
                <string>{{329,912},{12,44}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{12,44}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0012</key>
            <dict>
                <key>frame</key>
                <string>{{343,912},{12,36}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,9},{12,36}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0013</key>
            <dict>
                <key>frame</key>
                <string>{{357,912},{10,36}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{10,36}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0014</key>
            <dict>
                <key>frame</key>
                <string>{{369,912},{10,38}}</string>
                <key>offset</key>
                <string>{12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{10,38}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0015</key>
            <dict>
                <key>frame</key>
                <string>{{381,912},{6,6}}</string>
                <key>offset</key>
                <string>{12,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,42},{6,6}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0016</key>
            <dict>
                <key>frame</key>
                <string>{{389,912},{6,6}}</string>
                <key>offset</key>
                <string>{13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,43},{6,6}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0017</key>
            <dict>
                <key>frame</key>
                <string>{{397,912},{6,6}}</string>
                <key>offset</key>
                <string>{14,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,44},{6,6}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
            <key>scene.mimosa.direction_0018</key>
            <dict>
                <key>frame</key>
                <string>{{57,912},{22,24}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{22,24}}</string>
                <key>sourceSize</key>
                <string>{42,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mimosa.png</string>
            <key>size</key>
            <string>{500,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:726306fc4ec650a5f124654c9a720fe2$</string>
            <key>textureFileName</key>
            <string>mimosa.png</string>
        </dict>
    </dict>
</plist>
