<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>forbidden_1_0000</key>
            <dict>
                <key>frame</key>
                <string>{{502,50},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>forbidden_2_0000</key>
            <dict>
                <key>frame</key>
                <string>{{454,50},{46,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,44}}</string>
                <key>sourceSize</key>
                <string>{46,44}</string>
            </dict>
            <key>forbidden_3_0000</key>
            <dict>
                <key>frame</key>
                <string>{{406,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0001</key>
            <dict>
                <key>frame</key>
                <string>{{406,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0002</key>
            <dict>
                <key>frame</key>
                <string>{{358,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0003</key>
            <dict>
                <key>frame</key>
                <string>{{358,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0004</key>
            <dict>
                <key>frame</key>
                <string>{{310,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0005</key>
            <dict>
                <key>frame</key>
                <string>{{310,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0006</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0007</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0008</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0009</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0010</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0011</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0012</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0013</key>
            <dict>
                <key>frame</key>
                <string>{{406,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0014</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0015</key>
            <dict>
                <key>frame</key>
                <string>{{406,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0016</key>
            <dict>
                <key>frame</key>
                <string>{{406,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0017</key>
            <dict>
                <key>frame</key>
                <string>{{406,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0018</key>
            <dict>
                <key>frame</key>
                <string>{{406,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0019</key>
            <dict>
                <key>frame</key>
                <string>{{406,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0020</key>
            <dict>
                <key>frame</key>
                <string>{{406,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0021</key>
            <dict>
                <key>frame</key>
                <string>{{406,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0022</key>
            <dict>
                <key>frame</key>
                <string>{{406,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0023</key>
            <dict>
                <key>frame</key>
                <string>{{406,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0024</key>
            <dict>
                <key>frame</key>
                <string>{{406,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0025</key>
            <dict>
                <key>frame</key>
                <string>{{406,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0026</key>
            <dict>
                <key>frame</key>
                <string>{{406,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0027</key>
            <dict>
                <key>frame</key>
                <string>{{406,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0028</key>
            <dict>
                <key>frame</key>
                <string>{{406,50},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>forbidden_3_0029</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,46}}</string>
                <key>sourceSize</key>
                <string>{46,46}</string>
            </dict>
            <key>frost_cercle_large_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,96}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>frost_cercle_medium_0000</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{80,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,81}}</string>
                <key>sourceSize</key>
                <string>{80,81}</string>
            </dict>
            <key>frost_cercle_small_0000</key>
            <dict>
                <key>frame</key>
                <string>{{251,2},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>frost_dust_0000</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{67,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,68}}</string>
                <key>sourceSize</key>
                <string>{67,68}</string>
            </dict>
            <key>ice_break_0000</key>
            <dict>
                <key>frame</key>
                <string>{{598,51},{42,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,22}}</string>
                <key>sourceSize</key>
                <string>{42,22}</string>
            </dict>
            <key>ice_break_0001</key>
            <dict>
                <key>frame</key>
                <string>{{598,27},{43,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,22}}</string>
                <key>sourceSize</key>
                <string>{43,22}</string>
            </dict>
            <key>ice_break_0002</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{45,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,23}}</string>
                <key>sourceSize</key>
                <string>{45,23}</string>
            </dict>
            <key>ice_break_0003</key>
            <dict>
                <key>frame</key>
                <string>{{182,72},{46,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,26}}</string>
                <key>sourceSize</key>
                <string>{46,26}</string>
            </dict>
            <key>ice_break_0004</key>
            <dict>
                <key>frame</key>
                <string>{{182,72},{46,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,26}}</string>
                <key>sourceSize</key>
                <string>{46,26}</string>
            </dict>
            <key>ice_break_0005</key>
            <dict>
                <key>frame</key>
                <string>{{550,50},{46,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,28}}</string>
                <key>sourceSize</key>
                <string>{46,28}</string>
            </dict>
            <key>ice_break_0006</key>
            <dict>
                <key>frame</key>
                <string>{{550,50},{46,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,28}}</string>
                <key>sourceSize</key>
                <string>{46,28}</string>
            </dict>
            <key>ice_break_0007</key>
            <dict>
                <key>frame</key>
                <string>{{251,61},{46,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,28}}</string>
                <key>sourceSize</key>
                <string>{46,28}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>octopusForbidden@2x.png</string>
            <key>size</key>
            <string>{645,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d11afd444961d135ce4cf89a4698b6a$</string>
            <key>textureFileName</key>
            <string>octopusForbidden@2x.png</string>
        </dict>
    </dict>
</plist>
