<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PoisonBottle_Normal_0000</key>
            <dict>
                <key>frame</key>
                <string>{{198,190},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0001</key>
            <dict>
                <key>frame</key>
                <string>{{198,190},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0002</key>
            <dict>
                <key>frame</key>
                <string>{{190,141},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0003</key>
            <dict>
                <key>frame</key>
                <string>{{190,141},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0004</key>
            <dict>
                <key>frame</key>
                <string>{{190,141},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0005</key>
            <dict>
                <key>frame</key>
                <string>{{142,141},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0006</key>
            <dict>
                <key>frame</key>
                <string>{{142,141},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0007</key>
            <dict>
                <key>frame</key>
                <string>{{142,141},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0008</key>
            <dict>
                <key>frame</key>
                <string>{{94,141},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0009</key>
            <dict>
                <key>frame</key>
                <string>{{94,141},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0010</key>
            <dict>
                <key>frame</key>
                <string>{{94,141},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0011</key>
            <dict>
                <key>frame</key>
                <string>{{102,190},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0012</key>
            <dict>
                <key>frame</key>
                <string>{{102,190},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0013</key>
            <dict>
                <key>frame</key>
                <string>{{100,239},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0014</key>
            <dict>
                <key>frame</key>
                <string>{{100,239},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0015</key>
            <dict>
                <key>frame</key>
                <string>{{100,239},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0016</key>
            <dict>
                <key>frame</key>
                <string>{{196,239},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0017</key>
            <dict>
                <key>frame</key>
                <string>{{196,239},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0018</key>
            <dict>
                <key>frame</key>
                <string>{{196,239},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0019</key>
            <dict>
                <key>frame</key>
                <string>{{50,239},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0020</key>
            <dict>
                <key>frame</key>
                <string>{{50,239},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0021</key>
            <dict>
                <key>frame</key>
                <string>{{50,239},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0022</key>
            <dict>
                <key>frame</key>
                <string>{{196,239},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0023</key>
            <dict>
                <key>frame</key>
                <string>{{196,239},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0024</key>
            <dict>
                <key>frame</key>
                <string>{{196,239},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0025</key>
            <dict>
                <key>frame</key>
                <string>{{100,239},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0026</key>
            <dict>
                <key>frame</key>
                <string>{{100,239},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0027</key>
            <dict>
                <key>frame</key>
                <string>{{102,190},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0028</key>
            <dict>
                <key>frame</key>
                <string>{{102,190},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0029</key>
            <dict>
                <key>frame</key>
                <string>{{102,190},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0030</key>
            <dict>
                <key>frame</key>
                <string>{{150,190},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0031</key>
            <dict>
                <key>frame</key>
                <string>{{150,190},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0032</key>
            <dict>
                <key>frame</key>
                <string>{{150,190},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0033</key>
            <dict>
                <key>frame</key>
                <string>{{2,239},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0034</key>
            <dict>
                <key>frame</key>
                <string>{{148,239},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{46,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0035</key>
            <dict>
                <key>frame</key>
                <string>{{52,190},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0036</key>
            <dict>
                <key>frame</key>
                <string>{{198,190},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0037</key>
            <dict>
                <key>frame</key>
                <string>{{198,190},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0038</key>
            <dict>
                <key>frame</key>
                <string>{{198,190},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0039</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0040</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0041</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0042</key>
            <dict>
                <key>frame</key>
                <string>{{190,46},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0043</key>
            <dict>
                <key>frame</key>
                <string>{{190,46},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0044</key>
            <dict>
                <key>frame</key>
                <string>{{190,46},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{48,45}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0045</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0046</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0047</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonBottle_Normal_0048</key>
            <dict>
                <key>frame</key>
                <string>{{198,190},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>PoisonSpread_1_0000</key>
            <dict>
                <key>frame</key>
                <string>{{45,46},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>PoisonSpread_1_0001</key>
            <dict>
                <key>frame</key>
                <string>{{45,46},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>PoisonSpread_1_0002</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>PoisonSpread_1_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>PoisonSpread_1_0004</key>
            <dict>
                <key>frame</key>
                <string>{{45,46},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>PoisonSpread_1_0005</key>
            <dict>
                <key>frame</key>
                <string>{{45,46},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>PoisonSpread_1_0006</key>
            <dict>
                <key>frame</key>
                <string>{{90,46},{43,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>PoisonSpread_1_0007</key>
            <dict>
                <key>frame</key>
                <string>{{90,46},{43,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>PoisonSpread_1_0008</key>
            <dict>
                <key>frame</key>
                <string>{{95,2},{43,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>PoisonSpread_1_0009</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{43,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,42}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>PoisonSpread_1_0010</key>
            <dict>
                <key>frame</key>
                <string>{{176,93},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>PoisonSpread_1_0011</key>
            <dict>
                <key>frame</key>
                <string>{{131,93},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>PoisonSpread_1_0012</key>
            <dict>
                <key>frame</key>
                <string>{{131,93},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>PoisonSpread_1_0013</key>
            <dict>
                <key>frame</key>
                <string>{{131,93},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>PoisonSpread_1_0014</key>
            <dict>
                <key>frame</key>
                <string>{{131,93},{43,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,46}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>PoisonSpread_1_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{41,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{41,44}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>PoisonSpread_1_0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{41,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{41,44}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>PoisonSpread_1_0017</key>
            <dict>
                <key>frame</key>
                <string>{{45,46},{43,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{43,44}}</string>
                <key>sourceSize</key>
                <string>{43,46}</string>
            </dict>
            <key>PoisonSpread_2_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{13,12}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,62},{13,12}}</string>
                <key>sourceSize</key>
                <string>{53,74}</string>
            </dict>
            <key>PoisonSpread_2_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,93},{33,46}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{33,46}}</string>
                <key>sourceSize</key>
                <string>{53,74}</string>
            </dict>
            <key>PoisonSpread_2_0002</key>
            <dict>
                <key>frame</key>
                <string>{{159,340},{39,58}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,16},{39,58}}</string>
                <key>sourceSize</key>
                <string>{53,74}</string>
            </dict>
            <key>PoisonSpread_2_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{45,52}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,11},{45,52}}</string>
                <key>sourceSize</key>
                <string>{53,74}</string>
            </dict>
            <key>PoisonSpread_2_0004</key>
            <dict>
                <key>frame</key>
                <string>{{57,288},{49,48}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{49,48}}</string>
                <key>sourceSize</key>
                <string>{53,74}</string>
            </dict>
            <key>PoisonSpread_2_0005</key>
            <dict>
                <key>frame</key>
                <string>{{135,46},{53,44}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,44}}</string>
                <key>sourceSize</key>
                <string>{53,74}</string>
            </dict>
            <key>PoisonSpread_3_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{53,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{53,48}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>PoisonSpread_3_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{53,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{53,48}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>PoisonSpread_3_0002</key>
            <dict>
                <key>frame</key>
                <string>{{49,340},{59,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>PoisonSpread_3_0003</key>
            <dict>
                <key>frame</key>
                <string>{{159,288},{55,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{55,50}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>PoisonSpread_3_0004</key>
            <dict>
                <key>frame</key>
                <string>{{108,288},{49,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{49,50}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>PoisonSpread_3_0005</key>
            <dict>
                <key>frame</key>
                <string>{{110,340},{47,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{47,52}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>PoisonSpread_3_0006</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{41,42}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{41,42}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>PoisonSpread_3_0007</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{35,40}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,7},{35,40}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>PoisonSpread_3_0008</key>
            <dict>
                <key>frame</key>
                <string>{{17,2},{39,40}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{39,40}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>PoisonSpread_3_0009</key>
            <dict>
                <key>frame</key>
                <string>{{84,93},{45,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{45,46}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>PoisonSpread_3_0010</key>
            <dict>
                <key>frame</key>
                <string>{{37,93},{45,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{45,46}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>PoisonSpread_3_0011</key>
            <dict>
                <key>frame</key>
                <string>{{84,93},{45,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{45,46}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>PoisonSpread_3_0012</key>
            <dict>
                <key>frame</key>
                <string>{{37,93},{45,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{45,46}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
            <key>PoisonSpread_3_0013</key>
            <dict>
                <key>frame</key>
                <string>{{47,141},{45,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{45,46}}</string>
                <key>sourceSize</key>
                <string>{59,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PoisonBottle@2x.png</string>
            <key>size</key>
            <string>{248,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e188580fddd237bdb255da4c851d840$</string>
            <key>textureFileName</key>
            <string>PoisonBottle@2x.png</string>
        </dict>
    </dict>
</plist>
