<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene_snail_arrow_0000</key>
            <dict>
                <key>frame</key>
                <string>{{341,269},{14,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{14,31}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>scene_snail_arrow_0001</key>
            <dict>
                <key>frame</key>
                <string>{{341,234},{14,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{14,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>scene_snail_arrow_0002</key>
            <dict>
                <key>frame</key>
                <string>{{336,199},{20,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>scene_snail_arrow_0003</key>
            <dict>
                <key>frame</key>
                <string>{{336,164},{20,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>scene_snail_arrow_0004</key>
            <dict>
                <key>frame</key>
                <string>{{225,205},{18,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{18,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>scene_snail_arrow_0005</key>
            <dict>
                <key>frame</key>
                <string>{{336,129},{20,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>scene_snail_arrow_0006</key>
            <dict>
                <key>frame</key>
                <string>{{336,94},{20,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>scene_snail_arrow_0007</key>
            <dict>
                <key>frame</key>
                <string>{{237,135},{20,33}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>scene_snail_arrow_0008</key>
            <dict>
                <key>frame</key>
                <string>{{237,170},{18,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{18,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>scene_snail_arrow_0009</key>
            <dict>
                <key>frame</key>
                <string>{{237,100},{20,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>scene_snail_arrow_0010</key>
            <dict>
                <key>frame</key>
                <string>{{237,65},{20,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{20,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>scene_snail_arrow_0011</key>
            <dict>
                <key>frame</key>
                <string>{{221,275},{18,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>scene_snail_arrow_0012</key>
            <dict>
                <key>frame</key>
                <string>{{221,240},{18,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>scene_snail_arrow_0013</key>
            <dict>
                <key>frame</key>
                <string>{{321,269},{18,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>scene_snail_arrow_0014</key>
            <dict>
                <key>frame</key>
                <string>{{321,234},{18,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,33}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>scene_snail_arrow_0015</key>
            <dict>
                <key>frame</key>
                <string>{{221,310},{18,31}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{18,31}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>scene_snail_arrow_0016</key>
            <dict>
                <key>frame</key>
                <string>{{225,175},{10,19}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{10,19}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>scene_snail_arrow_0017</key>
            <dict>
                <key>frame</key>
                <string>{{225,152},{10,21}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{10,21}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>scene_snail_arrow_0018</key>
            <dict>
                <key>frame</key>
                <string>{{87,122},{8,19}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{8,19}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>scene_snail_arrow_0019</key>
            <dict>
                <key>frame</key>
                <string>{{259,65},{8,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{8,17}}</string>
                <key>sourceSize</key>
                <string>{22,33}</string>
            </dict>
            <key>scene_snail_destory_0000</key>
            <dict>
                <key>frame</key>
                <string>{{77,380},{66,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,55}}</string>
                <key>sourceSize</key>
                <string>{66,55}</string>
            </dict>
            <key>scene_snail_destory_0001</key>
            <dict>
                <key>frame</key>
                <string>{{77,380},{66,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,55}}</string>
                <key>sourceSize</key>
                <string>{66,55}</string>
            </dict>
            <key>scene_snail_destory_0002</key>
            <dict>
                <key>frame</key>
                <string>{{77,265},{66,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,56}}</string>
                <key>sourceSize</key>
                <string>{66,56}</string>
            </dict>
            <key>scene_snail_destory_0003</key>
            <dict>
                <key>frame</key>
                <string>{{77,265},{66,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,56}}</string>
                <key>sourceSize</key>
                <string>{66,56}</string>
            </dict>
            <key>scene_snail_destory_0004</key>
            <dict>
                <key>frame</key>
                <string>{{77,323},{66,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,55}}</string>
                <key>sourceSize</key>
                <string>{66,55}</string>
            </dict>
            <key>scene_snail_destory_0005</key>
            <dict>
                <key>frame</key>
                <string>{{77,323},{66,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,55}}</string>
                <key>sourceSize</key>
                <string>{66,55}</string>
            </dict>
            <key>scene_snail_destory_0006</key>
            <dict>
                <key>frame</key>
                <string>{{77,205},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>scene_snail_destory_0007</key>
            <dict>
                <key>frame</key>
                <string>{{77,205},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,58}}</string>
                <key>sourceSize</key>
                <string>{66,58}</string>
            </dict>
            <key>scene_snail_destory_0008</key>
            <dict>
                <key>frame</key>
                <string>{{441,69},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>scene_snail_destory_0009</key>
            <dict>
                <key>frame</key>
                <string>{{441,69},{66,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,60}}</string>
                <key>sourceSize</key>
                <string>{66,60}</string>
            </dict>
            <key>scene_snail_destory_0010</key>
            <dict>
                <key>frame</key>
                <string>{{216,415},{65,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,60}}</string>
                <key>sourceSize</key>
                <string>{65,60}</string>
            </dict>
            <key>scene_snail_destory_0011</key>
            <dict>
                <key>frame</key>
                <string>{{216,415},{65,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,60}}</string>
                <key>sourceSize</key>
                <string>{65,60}</string>
            </dict>
            <key>scene_snail_destory_0012</key>
            <dict>
                <key>frame</key>
                <string>{{2,343},{66,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,49}}</string>
                <key>sourceSize</key>
                <string>{66,49}</string>
            </dict>
            <key>scene_snail_destory_0013</key>
            <dict>
                <key>frame</key>
                <string>{{283,415},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{54,60}</string>
            </dict>
            <key>scene_snail_destory_0014</key>
            <dict>
                <key>frame</key>
                <string>{{97,83},{50,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,57}}</string>
                <key>sourceSize</key>
                <string>{50,57}</string>
            </dict>
            <key>scene_snail_destory_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{46,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,41}}</string>
                <key>sourceSize</key>
                <string>{46,41}</string>
            </dict>
            <key>scene_snail_destory_0016</key>
            <dict>
                <key>frame</key>
                <string>{{97,27},{51,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,54}}</string>
                <key>sourceSize</key>
                <string>{51,54}</string>
            </dict>
            <key>scene_snail_destory_0017</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{69,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,65}}</string>
                <key>sourceSize</key>
                <string>{69,65}</string>
            </dict>
            <key>scene_snail_destory_0018</key>
            <dict>
                <key>frame</key>
                <string>{{361,81},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>scene_snail_destory_0019</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{78,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,77}}</string>
                <key>sourceSize</key>
                <string>{78,77}</string>
            </dict>
            <key>scene_snail_destory_0020</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{83,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,81}}</string>
                <key>sourceSize</key>
                <string>{83,81}</string>
            </dict>
            <key>scene_snail_destory_0021</key>
            <dict>
                <key>frame</key>
                <string>{{150,65},{85,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,85}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>scene_snail_destory_0022</key>
            <dict>
                <key>frame</key>
                <string>{{269,2},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>scene_snail_destory_0023</key>
            <dict>
                <key>frame</key>
                <string>{{2,27},{93,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{93,93}}</string>
                <key>sourceSize</key>
                <string>{93,93}</string>
            </dict>
            <key>scene_snail_destory_0024</key>
            <dict>
                <key>frame</key>
                <string>{{259,84},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>scene_snail_destory_0025</key>
            <dict>
                <key>frame</key>
                <string>{{259,84},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>scene_snail_idle_0000</key>
            <dict>
                <key>frame</key>
                <string>{{220,350},{73,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,63}}</string>
                <key>sourceSize</key>
                <string>{73,63}</string>
            </dict>
            <key>scene_snail_idle_0001</key>
            <dict>
                <key>frame</key>
                <string>{{220,350},{73,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,63}}</string>
                <key>sourceSize</key>
                <string>{73,63}</string>
            </dict>
            <key>scene_snail_idle_0002</key>
            <dict>
                <key>frame</key>
                <string>{{434,269},{74,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,62}}</string>
                <key>sourceSize</key>
                <string>{74,62}</string>
            </dict>
            <key>scene_snail_idle_0003</key>
            <dict>
                <key>frame</key>
                <string>{{434,269},{74,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,62}}</string>
                <key>sourceSize</key>
                <string>{74,62}</string>
            </dict>
            <key>scene_snail_idle_0004</key>
            <dict>
                <key>frame</key>
                <string>{{358,221},{74,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,62}}</string>
                <key>sourceSize</key>
                <string>{74,62}</string>
            </dict>
            <key>scene_snail_idle_0005</key>
            <dict>
                <key>frame</key>
                <string>{{358,221},{74,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,62}}</string>
                <key>sourceSize</key>
                <string>{74,62}</string>
            </dict>
            <key>scene_snail_idle_0006</key>
            <dict>
                <key>frame</key>
                <string>{{433,333},{74,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,61}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>scene_snail_idle_0007</key>
            <dict>
                <key>frame</key>
                <string>{{433,333},{74,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,61}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>scene_snail_idle_0008</key>
            <dict>
                <key>frame</key>
                <string>{{433,333},{74,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,61}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>scene_snail_idle_0009</key>
            <dict>
                <key>frame</key>
                <string>{{357,285},{74,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,61}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>scene_snail_idle_0010</key>
            <dict>
                <key>frame</key>
                <string>{{357,285},{74,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,61}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>scene_snail_idle_0011</key>
            <dict>
                <key>frame</key>
                <string>{{145,277},{74,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,60}}</string>
                <key>sourceSize</key>
                <string>{74,60}</string>
            </dict>
            <key>scene_snail_idle_0012</key>
            <dict>
                <key>frame</key>
                <string>{{145,277},{74,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,60}}</string>
                <key>sourceSize</key>
                <string>{74,60}</string>
            </dict>
            <key>scene_snail_idle_0013</key>
            <dict>
                <key>frame</key>
                <string>{{145,277},{74,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,60}}</string>
                <key>sourceSize</key>
                <string>{74,60}</string>
            </dict>
            <key>scene_snail_idle_0014</key>
            <dict>
                <key>frame</key>
                <string>{{259,159},{75,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>scene_snail_idle_0015</key>
            <dict>
                <key>frame</key>
                <string>{{259,159},{75,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>scene_snail_idle_0016</key>
            <dict>
                <key>frame</key>
                <string>{{259,159},{75,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,60}}</string>
                <key>sourceSize</key>
                <string>{75,60}</string>
            </dict>
            <key>scene_snail_idle_0017</key>
            <dict>
                <key>frame</key>
                <string>{{145,215},{74,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,60}}</string>
                <key>sourceSize</key>
                <string>{74,60}</string>
            </dict>
            <key>scene_snail_idle_0018</key>
            <dict>
                <key>frame</key>
                <string>{{145,215},{74,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,60}}</string>
                <key>sourceSize</key>
                <string>{74,60}</string>
            </dict>
            <key>scene_snail_idle_0019</key>
            <dict>
                <key>frame</key>
                <string>{{245,221},{74,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,61}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>scene_snail_idle_0020</key>
            <dict>
                <key>frame</key>
                <string>{{245,221},{74,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,61}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>scene_snail_idle_0021</key>
            <dict>
                <key>frame</key>
                <string>{{245,221},{74,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,61}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>scene_snail_idle_0022</key>
            <dict>
                <key>frame</key>
                <string>{{149,152},{74,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,61}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>scene_snail_idle_0023</key>
            <dict>
                <key>frame</key>
                <string>{{149,152},{74,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,61}}</string>
                <key>sourceSize</key>
                <string>{74,61}</string>
            </dict>
            <key>scene_snail_idle_0024</key>
            <dict>
                <key>frame</key>
                <string>{{434,205},{74,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,62}}</string>
                <key>sourceSize</key>
                <string>{74,62}</string>
            </dict>
            <key>scene_snail_idle_0025</key>
            <dict>
                <key>frame</key>
                <string>{{434,205},{74,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,62}}</string>
                <key>sourceSize</key>
                <string>{74,62}</string>
            </dict>
            <key>scene_snail_idle_0026</key>
            <dict>
                <key>frame</key>
                <string>{{358,157},{74,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,62}}</string>
                <key>sourceSize</key>
                <string>{74,62}</string>
            </dict>
            <key>scene_snail_idle_0027</key>
            <dict>
                <key>frame</key>
                <string>{{358,157},{74,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,62}}</string>
                <key>sourceSize</key>
                <string>{74,62}</string>
            </dict>
            <key>scene_snail_idle_0028</key>
            <dict>
                <key>frame</key>
                <string>{{220,350},{73,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,63}}</string>
                <key>sourceSize</key>
                <string>{73,63}</string>
            </dict>
            <key>scene_snail_light</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,23}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{146,23}}</string>
                <key>sourceSize</key>
                <string>{178,35}</string>
            </dict>
            <key>scene_snail_rotation</key>
            <dict>
                <key>frame</key>
                <string>{{87,143},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>scene_snail_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{117,61}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,61}}</string>
                <key>sourceSize</key>
                <string>{125,69}</string>
            </dict>
            <key>scene_snail_toShell_0000</key>
            <dict>
                <key>frame</key>
                <string>{{316,348},{73,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,63}}</string>
                <key>sourceSize</key>
                <string>{73,63}</string>
            </dict>
            <key>scene_snail_toShell_0001</key>
            <dict>
                <key>frame</key>
                <string>{{316,348},{73,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,63}}</string>
                <key>sourceSize</key>
                <string>{73,63}</string>
            </dict>
            <key>scene_snail_toShell_0002</key>
            <dict>
                <key>frame</key>
                <string>{{241,284},{73,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,64}}</string>
                <key>sourceSize</key>
                <string>{73,64}</string>
            </dict>
            <key>scene_snail_toShell_0003</key>
            <dict>
                <key>frame</key>
                <string>{{241,284},{73,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,64}}</string>
                <key>sourceSize</key>
                <string>{73,64}</string>
            </dict>
            <key>scene_snail_toShell_0004</key>
            <dict>
                <key>frame</key>
                <string>{{145,339},{73,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,63}}</string>
                <key>sourceSize</key>
                <string>{73,63}</string>
            </dict>
            <key>scene_snail_toShell_0005</key>
            <dict>
                <key>frame</key>
                <string>{{145,339},{73,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,63}}</string>
                <key>sourceSize</key>
                <string>{73,63}</string>
            </dict>
            <key>scene_snail_toShell_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{73,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,66}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>scene_snail_toShell_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,275},{73,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,66}}</string>
                <key>sourceSize</key>
                <string>{73,66}</string>
            </dict>
            <key>scene_snail_toShell_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{73,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,68}}</string>
                <key>sourceSize</key>
                <string>{73,68}</string>
            </dict>
            <key>scene_snail_toShell_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,205},{73,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,68}}</string>
                <key>sourceSize</key>
                <string>{73,68}</string>
            </dict>
            <key>scene_snail_toShell_0010</key>
            <dict>
                <key>frame</key>
                <string>{{142,437},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>scene_snail_toShell_0011</key>
            <dict>
                <key>frame</key>
                <string>{{142,437},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>scene_snail_toShell_0012</key>
            <dict>
                <key>frame</key>
                <string>{{339,413},{72,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>scene_snail_toShell_0013</key>
            <dict>
                <key>frame</key>
                <string>{{339,413},{72,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,57}}</string>
                <key>sourceSize</key>
                <string>{72,57}</string>
            </dict>
            <key>scene_snail_toShell_0014</key>
            <dict>
                <key>frame</key>
                <string>{{259,94},{75,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,63}}</string>
                <key>sourceSize</key>
                <string>{75,63}</string>
            </dict>
            <key>scene_snail_toShell_0015</key>
            <dict>
                <key>frame</key>
                <string>{{413,396},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>scene_snail_toShell_0016</key>
            <dict>
                <key>frame</key>
                <string>{{439,131},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>scene_snail_toShell_0017</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>scene_snail_toShell_0018</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{73,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,70}}</string>
                <key>sourceSize</key>
                <string>{73,70}</string>
            </dict>
            <key>scene_snail_toShell_0019</key>
            <dict>
                <key>frame</key>
                <string>{{77,437},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>snail.png</string>
            <key>size</key>
            <string>{512,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:029079cf178ae40172a2b6d853f1f757$</string>
            <key>textureFileName</key>
            <string>snail.png</string>
        </dict>
    </dict>
</plist>
