<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TileBlocker_ChangeAnimation_0000</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>TileBlocker_ChangeAnimation_0001</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{58,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,70}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>TileBlocker_ChangeAnimation_0002</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{58,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,70}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>TileBlocker_ChangeAnimation_0003</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{30,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,70}}</string>
                <key>sourceSize</key>
                <string>{30,70}</string>
            </dict>
            <key>TileBlocker_ChangeAnimation_0004</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{30,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,70}}</string>
                <key>sourceSize</key>
                <string>{30,70}</string>
            </dict>
            <key>TileBlocker_ChangeAnimation_0005</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{12,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,67}}</string>
                <key>sourceSize</key>
                <string>{12,67}</string>
            </dict>
            <key>TileBlocker_ChangeAnimation_0006</key>
            <dict>
                <key>frame</key>
                <string>{{26,2},{12,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,67}}</string>
                <key>sourceSize</key>
                <string>{12,67}</string>
            </dict>
            <key>TileBlocker_ChangeAnimation_0007</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{50,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,81}}</string>
                <key>sourceSize</key>
                <string>{50,81}</string>
            </dict>
            <key>TileBlocker_ChangeAnimation_0008</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{50,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,81}}</string>
                <key>sourceSize</key>
                <string>{50,81}</string>
            </dict>
            <key>TileBlocker_ChangeAnimation_0009</key>
            <dict>
                <key>frame</key>
                <string>{{82,155},{70,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,79}}</string>
                <key>sourceSize</key>
                <string>{70,79}</string>
            </dict>
            <key>TileBlocker_ChangeAnimation_0010</key>
            <dict>
                <key>frame</key>
                <string>{{82,155},{70,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,79}}</string>
                <key>sourceSize</key>
                <string>{70,79}</string>
            </dict>
            <key>TileBlocker_ChangeAnimation_0011</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{70,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,71}}</string>
                <key>sourceSize</key>
                <string>{70,71}</string>
            </dict>
            <key>TileBlocker_Light_1</key>
            <dict>
                <key>frame</key>
                <string>{{154,155},{80,80}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{80,80}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>TileBlocker_Light_2</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{78,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{78,78}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>TileBlocker_Light_3</key>
            <dict>
                <key>frame</key>
                <string>{{153,75},{79,78}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{79,78}}</string>
                <key>sourceSize</key>
                <string>{87,86}</string>
            </dict>
            <key>TileBlocker_lightCircle</key>
            <dict>
                <key>frame</key>
                <string>{{54,237},{85,85}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,33},{85,85}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>TileBlocker_light_high</key>
            <dict>
                <key>frame</key>
                <string>{{74,75},{77,77}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{81,81}</string>
            </dict>
            <key>tile_blocker_star</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{22,23}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{22,23}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TileBlocker.png</string>
            <key>size</key>
            <string>{236,324}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:777474801c670ae76047d61c768637b0$</string>
            <key>textureFileName</key>
            <string>TileBlocker.png</string>
        </dict>
    </dict>
</plist>
