<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TileBlocker_ChangeAnimation_0000</key>
            <dict>
                <key>frame</key>
                <string>{{28,2},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>TileBlocker_ChangeAnimation_0001</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{36,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,44}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>TileBlocker_ChangeAnimation_0002</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{36,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,44}}</string>
                <key>sourceSize</key>
                <string>{36,44}</string>
            </dict>
            <key>TileBlocker_ChangeAnimation_0003</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{19,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,44}}</string>
                <key>sourceSize</key>
                <string>{19,44}</string>
            </dict>
            <key>TileBlocker_ChangeAnimation_0004</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{19,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,44}}</string>
                <key>sourceSize</key>
                <string>{19,44}</string>
            </dict>
            <key>TileBlocker_ChangeAnimation_0005</key>
            <dict>
                <key>frame</key>
                <string>{{18,2},{8,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,42}}</string>
                <key>sourceSize</key>
                <string>{8,42}</string>
            </dict>
            <key>TileBlocker_ChangeAnimation_0006</key>
            <dict>
                <key>frame</key>
                <string>{{18,2},{8,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,42}}</string>
                <key>sourceSize</key>
                <string>{8,42}</string>
            </dict>
            <key>TileBlocker_ChangeAnimation_0007</key>
            <dict>
                <key>frame</key>
                <string>{{207,53},{31,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,51}}</string>
                <key>sourceSize</key>
                <string>{31,51}</string>
            </dict>
            <key>TileBlocker_ChangeAnimation_0008</key>
            <dict>
                <key>frame</key>
                <string>{{207,53},{31,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,51}}</string>
                <key>sourceSize</key>
                <string>{31,51}</string>
            </dict>
            <key>TileBlocker_ChangeAnimation_0009</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{44,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,49}}</string>
                <key>sourceSize</key>
                <string>{44,49}</string>
            </dict>
            <key>TileBlocker_ChangeAnimation_0010</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{44,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,49}}</string>
                <key>sourceSize</key>
                <string>{44,49}</string>
            </dict>
            <key>TileBlocker_ChangeAnimation_0011</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>TileBlocker_Light_1</key>
            <dict>
                <key>frame</key>
                <string>{{53,53},{50,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>TileBlocker_Light_2</key>
            <dict>
                <key>frame</key>
                <string>{{155,53},{50,50}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{50,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>TileBlocker_Light_3</key>
            <dict>
                <key>frame</key>
                <string>{{105,53},{48,50}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{54,54}</string>
            </dict>
            <key>TileBlocker_lightCircle</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{54,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,20},{54,54}}</string>
                <key>sourceSize</key>
                <string>{96,96}</string>
            </dict>
            <key>TileBlocker_light_high</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{49,49}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,49}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>tile_blocker_star</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{14,14}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{14,14}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TileBlocker@2x.png</string>
            <key>size</key>
            <string>{240,162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5922da44dfd117fcd77c04b2b7007864$</string>
            <key>textureFileName</key>
            <string>TileBlocker@2x.png</string>
        </dict>
    </dict>
</plist>
