<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trans_board</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>trans_door_blue_0000</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_blue_0001</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_blue_0002</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_blue_0003</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_blue_0004</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_blue_0005</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_blue_0006</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_blue_0007</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_blue_0008</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_blue_0009</key>
            <dict>
                <key>frame</key>
                <string>{{183,2},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_blue_0010</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_blue_0011</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_blue_0012</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_blue_0013</key>
            <dict>
                <key>frame</key>
                <string>{{93,2},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_blue_0014</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_green_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_green_0001</key>
            <dict>
                <key>frame</key>
                <string>{{17,48},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_green_0002</key>
            <dict>
                <key>frame</key>
                <string>{{32,48},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_green_0003</key>
            <dict>
                <key>frame</key>
                <string>{{47,48},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_green_0004</key>
            <dict>
                <key>frame</key>
                <string>{{62,48},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_green_0005</key>
            <dict>
                <key>frame</key>
                <string>{{77,48},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_green_0006</key>
            <dict>
                <key>frame</key>
                <string>{{92,48},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_green_0007</key>
            <dict>
                <key>frame</key>
                <string>{{107,48},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_green_0008</key>
            <dict>
                <key>frame</key>
                <string>{{122,48},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_green_0009</key>
            <dict>
                <key>frame</key>
                <string>{{137,48},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_green_0010</key>
            <dict>
                <key>frame</key>
                <string>{{152,48},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_green_0011</key>
            <dict>
                <key>frame</key>
                <string>{{167,48},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_green_0012</key>
            <dict>
                <key>frame</key>
                <string>{{32,48},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_green_0013</key>
            <dict>
                <key>frame</key>
                <string>{{47,48},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_green_0014</key>
            <dict>
                <key>frame</key>
                <string>{{182,48},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_red_0000</key>
            <dict>
                <key>frame</key>
                <string>{{197,48},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_red_0001</key>
            <dict>
                <key>frame</key>
                <string>{{212,48},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_red_0002</key>
            <dict>
                <key>frame</key>
                <string>{{227,48},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_red_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_red_0004</key>
            <dict>
                <key>frame</key>
                <string>{{17,92},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_red_0005</key>
            <dict>
                <key>frame</key>
                <string>{{32,92},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_red_0006</key>
            <dict>
                <key>frame</key>
                <string>{{47,92},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_red_0007</key>
            <dict>
                <key>frame</key>
                <string>{{62,92},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_red_0008</key>
            <dict>
                <key>frame</key>
                <string>{{77,92},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_red_0009</key>
            <dict>
                <key>frame</key>
                <string>{{92,92},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_red_0010</key>
            <dict>
                <key>frame</key>
                <string>{{107,92},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_red_0011</key>
            <dict>
                <key>frame</key>
                <string>{{122,92},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_red_0012</key>
            <dict>
                <key>frame</key>
                <string>{{227,48},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_red_0013</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_door_red_0014</key>
            <dict>
                <key>frame</key>
                <string>{{137,92},{13,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,42}}</string>
                <key>sourceSize</key>
                <string>{13,42}</string>
            </dict>
            <key>trans_light_mask_0000</key>
            <dict>
                <key>frame</key>
                <string>{{152,92},{28,26}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{28,26}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>trans_light_mask_0001</key>
            <dict>
                <key>frame</key>
                <string>{{182,92},{30,28}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,28}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>trans_light_mask_0002</key>
            <dict>
                <key>frame</key>
                <string>{{214,92},{32,28}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,28}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>trans_light_mask_0003</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{32,30}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>trans_light_mask_0004</key>
            <dict>
                <key>frame</key>
                <string>{{36,136},{34,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>trans_light_mask_0005</key>
            <dict>
                <key>frame</key>
                <string>{{72,136},{34,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>trans_light_mask_0006</key>
            <dict>
                <key>frame</key>
                <string>{{108,136},{36,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>trans_light_mask_0007</key>
            <dict>
                <key>frame</key>
                <string>{{146,136},{36,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>trans_light_mask_0008</key>
            <dict>
                <key>frame</key>
                <string>{{184,136},{36,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>trans_light_mask_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{38,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>trans_light_mask_0010</key>
            <dict>
                <key>frame</key>
                <string>{{42,168},{38,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>trans_light_mask_0011</key>
            <dict>
                <key>frame</key>
                <string>{{82,168},{34,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>trans_light_mask_0012</key>
            <dict>
                <key>frame</key>
                <string>{{118,168},{34,30}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>trans_light_mask_0013</key>
            <dict>
                <key>frame</key>
                <string>{{154,168},{36,30}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>trans_light_mask_0014</key>
            <dict>
                <key>frame</key>
                <string>{{192,168},{30,30}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>trans_light_mask_0015</key>
            <dict>
                <key>frame</key>
                <string>{{224,168},{30,30}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>trans_light_mask_0016</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{32,28}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,28}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>trans_light_mask_0017</key>
            <dict>
                <key>frame</key>
                <string>{{36,200},{32,28}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{32,28}}</string>
                <key>sourceSize</key>
                <string>{38,30}</string>
            </dict>
            <key>trans_star_mask_0000</key>
            <dict>
                <key>frame</key>
                <string>{{70,200},{24,35}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>trans_star_mask_0001</key>
            <dict>
                <key>frame</key>
                <string>{{70,200},{24,35}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>trans_star_mask_0002</key>
            <dict>
                <key>frame</key>
                <string>{{96,200},{24,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>trans_star_mask_0003</key>
            <dict>
                <key>frame</key>
                <string>{{96,200},{24,37}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>trans_star_mask_0004</key>
            <dict>
                <key>frame</key>
                <string>{{122,200},{24,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>trans_star_mask_0005</key>
            <dict>
                <key>frame</key>
                <string>{{122,200},{24,35}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{24,35}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>trans_star_mask_0006</key>
            <dict>
                <key>frame</key>
                <string>{{148,200},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>trans_star_mask_0007</key>
            <dict>
                <key>frame</key>
                <string>{{148,200},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>trans_star_mask_0008</key>
            <dict>
                <key>frame</key>
                <string>{{174,200},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>trans_star_mask_0009</key>
            <dict>
                <key>frame</key>
                <string>{{174,200},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>trans_star_mask_0010</key>
            <dict>
                <key>frame</key>
                <string>{{200,200},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>trans_star_mask_0011</key>
            <dict>
                <key>frame</key>
                <string>{{200,200},{24,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>trans_star_mask_0012</key>
            <dict>
                <key>frame</key>
                <string>{{226,200},{24,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,39}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>trans_star_mask_0013</key>
            <dict>
                <key>frame</key>
                <string>{{226,200},{24,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,39}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>trans_star_mask_0014</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{24,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>trans_star_mask_0015</key>
            <dict>
                <key>frame</key>
                <string>{{2,241},{24,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>trans_star_mask_0016</key>
            <dict>
                <key>frame</key>
                <string>{{28,241},{24,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>trans_star_mask_0017</key>
            <dict>
                <key>frame</key>
                <string>{{28,241},{24,37}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,37}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>trans_star_mask_0018</key>
            <dict>
                <key>frame</key>
                <string>{{54,241},{24,33}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{24,33}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
            <key>trans_star_mask_0019</key>
            <dict>
                <key>frame</key>
                <string>{{54,241},{24,33}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{24,33}}</string>
                <key>sourceSize</key>
                <string>{24,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>transmission@2x.png</string>
            <key>size</key>
            <string>{256,280}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39ee6a9c44c7db5830f7df172d5d385e$</string>
            <key>textureFileName</key>
            <string>transmission@2x.png</string>
        </dict>
    </dict>
</plist>
