<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trans_board</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,71}}</string>
                <key>sourceSize</key>
                <string>{71,71}</string>
            </dict>
            <key>trans_door_blue_0000</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_blue_0001</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_blue_0002</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_blue_0003</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_blue_0004</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_blue_0005</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_blue_0006</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_blue_0007</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_blue_0008</key>
            <dict>
                <key>frame</key>
                <string>{{259,2},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_blue_0009</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_blue_0010</key>
            <dict>
                <key>frame</key>
                <string>{{305,2},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_blue_0011</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_blue_0012</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_blue_0013</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_blue_0014</key>
            <dict>
                <key>frame</key>
                <string>{{351,2},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_green_0000</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_green_0001</key>
            <dict>
                <key>frame</key>
                <string>{{397,2},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_green_0002</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_green_0003</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_green_0004</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_green_0005</key>
            <dict>
                <key>frame</key>
                <string>{{489,2},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_green_0006</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_green_0007</key>
            <dict>
                <key>frame</key>
                <string>{{25,75},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_green_0008</key>
            <dict>
                <key>frame</key>
                <string>{{48,75},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_green_0009</key>
            <dict>
                <key>frame</key>
                <string>{{71,75},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_green_0010</key>
            <dict>
                <key>frame</key>
                <string>{{94,75},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_green_0011</key>
            <dict>
                <key>frame</key>
                <string>{{117,75},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_green_0012</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_green_0013</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_green_0014</key>
            <dict>
                <key>frame</key>
                <string>{{140,75},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_red_0000</key>
            <dict>
                <key>frame</key>
                <string>{{163,75},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_red_0001</key>
            <dict>
                <key>frame</key>
                <string>{{186,75},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_red_0002</key>
            <dict>
                <key>frame</key>
                <string>{{209,75},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_red_0003</key>
            <dict>
                <key>frame</key>
                <string>{{232,75},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_red_0004</key>
            <dict>
                <key>frame</key>
                <string>{{255,75},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_red_0005</key>
            <dict>
                <key>frame</key>
                <string>{{278,75},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_red_0006</key>
            <dict>
                <key>frame</key>
                <string>{{301,75},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_red_0007</key>
            <dict>
                <key>frame</key>
                <string>{{324,75},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_red_0008</key>
            <dict>
                <key>frame</key>
                <string>{{347,75},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_red_0009</key>
            <dict>
                <key>frame</key>
                <string>{{370,75},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_red_0010</key>
            <dict>
                <key>frame</key>
                <string>{{393,75},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_red_0011</key>
            <dict>
                <key>frame</key>
                <string>{{416,75},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_red_0012</key>
            <dict>
                <key>frame</key>
                <string>{{209,75},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_red_0013</key>
            <dict>
                <key>frame</key>
                <string>{{232,75},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_door_red_0014</key>
            <dict>
                <key>frame</key>
                <string>{{439,75},{21,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,67}}</string>
                <key>sourceSize</key>
                <string>{21,67}</string>
            </dict>
            <key>trans_light_mask_0000</key>
            <dict>
                <key>frame</key>
                <string>{{462,75},{45,42}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{45,42}}</string>
                <key>sourceSize</key>
                <string>{61,48}</string>
            </dict>
            <key>trans_light_mask_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{49,46}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{49,46}}</string>
                <key>sourceSize</key>
                <string>{61,48}</string>
            </dict>
            <key>trans_light_mask_0002</key>
            <dict>
                <key>frame</key>
                <string>{{53,144},{51,46}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{51,46}}</string>
                <key>sourceSize</key>
                <string>{61,48}</string>
            </dict>
            <key>trans_light_mask_0003</key>
            <dict>
                <key>frame</key>
                <string>{{106,144},{53,48}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,48}}</string>
                <key>sourceSize</key>
                <string>{61,48}</string>
            </dict>
            <key>trans_light_mask_0004</key>
            <dict>
                <key>frame</key>
                <string>{{161,144},{53,48}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,48}}</string>
                <key>sourceSize</key>
                <string>{61,48}</string>
            </dict>
            <key>trans_light_mask_0005</key>
            <dict>
                <key>frame</key>
                <string>{{216,144},{55,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,48}}</string>
                <key>sourceSize</key>
                <string>{61,48}</string>
            </dict>
            <key>trans_light_mask_0006</key>
            <dict>
                <key>frame</key>
                <string>{{273,144},{57,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,48}}</string>
                <key>sourceSize</key>
                <string>{61,48}</string>
            </dict>
            <key>trans_light_mask_0007</key>
            <dict>
                <key>frame</key>
                <string>{{332,144},{57,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,48}}</string>
                <key>sourceSize</key>
                <string>{61,48}</string>
            </dict>
            <key>trans_light_mask_0008</key>
            <dict>
                <key>frame</key>
                <string>{{391,144},{59,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,48}}</string>
                <key>sourceSize</key>
                <string>{61,48}</string>
            </dict>
            <key>trans_light_mask_0009</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{61,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,48}}</string>
                <key>sourceSize</key>
                <string>{61,48}</string>
            </dict>
            <key>trans_light_mask_0010</key>
            <dict>
                <key>frame</key>
                <string>{{65,194},{61,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,48}}</string>
                <key>sourceSize</key>
                <string>{61,48}</string>
            </dict>
            <key>trans_light_mask_0011</key>
            <dict>
                <key>frame</key>
                <string>{{128,194},{55,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,48}}</string>
                <key>sourceSize</key>
                <string>{61,48}</string>
            </dict>
            <key>trans_light_mask_0012</key>
            <dict>
                <key>frame</key>
                <string>{{185,194},{55,48}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,48}}</string>
                <key>sourceSize</key>
                <string>{61,48}</string>
            </dict>
            <key>trans_light_mask_0013</key>
            <dict>
                <key>frame</key>
                <string>{{242,194},{57,48}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,48}}</string>
                <key>sourceSize</key>
                <string>{61,48}</string>
            </dict>
            <key>trans_light_mask_0014</key>
            <dict>
                <key>frame</key>
                <string>{{301,194},{49,48}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{61,48}</string>
            </dict>
            <key>trans_light_mask_0015</key>
            <dict>
                <key>frame</key>
                <string>{{352,194},{49,48}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,48}}</string>
                <key>sourceSize</key>
                <string>{61,48}</string>
            </dict>
            <key>trans_light_mask_0016</key>
            <dict>
                <key>frame</key>
                <string>{{403,194},{49,46}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{49,46}}</string>
                <key>sourceSize</key>
                <string>{61,48}</string>
            </dict>
            <key>trans_light_mask_0017</key>
            <dict>
                <key>frame</key>
                <string>{{454,194},{51,46}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{51,46}}</string>
                <key>sourceSize</key>
                <string>{61,48}</string>
            </dict>
            <key>trans_star_mask_0000</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{38,57}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{38,57}}</string>
                <key>sourceSize</key>
                <string>{38,63}</string>
            </dict>
            <key>trans_star_mask_0001</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{38,57}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{38,57}}</string>
                <key>sourceSize</key>
                <string>{38,63}</string>
            </dict>
            <key>trans_star_mask_0002</key>
            <dict>
                <key>frame</key>
                <string>{{42,244},{38,57}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{38,57}}</string>
                <key>sourceSize</key>
                <string>{38,63}</string>
            </dict>
            <key>trans_star_mask_0003</key>
            <dict>
                <key>frame</key>
                <string>{{42,244},{38,57}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{38,57}}</string>
                <key>sourceSize</key>
                <string>{38,63}</string>
            </dict>
            <key>trans_star_mask_0004</key>
            <dict>
                <key>frame</key>
                <string>{{82,244},{38,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{38,57}}</string>
                <key>sourceSize</key>
                <string>{38,63}</string>
            </dict>
            <key>trans_star_mask_0005</key>
            <dict>
                <key>frame</key>
                <string>{{82,244},{38,57}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{38,57}}</string>
                <key>sourceSize</key>
                <string>{38,63}</string>
            </dict>
            <key>trans_star_mask_0006</key>
            <dict>
                <key>frame</key>
                <string>{{122,244},{38,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{38,59}}</string>
                <key>sourceSize</key>
                <string>{38,63}</string>
            </dict>
            <key>trans_star_mask_0007</key>
            <dict>
                <key>frame</key>
                <string>{{122,244},{38,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{38,59}}</string>
                <key>sourceSize</key>
                <string>{38,63}</string>
            </dict>
            <key>trans_star_mask_0008</key>
            <dict>
                <key>frame</key>
                <string>{{162,244},{38,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{38,57}}</string>
                <key>sourceSize</key>
                <string>{38,63}</string>
            </dict>
            <key>trans_star_mask_0009</key>
            <dict>
                <key>frame</key>
                <string>{{162,244},{38,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{38,57}}</string>
                <key>sourceSize</key>
                <string>{38,63}</string>
            </dict>
            <key>trans_star_mask_0010</key>
            <dict>
                <key>frame</key>
                <string>{{202,244},{38,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,59}}</string>
                <key>sourceSize</key>
                <string>{38,63}</string>
            </dict>
            <key>trans_star_mask_0011</key>
            <dict>
                <key>frame</key>
                <string>{{202,244},{38,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,59}}</string>
                <key>sourceSize</key>
                <string>{38,63}</string>
            </dict>
            <key>trans_star_mask_0012</key>
            <dict>
                <key>frame</key>
                <string>{{242,244},{38,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,59}}</string>
                <key>sourceSize</key>
                <string>{38,63}</string>
            </dict>
            <key>trans_star_mask_0013</key>
            <dict>
                <key>frame</key>
                <string>{{242,244},{38,59}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{38,59}}</string>
                <key>sourceSize</key>
                <string>{38,63}</string>
            </dict>
            <key>trans_star_mask_0014</key>
            <dict>
                <key>frame</key>
                <string>{{282,244},{38,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,59}}</string>
                <key>sourceSize</key>
                <string>{38,63}</string>
            </dict>
            <key>trans_star_mask_0015</key>
            <dict>
                <key>frame</key>
                <string>{{282,244},{38,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,59}}</string>
                <key>sourceSize</key>
                <string>{38,63}</string>
            </dict>
            <key>trans_star_mask_0016</key>
            <dict>
                <key>frame</key>
                <string>{{322,244},{38,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,59}}</string>
                <key>sourceSize</key>
                <string>{38,63}</string>
            </dict>
            <key>trans_star_mask_0017</key>
            <dict>
                <key>frame</key>
                <string>{{322,244},{38,59}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,59}}</string>
                <key>sourceSize</key>
                <string>{38,63}</string>
            </dict>
            <key>trans_star_mask_0018</key>
            <dict>
                <key>frame</key>
                <string>{{362,244},{38,53}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{38,53}}</string>
                <key>sourceSize</key>
                <string>{38,63}</string>
            </dict>
            <key>trans_star_mask_0019</key>
            <dict>
                <key>frame</key>
                <string>{{362,244},{38,53}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{38,53}}</string>
                <key>sourceSize</key>
                <string>{38,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>transmission.png</string>
            <key>size</key>
            <string>{512,305}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08ec486c7a838d759f50cdc5fa1906ea$</string>
            <key>textureFileName</key>
            <string>transmission.png</string>
        </dict>
    </dict>
</plist>
