<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RabbitMissile</key>
            <dict>
                <key>frame</key>
                <string>{{126,72},{32,67}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{32,67}}</string>
                <key>sourceSize</key>
                <string>{54,71}</string>
            </dict>
            <key>UFO_body_0000</key>
            <dict>
                <key>frame</key>
                <string>{{126,36},{76,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,34}}</string>
                <key>sourceSize</key>
                <string>{76,34}</string>
            </dict>
            <key>UFO_body_0001</key>
            <dict>
                <key>frame</key>
                <string>{{126,36},{76,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,34}}</string>
                <key>sourceSize</key>
                <string>{76,34}</string>
            </dict>
            <key>UFO_body_0002</key>
            <dict>
                <key>frame</key>
                <string>{{126,0},{76,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,34}}</string>
                <key>sourceSize</key>
                <string>{76,34}</string>
            </dict>
            <key>UFO_body_0003</key>
            <dict>
                <key>frame</key>
                <string>{{126,0},{76,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,34}}</string>
                <key>sourceSize</key>
                <string>{76,34}</string>
            </dict>
            <key>UFO_body_0004</key>
            <dict>
                <key>frame</key>
                <string>{{29,145},{76,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,34}}</string>
                <key>sourceSize</key>
                <string>{76,34}</string>
            </dict>
            <key>UFO_body_0005</key>
            <dict>
                <key>frame</key>
                <string>{{29,145},{76,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,34}}</string>
                <key>sourceSize</key>
                <string>{76,34}</string>
            </dict>
            <key>UFO_body_0006</key>
            <dict>
                <key>frame</key>
                <string>{{80,123},{76,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,34}}</string>
                <key>sourceSize</key>
                <string>{76,34}</string>
            </dict>
            <key>UFO_body_0007</key>
            <dict>
                <key>frame</key>
                <string>{{80,123},{76,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,34}}</string>
                <key>sourceSize</key>
                <string>{76,34}</string>
            </dict>
            <key>UFO_carrot</key>
            <dict>
                <key>frame</key>
                <string>{{29,65},{49,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,78}}</string>
                <key>sourceSize</key>
                <string>{51,80}</string>
            </dict>
            <key>UFO_light_center</key>
            <dict>
                <key>frame</key>
                <string>{{80,65},{3,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{3,38}}</string>
                <key>sourceSize</key>
                <string>{3,38}</string>
            </dict>
            <key>UFO_light_circle</key>
            <dict>
                <key>frame</key>
                <string>{{0,169},{52,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,26}}</string>
                <key>sourceSize</key>
                <string>{54,28}</string>
            </dict>
            <key>UFO_light_shadow</key>
            <dict>
                <key>frame</key>
                <string>{{0,65},{102,27}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,27}}</string>
                <key>sourceSize</key>
                <string>{104,53}</string>
            </dict>
            <key>UFO_lightning_0000</key>
            <dict>
                <key>frame</key>
                <string>{{126,106},{11,11}}</string>
                <key>offset</key>
                <string>{-18,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{11,11}}</string>
                <key>sourceSize</key>
                <string>{47,33}</string>
            </dict>
            <key>UFO_lightning_0001</key>
            <dict>
                <key>frame</key>
                <string>{{126,106},{11,11}}</string>
                <key>offset</key>
                <string>{-18,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{11,11}}</string>
                <key>sourceSize</key>
                <string>{47,33}</string>
            </dict>
            <key>UFO_lightning_0002</key>
            <dict>
                <key>frame</key>
                <string>{{65,145},{17,13}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,16},{17,13}}</string>
                <key>sourceSize</key>
                <string>{47,33}</string>
            </dict>
            <key>UFO_lightning_0003</key>
            <dict>
                <key>frame</key>
                <string>{{65,145},{17,13}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,16},{17,13}}</string>
                <key>sourceSize</key>
                <string>{47,33}</string>
            </dict>
            <key>UFO_lightning_0004</key>
            <dict>
                <key>frame</key>
                <string>{{139,106},{9,11}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,7},{9,11}}</string>
                <key>sourceSize</key>
                <string>{47,33}</string>
            </dict>
            <key>UFO_lightning_0005</key>
            <dict>
                <key>frame</key>
                <string>{{139,106},{9,11}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,7},{9,11}}</string>
                <key>sourceSize</key>
                <string>{47,33}</string>
            </dict>
            <key>UFO_lightning_0006</key>
            <dict>
                <key>frame</key>
                <string>{{152,106},{9,7}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,6},{9,7}}</string>
                <key>sourceSize</key>
                <string>{47,33}</string>
            </dict>
            <key>UFO_lightning_0007</key>
            <dict>
                <key>frame</key>
                <string>{{152,106},{9,7}}</string>
                <key>offset</key>
                <string>{19,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,6},{9,7}}</string>
                <key>sourceSize</key>
                <string>{47,33}</string>
            </dict>
            <key>UFO_lightning_0008</key>
            <dict>
                <key>frame</key>
                <string>{{80,105},{7,5}}</string>
                <key>offset</key>
                <string>{13,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{7,5}}</string>
                <key>sourceSize</key>
                <string>{47,33}</string>
            </dict>
            <key>UFO_lightning_0009</key>
            <dict>
                <key>frame</key>
                <string>{{80,105},{7,5}}</string>
                <key>offset</key>
                <string>{13,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,0},{7,5}}</string>
                <key>sourceSize</key>
                <string>{47,33}</string>
            </dict>
            <key>UFO_man</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{85,63}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,63}}</string>
                <key>sourceSize</key>
                <string>{91,73}</string>
            </dict>
            <key>light_bg</key>
            <dict>
                <key>frame</key>
                <string>{{87,0},{37,121}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,121}}</string>
                <key>sourceSize</key>
                <string>{43,127}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UFO@2x.png</string>
            <key>size</key>
            <string>{202,221}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99f5d812f08d2be15746590de74d3e9c$</string>
            <key>textureFileName</key>
            <string>UFO@2x.png</string>
        </dict>
    </dict>
</plist>
