<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>venom0000</key>
		<dict>
			<key>frame</key>
			<string>{{182,456},{44,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,43}}</string>
			<key>sourceSize</key>
			<string>{44,43}</string>
		</dict>
		<key>venom0001</key>
		<dict>
			<key>frame</key>
			<string>{{136,456},{44,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,43}}</string>
			<key>sourceSize</key>
			<string>{44,43}</string>
		</dict>
		<key>venom0002</key>
		<dict>
			<key>frame</key>
			<string>{{91,456},{44,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,43}}</string>
			<key>sourceSize</key>
			<string>{44,43}</string>
		</dict>
		<key>venom0003</key>
		<dict>
			<key>frame</key>
			<string>{{45,456},{44,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,43}}</string>
			<key>sourceSize</key>
			<string>{44,43}</string>
		</dict>
		<key>venom0004</key>
		<dict>
			<key>frame</key>
			<string>{{0,452},{44,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,43}}</string>
			<key>sourceSize</key>
			<string>{44,43}</string>
		</dict>
		<key>venom0005</key>
		<dict>
			<key>frame</key>
			<string>{{228,413},{44,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,43}}</string>
			<key>sourceSize</key>
			<string>{44,43}</string>
		</dict>
		<key>venom0006</key>
		<dict>
			<key>frame</key>
			<string>{{182,411},{44,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,43}}</string>
			<key>sourceSize</key>
			<string>{44,43}</string>
		</dict>
		<key>venom0007</key>
		<dict>
			<key>frame</key>
			<string>{{136,411},{44,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,43}}</string>
			<key>sourceSize</key>
			<string>{44,43}</string>
		</dict>
		<key>venom0008</key>
		<dict>
			<key>frame</key>
			<string>{{91,411},{44,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,43}}</string>
			<key>sourceSize</key>
			<string>{44,43}</string>
		</dict>
		<key>venom0009</key>
		<dict>
			<key>frame</key>
			<string>{{45,411},{44,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,43}}</string>
			<key>sourceSize</key>
			<string>{44,43}</string>
		</dict>
		<key>venom0010</key>
		<dict>
			<key>frame</key>
			<string>{{45,411},{44,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,43}}</string>
			<key>sourceSize</key>
			<string>{44,43}</string>
		</dict>
		<key>venom0011</key>
		<dict>
			<key>frame</key>
			<string>{{91,411},{44,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,43}}</string>
			<key>sourceSize</key>
			<string>{44,43}</string>
		</dict>
		<key>venom0012</key>
		<dict>
			<key>frame</key>
			<string>{{0,407},{44,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,43}}</string>
			<key>sourceSize</key>
			<string>{44,43}</string>
		</dict>
		<key>venom0013</key>
		<dict>
			<key>frame</key>
			<string>{{0,362},{44,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,43}}</string>
			<key>sourceSize</key>
			<string>{44,43}</string>
		</dict>
		<key>venom0014</key>
		<dict>
			<key>frame</key>
			<string>{{228,413},{44,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,43}}</string>
			<key>sourceSize</key>
			<string>{44,43}</string>
		</dict>
		<key>venom0015</key>
		<dict>
			<key>frame</key>
			<string>{{0,452},{44,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,43}}</string>
			<key>sourceSize</key>
			<string>{44,43}</string>
		</dict>
		<key>venom0016</key>
		<dict>
			<key>frame</key>
			<string>{{45,456},{44,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,43}}</string>
			<key>sourceSize</key>
			<string>{44,43}</string>
		</dict>
		<key>venom0017</key>
		<dict>
			<key>frame</key>
			<string>{{91,456},{44,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,43}}</string>
			<key>sourceSize</key>
			<string>{44,43}</string>
		</dict>
		<key>venom0018</key>
		<dict>
			<key>frame</key>
			<string>{{136,456},{44,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,43}}</string>
			<key>sourceSize</key>
			<string>{44,43}</string>
		</dict>
		<key>venom0019</key>
		<dict>
			<key>frame</key>
			<string>{{182,456},{44,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,43}}</string>
			<key>sourceSize</key>
			<string>{44,43}</string>
		</dict>
		<key>venom_destroy0000</key>
		<dict>
			<key>frame</key>
			<string>{{106,191},{41,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{41,41}}</string>
			<key>sourceSize</key>
			<string>{46,42}</string>
		</dict>
		<key>venom_destroy0001</key>
		<dict>
			<key>frame</key>
			<string>{{36,30},{38,37}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,1},{38,37}}</string>
			<key>sourceSize</key>
			<string>{46,42}</string>
		</dict>
		<key>venom_destroy0002</key>
		<dict>
			<key>frame</key>
			<string>{{82,0},{35,32}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,3},{35,32}}</string>
			<key>sourceSize</key>
			<string>{46,42}</string>
		</dict>
		<key>venom_destroy0003</key>
		<dict>
			<key>frame</key>
			<string>{{4,0},{28,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{9,5},{28,30}}</string>
			<key>sourceSize</key>
			<string>{46,42}</string>
		</dict>
		<key>venom_destroy0004</key>
		<dict>
			<key>frame</key>
			<string>{{119,0},{34,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,3},{34,33}}</string>
			<key>sourceSize</key>
			<string>{46,42}</string>
		</dict>
		<key>venom_destroy0005</key>
		<dict>
			<key>frame</key>
			<string>{{0,30},{35,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,3},{35,35}}</string>
			<key>sourceSize</key>
			<string>{46,42}</string>
		</dict>
		<key>venom_destroy0006</key>
		<dict>
			<key>frame</key>
			<string>{{0,190},{40,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{40,41}}</string>
			<key>sourceSize</key>
			<string>{46,42}</string>
		</dict>
		<key>venom_destroy0007</key>
		<dict>
			<key>frame</key>
			<string>{{221,193},{41,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{41,42}}</string>
			<key>sourceSize</key>
			<string>{46,42}</string>
		</dict>
		<key>venom_destroy0008</key>
		<dict>
			<key>frame</key>
			<string>{{136,235},{44,42}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,42}}</string>
			<key>sourceSize</key>
			<string>{46,42}</string>
		</dict>
		<key>venom_destroy0009</key>
		<dict>
			<key>frame</key>
			<string>{{96,279},{46,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,42}}</string>
			<key>sourceSize</key>
			<string>{46,42}</string>
		</dict>
		<key>venom_destroy0010</key>
		<dict>
			<key>frame</key>
			<string>{{48,275},{46,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,42}}</string>
			<key>sourceSize</key>
			<string>{46,42}</string>
		</dict>
		<key>venom_destroy0011</key>
		<dict>
			<key>frame</key>
			<string>{{0,275},{46,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,42}}</string>
			<key>sourceSize</key>
			<string>{46,42}</string>
		</dict>
		<key>venom_destroy0012</key>
		<dict>
			<key>frame</key>
			<string>{{35,0},{45,28}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{45,28}}</string>
			<key>sourceSize</key>
			<string>{46,42}</string>
		</dict>
		<key>venom_destroy0013</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{3,2}}</string>
			<key>offset</key>
			<string>{-20,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{3,2}}</string>
			<key>sourceSize</key>
			<string>{46,42}</string>
		</dict>
		<key>venom_down0000</key>
		<dict>
			<key>frame</key>
			<string>{{228,458},{44,44}}</string>
			<key>offset</key>
			<string>{0,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{44,44}}</string>
			<key>sourceSize</key>
			<string>{44,96}</string>
		</dict>
		<key>venom_down0001</key>
		<dict>
			<key>frame</key>
			<string>{{228,458},{44,44}}</string>
			<key>offset</key>
			<string>{0,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{44,44}}</string>
			<key>sourceSize</key>
			<string>{44,96}</string>
		</dict>
		<key>venom_down0002</key>
		<dict>
			<key>frame</key>
			<string>{{228,458},{44,44}}</string>
			<key>offset</key>
			<string>{0,21}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{44,44}}</string>
			<key>sourceSize</key>
			<string>{44,96}</string>
		</dict>
		<key>venom_down0003</key>
		<dict>
			<key>frame</key>
			<string>{{0,108},{39,64}}</string>
			<key>offset</key>
			<string>{-1,13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,2},{39,64}}</string>
			<key>sourceSize</key>
			<string>{44,96}</string>
		</dict>
		<key>venom_down0004</key>
		<dict>
			<key>frame</key>
			<string>{{0,108},{39,64}}</string>
			<key>offset</key>
			<string>{-1,13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,2},{39,64}}</string>
			<key>sourceSize</key>
			<string>{44,96}</string>
		</dict>
		<key>venom_down0005</key>
		<dict>
			<key>frame</key>
			<string>{{183,35},{38,71}}</string>
			<key>offset</key>
			<string>{0,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{38,71}}</string>
			<key>sourceSize</key>
			<string>{44,96}</string>
		</dict>
		<key>venom_down0006</key>
		<dict>
			<key>frame</key>
			<string>{{183,35},{38,71}}</string>
			<key>offset</key>
			<string>{0,10}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,2},{38,71}}</string>
			<key>sourceSize</key>
			<string>{44,96}</string>
		</dict>
		<key>venom_down0007</key>
		<dict>
			<key>frame</key>
			<string>{{175,75},{38,88}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{38,88}}</string>
			<key>sourceSize</key>
			<string>{44,96}</string>
		</dict>
		<key>venom_down0008</key>
		<dict>
			<key>frame</key>
			<string>{{175,75},{38,88}}</string>
			<key>offset</key>
			<string>{0,3}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{38,88}}</string>
			<key>sourceSize</key>
			<string>{44,96}</string>
		</dict>
		<key>venom_down0009</key>
		<dict>
			<key>frame</key>
			<string>{{65,111},{38,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{38,96}}</string>
			<key>sourceSize</key>
			<string>{44,96}</string>
		</dict>
		<key>venom_down0010</key>
		<dict>
			<key>frame</key>
			<string>{{65,111},{38,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,0},{38,96}}</string>
			<key>sourceSize</key>
			<string>{44,96}</string>
		</dict>
		<key>venom_down0011</key>
		<dict>
			<key>frame</key>
			<string>{{45,366},{43,90}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,4},{43,90}}</string>
			<key>sourceSize</key>
			<string>{44,96}</string>
		</dict>
		<key>venom_down0012</key>
		<dict>
			<key>frame</key>
			<string>{{45,366},{43,90}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,4},{43,90}}</string>
			<key>sourceSize</key>
			<string>{44,96}</string>
		</dict>
		<key>venom_down0013</key>
		<dict>
			<key>frame</key>
			<string>{{181,236},{41,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,3},{41,89}}</string>
			<key>sourceSize</key>
			<string>{44,96}</string>
		</dict>
		<key>venom_down0014</key>
		<dict>
			<key>frame</key>
			<string>{{181,236},{41,89}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,3},{41,89}}</string>
			<key>sourceSize</key>
			<string>{44,96}</string>
		</dict>
		<key>venom_down0015</key>
		<dict>
			<key>frame</key>
			<string>{{180,323},{43,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,3},{43,90}}</string>
			<key>sourceSize</key>
			<string>{44,96}</string>
		</dict>
		<key>venom_down0016</key>
		<dict>
			<key>frame</key>
			<string>{{180,323},{43,90}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,3},{43,90}}</string>
			<key>sourceSize</key>
			<string>{44,96}</string>
		</dict>
		<key>venom_down0017</key>
		<dict>
			<key>frame</key>
			<string>{{0,546},{44,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{44,88}}</string>
			<key>sourceSize</key>
			<string>{44,96}</string>
		</dict>
		<key>venom_down0018</key>
		<dict>
			<key>frame</key>
			<string>{{0,546},{44,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{44,88}}</string>
			<key>sourceSize</key>
			<string>{44,96}</string>
		</dict>
		<key>venom_down0019</key>
		<dict>
			<key>frame</key>
			<string>{{0,546},{44,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{44,88}}</string>
			<key>sourceSize</key>
			<string>{44,96}</string>
		</dict>
		<key>venom_down0020</key>
		<dict>
			<key>frame</key>
			<string>{{0,546},{44,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{44,88}}</string>
			<key>sourceSize</key>
			<string>{44,96}</string>
		</dict>
		<key>venom_down0021</key>
		<dict>
			<key>frame</key>
			<string>{{0,546},{44,88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,4},{44,88}}</string>
			<key>sourceSize</key>
			<string>{44,96}</string>
		</dict>
		<key>venom_left0000</key>
		<dict>
			<key>frame</key>
			<string>{{228,367},{43,44}}</string>
			<key>offset</key>
			<string>{21,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{53,0},{43,44}}</string>
			<key>sourceSize</key>
			<string>{106,44}</string>
		</dict>
		<key>venom_left0001</key>
		<dict>
			<key>frame</key>
			<string>{{228,367},{43,44}}</string>
			<key>offset</key>
			<string>{21,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{53,0},{43,44}}</string>
			<key>sourceSize</key>
			<string>{106,44}</string>
		</dict>
		<key>venom_left0002</key>
		<dict>
			<key>frame</key>
			<string>{{228,367},{43,44}}</string>
			<key>offset</key>
			<string>{21,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{53,0},{43,44}}</string>
			<key>sourceSize</key>
			<string>{106,44}</string>
		</dict>
		<key>venom_left0003</key>
		<dict>
			<key>frame</key>
			<string>{{0,233},{62,40}}</string>
			<key>offset</key>
			<string>{15,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,2},{62,40}}</string>
			<key>sourceSize</key>
			<string>{106,44}</string>
		</dict>
		<key>venom_left0004</key>
		<dict>
			<key>frame</key>
			<string>{{0,233},{62,40}}</string>
			<key>offset</key>
			<string>{15,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{36,2},{62,40}}</string>
			<key>sourceSize</key>
			<string>{106,44}</string>
		</dict>
		<key>venom_left0005</key>
		<dict>
			<key>frame</key>
			<string>{{63,233},{71,40}}</string>
			<key>offset</key>
			<string>{11,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,2},{71,40}}</string>
			<key>sourceSize</key>
			<string>{106,44}</string>
		</dict>
		<key>venom_left0006</key>
		<dict>
			<key>frame</key>
			<string>{{63,233},{71,40}}</string>
			<key>offset</key>
			<string>{11,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{29,2},{71,40}}</string>
			<key>sourceSize</key>
			<string>{106,44}</string>
		</dict>
		<key>venom_left0007</key>
		<dict>
			<key>frame</key>
			<string>{{155,0},{97,34}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,6},{97,34}}</string>
			<key>sourceSize</key>
			<string>{106,44}</string>
		</dict>
		<key>venom_left0008</key>
		<dict>
			<key>frame</key>
			<string>{{155,0},{97,34}}</string>
			<key>offset</key>
			<string>{2,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,6},{97,34}}</string>
			<key>sourceSize</key>
			<string>{106,44}</string>
		</dict>
		<key>venom_left0009</key>
		<dict>
			<key>frame</key>
			<string>{{76,35},{106,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{106,36}}</string>
			<key>sourceSize</key>
			<string>{106,44}</string>
		</dict>
		<key>venom_left0010</key>
		<dict>
			<key>frame</key>
			<string>{{76,35},{106,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{106,36}}</string>
			<key>sourceSize</key>
			<string>{106,44}</string>
		</dict>
		<key>venom_left0011</key>
		<dict>
			<key>frame</key>
			<string>{{88,592},{90,44}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,0},{90,44}}</string>
			<key>sourceSize</key>
			<string>{106,44}</string>
		</dict>
		<key>venom_left0012</key>
		<dict>
			<key>frame</key>
			<string>{{88,592},{90,44}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{12,0},{90,44}}</string>
			<key>sourceSize</key>
			<string>{106,44}</string>
		</dict>
		<key>venom_left0013</key>
		<dict>
			<key>frame</key>
			<string>{{0,319},{88,41}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{88,41}}</string>
			<key>sourceSize</key>
			<string>{106,44}</string>
		</dict>
		<key>venom_left0014</key>
		<dict>
			<key>frame</key>
			<string>{{0,319},{88,41}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{88,41}}</string>
			<key>sourceSize</key>
			<string>{106,44}</string>
		</dict>
		<key>venom_left0015</key>
		<dict>
			<key>frame</key>
			<string>{{180,548},{90,44}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{90,44}}</string>
			<key>sourceSize</key>
			<string>{106,44}</string>
		</dict>
		<key>venom_left0016</key>
		<dict>
			<key>frame</key>
			<string>{{180,548},{90,44}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{90,44}}</string>
			<key>sourceSize</key>
			<string>{106,44}</string>
		</dict>
		<key>venom_left0017</key>
		<dict>
			<key>frame</key>
			<string>{{180,594},{87,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{87,44}}</string>
			<key>sourceSize</key>
			<string>{106,44}</string>
		</dict>
		<key>venom_left0018</key>
		<dict>
			<key>frame</key>
			<string>{{180,594},{87,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{87,44}}</string>
			<key>sourceSize</key>
			<string>{106,44}</string>
		</dict>
		<key>venom_left0019</key>
		<dict>
			<key>frame</key>
			<string>{{180,594},{87,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{87,44}}</string>
			<key>sourceSize</key>
			<string>{106,44}</string>
		</dict>
		<key>venom_left0020</key>
		<dict>
			<key>frame</key>
			<string>{{180,594},{87,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{87,44}}</string>
			<key>sourceSize</key>
			<string>{106,44}</string>
		</dict>
		<key>venom_left0021</key>
		<dict>
			<key>frame</key>
			<string>{{180,594},{87,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{87,44}}</string>
			<key>sourceSize</key>
			<string>{106,44}</string>
		</dict>
		<key>venom_right0000</key>
		<dict>
			<key>frame</key>
			<string>{{228,367},{43,44}}</string>
			<key>offset</key>
			<string>{-16,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,0},{43,44}}</string>
			<key>sourceSize</key>
			<string>{100,44}</string>
		</dict>
		<key>venom_right0001</key>
		<dict>
			<key>frame</key>
			<string>{{228,367},{43,44}}</string>
			<key>offset</key>
			<string>{-16,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,0},{43,44}}</string>
			<key>sourceSize</key>
			<string>{100,44}</string>
		</dict>
		<key>venom_right0002</key>
		<dict>
			<key>frame</key>
			<string>{{228,367},{43,44}}</string>
			<key>offset</key>
			<string>{-16,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,0},{43,44}}</string>
			<key>sourceSize</key>
			<string>{100,44}</string>
		</dict>
		<key>venom_right0003</key>
		<dict>
			<key>frame</key>
			<string>{{42,191},{62,40}}</string>
			<key>offset</key>
			<string>{-11,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,2},{62,40}}</string>
			<key>sourceSize</key>
			<string>{100,44}</string>
		</dict>
		<key>venom_right0004</key>
		<dict>
			<key>frame</key>
			<string>{{42,191},{62,40}}</string>
			<key>offset</key>
			<string>{-11,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,2},{62,40}}</string>
			<key>sourceSize</key>
			<string>{100,44}</string>
		</dict>
		<key>venom_right0005</key>
		<dict>
			<key>frame</key>
			<string>{{149,193},{71,40}}</string>
			<key>offset</key>
			<string>{-10,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{71,40}}</string>
			<key>sourceSize</key>
			<string>{100,44}</string>
		</dict>
		<key>venom_right0006</key>
		<dict>
			<key>frame</key>
			<string>{{149,193},{71,40}}</string>
			<key>offset</key>
			<string>{-10,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{71,40}}</string>
			<key>sourceSize</key>
			<string>{100,44}</string>
		</dict>
		<key>venom_right0007</key>
		<dict>
			<key>frame</key>
			<string>{{163,114},{95,38}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{95,38}}</string>
			<key>sourceSize</key>
			<string>{100,44}</string>
		</dict>
		<key>venom_right0008</key>
		<dict>
			<key>frame</key>
			<string>{{163,114},{95,38}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{95,38}}</string>
			<key>sourceSize</key>
			<string>{100,44}</string>
		</dict>
		<key>venom_right0009</key>
		<dict>
			<key>frame</key>
			<string>{{74,73},{100,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{100,36}}</string>
			<key>sourceSize</key>
			<string>{100,44}</string>
		</dict>
		<key>venom_right0010</key>
		<dict>
			<key>frame</key>
			<string>{{74,73},{100,36}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{100,36}}</string>
			<key>sourceSize</key>
			<string>{100,44}</string>
		</dict>
		<key>venom_right0011</key>
		<dict>
			<key>frame</key>
			<string>{{137,367},{90,43}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,1},{90,43}}</string>
			<key>sourceSize</key>
			<string>{100,44}</string>
		</dict>
		<key>venom_right0012</key>
		<dict>
			<key>frame</key>
			<string>{{137,367},{90,43}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{10,1},{90,43}}</string>
			<key>sourceSize</key>
			<string>{100,44}</string>
		</dict>
		<key>venom_right0013</key>
		<dict>
			<key>frame</key>
			<string>{{144,280},{88,41}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,1},{88,41}}</string>
			<key>sourceSize</key>
			<string>{100,44}</string>
		</dict>
		<key>venom_right0014</key>
		<dict>
			<key>frame</key>
			<string>{{144,280},{88,41}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,1},{88,41}}</string>
			<key>sourceSize</key>
			<string>{100,44}</string>
		</dict>
		<key>venom_right0015</key>
		<dict>
			<key>frame</key>
			<string>{{89,546},{90,44}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,0},{90,44}}</string>
			<key>sourceSize</key>
			<string>{100,44}</string>
		</dict>
		<key>venom_right0016</key>
		<dict>
			<key>frame</key>
			<string>{{89,546},{90,44}}</string>
			<key>offset</key>
			<string>{4,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{9,0},{90,44}}</string>
			<key>sourceSize</key>
			<string>{100,44}</string>
		</dict>
		<key>venom_right0017</key>
		<dict>
			<key>frame</key>
			<string>{{0,591},{87,44}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,0},{87,44}}</string>
			<key>sourceSize</key>
			<string>{100,44}</string>
		</dict>
		<key>venom_right0018</key>
		<dict>
			<key>frame</key>
			<string>{{0,591},{87,44}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,0},{87,44}}</string>
			<key>sourceSize</key>
			<string>{100,44}</string>
		</dict>
		<key>venom_right0019</key>
		<dict>
			<key>frame</key>
			<string>{{0,591},{87,44}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,0},{87,44}}</string>
			<key>sourceSize</key>
			<string>{100,44}</string>
		</dict>
		<key>venom_right0020</key>
		<dict>
			<key>frame</key>
			<string>{{0,591},{87,44}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,0},{87,44}}</string>
			<key>sourceSize</key>
			<string>{100,44}</string>
		</dict>
		<key>venom_right0021</key>
		<dict>
			<key>frame</key>
			<string>{{0,591},{87,44}}</string>
			<key>offset</key>
			<string>{5,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,0},{87,44}}</string>
			<key>sourceSize</key>
			<string>{100,44}</string>
		</dict>
		<key>venom_up0000</key>
		<dict>
			<key>frame</key>
			<string>{{228,367},{43,44}}</string>
			<key>offset</key>
			<string>{0,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,46},{43,44}}</string>
			<key>sourceSize</key>
			<string>{46,96}</string>
		</dict>
		<key>venom_up0001</key>
		<dict>
			<key>frame</key>
			<string>{{228,367},{43,44}}</string>
			<key>offset</key>
			<string>{0,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,46},{43,44}}</string>
			<key>sourceSize</key>
			<string>{46,96}</string>
		</dict>
		<key>venom_up0002</key>
		<dict>
			<key>frame</key>
			<string>{{228,367},{43,44}}</string>
			<key>offset</key>
			<string>{0,-20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,46},{43,44}}</string>
			<key>sourceSize</key>
			<string>{46,96}</string>
		</dict>
		<key>venom_up0003</key>
		<dict>
			<key>frame</key>
			<string>{{0,149},{40,64}}</string>
			<key>offset</key>
			<string>{1,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,29},{40,64}}</string>
			<key>sourceSize</key>
			<string>{46,96}</string>
		</dict>
		<key>venom_up0004</key>
		<dict>
			<key>frame</key>
			<string>{{0,149},{40,64}}</string>
			<key>offset</key>
			<string>{1,-13}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{4,29},{40,64}}</string>
			<key>sourceSize</key>
			<string>{46,96}</string>
		</dict>
		<key>venom_up0005</key>
		<dict>
			<key>frame</key>
			<string>{{0,68},{38,73}}</string>
			<key>offset</key>
			<string>{2,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,21},{38,73}}</string>
			<key>sourceSize</key>
			<string>{46,96}</string>
		</dict>
		<key>venom_up0006</key>
		<dict>
			<key>frame</key>
			<string>{{0,68},{38,73}}</string>
			<key>offset</key>
			<string>{2,-9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,21},{38,73}}</string>
			<key>sourceSize</key>
			<string>{46,96}</string>
		</dict>
		<key>venom_up0007</key>
		<dict>
			<key>frame</key>
			<string>{{65,151},{38,88}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,6},{38,88}}</string>
			<key>sourceSize</key>
			<string>{46,96}</string>
		</dict>
		<key>venom_up0008</key>
		<dict>
			<key>frame</key>
			<string>{{65,151},{38,88}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,6},{38,88}}</string>
			<key>sourceSize</key>
			<string>{46,96}</string>
		</dict>
		<key>venom_up0009</key>
		<dict>
			<key>frame</key>
			<string>{{155,153},{38,96}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{38,96}}</string>
			<key>sourceSize</key>
			<string>{46,96}</string>
		</dict>
		<key>venom_up0010</key>
		<dict>
			<key>frame</key>
			<string>{{155,153},{38,96}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,0},{38,96}}</string>
			<key>sourceSize</key>
			<string>{46,96}</string>
		</dict>
		<key>venom_up0011</key>
		<dict>
			<key>frame</key>
			<string>{{91,501},{43,90}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{43,90}}</string>
			<key>sourceSize</key>
			<string>{46,96}</string>
		</dict>
		<key>venom_up0012</key>
		<dict>
			<key>frame</key>
			<string>{{91,501},{43,90}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{43,90}}</string>
			<key>sourceSize</key>
			<string>{46,96}</string>
		</dict>
		<key>venom_up0013</key>
		<dict>
			<key>frame</key>
			<string>{{90,323},{42,89}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,1},{42,89}}</string>
			<key>sourceSize</key>
			<string>{46,96}</string>
		</dict>
		<key>venom_up0014</key>
		<dict>
			<key>frame</key>
			<string>{{90,323},{42,89}}</string>
			<key>offset</key>
			<string>{1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{3,1},{42,89}}</string>
			<key>sourceSize</key>
			<string>{46,96}</string>
		</dict>
		<key>venom_up0015</key>
		<dict>
			<key>frame</key>
			<string>{{0,501},{43,90}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{43,90}}</string>
			<key>sourceSize</key>
			<string>{46,96}</string>
		</dict>
		<key>venom_up0016</key>
		<dict>
			<key>frame</key>
			<string>{{0,501},{43,90}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{1,0},{43,90}}</string>
			<key>sourceSize</key>
			<string>{46,96}</string>
		</dict>
		<key>venom_up0017</key>
		<dict>
			<key>frame</key>
			<string>{{183,503},{43,86}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{43,86}}</string>
			<key>sourceSize</key>
			<string>{46,96}</string>
		</dict>
		<key>venom_up0018</key>
		<dict>
			<key>frame</key>
			<string>{{183,503},{43,86}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{43,86}}</string>
			<key>sourceSize</key>
			<string>{46,96}</string>
		</dict>
		<key>venom_up0019</key>
		<dict>
			<key>frame</key>
			<string>{{183,503},{43,86}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{43,86}}</string>
			<key>sourceSize</key>
			<string>{46,96}</string>
		</dict>
		<key>venom_up0020</key>
		<dict>
			<key>frame</key>
			<string>{{183,503},{43,86}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{43,86}}</string>
			<key>sourceSize</key>
			<string>{46,96}</string>
		</dict>
		<key>venom_up0021</key>
		<dict>
			<key>frame</key>
			<string>{{183,503},{43,86}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,3},{43,86}}</string>
			<key>sourceSize</key>
			<string>{46,96}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>venom@2x.png</string>
		<key>size</key>
		<string>{272,638}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:a6996fb8aa2752ed1ae585c11f61768f$</string>
		<key>textureFileName</key>
		<string>venom@2x.png</string>
	</dict>
</dict>
</plist>
