<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Symbol 40000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{271,271}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{271,271}}</string>
				<key>sourceSize</key>
				<string>{271,271}</string>
			</dict>
			<key>Symbol 50000</key>
			<dict>
				<key>frame</key>
				<string>{{273,212},{18,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{18,22}}</string>
				<key>sourceSize</key>
				<string>{18,22}</string>
			</dict>
			<key>circle0000</key>
			<dict>
				<key>frame</key>
				<string>{{273,0},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>guide_hand_down0000</key>
			<dict>
				<key>frame</key>
				<string>{{157,273},{167,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{167,136}}</string>
				<key>sourceSize</key>
				<string>{167,136}</string>
			</dict>
			<key>guide_hand_ring0000</key>
			<dict>
				<key>frame</key>
				<string>{{273,130},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>guide_hand_up0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,273},{155,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,151}}</string>
				<key>sourceSize</key>
				<string>{155,151}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>guideelem.png</string>
			<key>size</key>
			<string>{410,430}</string>
			<key>textureFileName</key>
			<string>guideelem.png</string>
		</dict>
	</dict>
</plist>
