<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>guides.panImage_baozha.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,201}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{198,201}}</string>
                <key>sourceSize</key>
                <string>{198,201}</string>
            </dict>
            <key>guides_panImage_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>guides_panImage_T.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{24,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,25}}</string>
                <key>sourceSize</key>
                <string>{24,25}</string>
            </dict>
            <key>guides_panImage_equa.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{18,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,10}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>guides_thanksgiving.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{292,279}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,279}}</string>
                <key>sourceSize</key>
                <string>{292,279}</string>
            </dict>
            <key>rabbit_guide.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{294,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{294,281}}</string>
                <key>sourceSize</key>
                <string>{294,281}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guidespanImage@2x.png</string>
            <key>size</key>
            <string>{864,285}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86b4e237dc233dae9b255f81bc73a4be$</string>
            <key>textureFileName</key>
            <string>guidespanImage@2x.png</string>
        </dict>
    </dict>
</plist>
