<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hide_branch10000</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{547,239}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{547,239}}</string>
				<key>sourceSize</key>
				<string>{547,239}</string>
			</dict>
			<key>hide_branch20000</key>
			<dict>
				<key>frame</key>
				<string>{{2,243},{541,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{541,172}}</string>
				<key>sourceSize</key>
				<string>{541,172}</string>
			</dict>
			<key>hide_branch30000</key>
			<dict>
				<key>frame</key>
				<string>{{2,417},{578,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{578,141}}</string>
				<key>sourceSize</key>
				<string>{578,141}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>branch.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>branch.png</string>
		</dict>
	</dict>
</plist>
