<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hiddenBranchMask10000</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10001</key>
			<dict>
				<key>frame</key>
				<string>{{288,2},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10002</key>
			<dict>
				<key>frame</key>
				<string>{{574,2},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10003</key>
			<dict>
				<key>frame</key>
				<string>{{860,2},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10004</key>
			<dict>
				<key>frame</key>
				<string>{{1146,2},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10005</key>
			<dict>
				<key>frame</key>
				<string>{{1432,2},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10006</key>
			<dict>
				<key>frame</key>
				<string>{{1718,2},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10007</key>
			<dict>
				<key>frame</key>
				<string>{{2,134},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10008</key>
			<dict>
				<key>frame</key>
				<string>{{288,134},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10009</key>
			<dict>
				<key>frame</key>
				<string>{{574,134},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10010</key>
			<dict>
				<key>frame</key>
				<string>{{860,134},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10011</key>
			<dict>
				<key>frame</key>
				<string>{{1146,134},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10012</key>
			<dict>
				<key>frame</key>
				<string>{{1432,134},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10013</key>
			<dict>
				<key>frame</key>
				<string>{{1718,134},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10014</key>
			<dict>
				<key>frame</key>
				<string>{{2,266},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10015</key>
			<dict>
				<key>frame</key>
				<string>{{288,266},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10016</key>
			<dict>
				<key>frame</key>
				<string>{{574,266},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10017</key>
			<dict>
				<key>frame</key>
				<string>{{860,266},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10018</key>
			<dict>
				<key>frame</key>
				<string>{{1146,266},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10019</key>
			<dict>
				<key>frame</key>
				<string>{{1432,266},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10020</key>
			<dict>
				<key>frame</key>
				<string>{{1718,266},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10021</key>
			<dict>
				<key>frame</key>
				<string>{{2,398},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10022</key>
			<dict>
				<key>frame</key>
				<string>{{288,398},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10023</key>
			<dict>
				<key>frame</key>
				<string>{{574,398},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10024</key>
			<dict>
				<key>frame</key>
				<string>{{860,398},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10025</key>
			<dict>
				<key>frame</key>
				<string>{{1146,398},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10026</key>
			<dict>
				<key>frame</key>
				<string>{{1432,398},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10027</key>
			<dict>
				<key>frame</key>
				<string>{{1718,398},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10028</key>
			<dict>
				<key>frame</key>
				<string>{{2,530},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10029</key>
			<dict>
				<key>frame</key>
				<string>{{288,530},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10030</key>
			<dict>
				<key>frame</key>
				<string>{{574,530},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10031</key>
			<dict>
				<key>frame</key>
				<string>{{860,530},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10032</key>
			<dict>
				<key>frame</key>
				<string>{{1146,530},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10033</key>
			<dict>
				<key>frame</key>
				<string>{{1432,530},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10034</key>
			<dict>
				<key>frame</key>
				<string>{{1718,530},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10035</key>
			<dict>
				<key>frame</key>
				<string>{{2,662},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask10036</key>
			<dict>
				<key>frame</key>
				<string>{{288,662},{284,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{284,130}}</string>
				<key>sourceSize</key>
				<string>{284,130}</string>
			</dict>
			<key>hiddenBranchMask20000</key>
			<dict>
				<key>frame</key>
				<string>{{574,662},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20001</key>
			<dict>
				<key>frame</key>
				<string>{{849,662},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20002</key>
			<dict>
				<key>frame</key>
				<string>{{1124,662},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20003</key>
			<dict>
				<key>frame</key>
				<string>{{1399,662},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20004</key>
			<dict>
				<key>frame</key>
				<string>{{1674,662},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20005</key>
			<dict>
				<key>frame</key>
				<string>{{574,772},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20006</key>
			<dict>
				<key>frame</key>
				<string>{{849,772},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20007</key>
			<dict>
				<key>frame</key>
				<string>{{1124,772},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20008</key>
			<dict>
				<key>frame</key>
				<string>{{1399,772},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20009</key>
			<dict>
				<key>frame</key>
				<string>{{1674,772},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20010</key>
			<dict>
				<key>frame</key>
				<string>{{2,794},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20011</key>
			<dict>
				<key>frame</key>
				<string>{{277,794},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20012</key>
			<dict>
				<key>frame</key>
				<string>{{552,882},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20013</key>
			<dict>
				<key>frame</key>
				<string>{{827,882},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20014</key>
			<dict>
				<key>frame</key>
				<string>{{1102,882},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20015</key>
			<dict>
				<key>frame</key>
				<string>{{1377,882},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20016</key>
			<dict>
				<key>frame</key>
				<string>{{1652,882},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20017</key>
			<dict>
				<key>frame</key>
				<string>{{2,904},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20018</key>
			<dict>
				<key>frame</key>
				<string>{{277,904},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20019</key>
			<dict>
				<key>frame</key>
				<string>{{552,992},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20020</key>
			<dict>
				<key>frame</key>
				<string>{{827,992},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20021</key>
			<dict>
				<key>frame</key>
				<string>{{1102,992},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20022</key>
			<dict>
				<key>frame</key>
				<string>{{1377,992},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20023</key>
			<dict>
				<key>frame</key>
				<string>{{1652,992},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20024</key>
			<dict>
				<key>frame</key>
				<string>{{2,1014},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20025</key>
			<dict>
				<key>frame</key>
				<string>{{277,1014},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20026</key>
			<dict>
				<key>frame</key>
				<string>{{552,1102},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20027</key>
			<dict>
				<key>frame</key>
				<string>{{827,1102},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20028</key>
			<dict>
				<key>frame</key>
				<string>{{1102,1102},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20029</key>
			<dict>
				<key>frame</key>
				<string>{{1377,1102},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20030</key>
			<dict>
				<key>frame</key>
				<string>{{1652,1102},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20031</key>
			<dict>
				<key>frame</key>
				<string>{{2,1124},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20032</key>
			<dict>
				<key>frame</key>
				<string>{{277,1124},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20033</key>
			<dict>
				<key>frame</key>
				<string>{{552,1212},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20034</key>
			<dict>
				<key>frame</key>
				<string>{{827,1212},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20035</key>
			<dict>
				<key>frame</key>
				<string>{{1102,1212},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask20036</key>
			<dict>
				<key>frame</key>
				<string>{{1377,1212},{273,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{273,108}}</string>
				<key>sourceSize</key>
				<string>{273,108}</string>
			</dict>
			<key>hiddenBranchMask30000</key>
			<dict>
				<key>frame</key>
				<string>{{1652,1212},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30001</key>
			<dict>
				<key>frame</key>
				<string>{{2,1234},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30002</key>
			<dict>
				<key>frame</key>
				<string>{{1652,1293},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30003</key>
			<dict>
				<key>frame</key>
				<string>{{2,1315},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30004</key>
			<dict>
				<key>frame</key>
				<string>{{304,1322},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30005</key>
			<dict>
				<key>frame</key>
				<string>{{606,1322},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30006</key>
			<dict>
				<key>frame</key>
				<string>{{908,1322},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30007</key>
			<dict>
				<key>frame</key>
				<string>{{1210,1322},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30008</key>
			<dict>
				<key>frame</key>
				<string>{{1512,1374},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30009</key>
			<dict>
				<key>frame</key>
				<string>{{2,1396},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30010</key>
			<dict>
				<key>frame</key>
				<string>{{304,1403},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30011</key>
			<dict>
				<key>frame</key>
				<string>{{606,1403},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30012</key>
			<dict>
				<key>frame</key>
				<string>{{908,1403},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30013</key>
			<dict>
				<key>frame</key>
				<string>{{1210,1403},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30014</key>
			<dict>
				<key>frame</key>
				<string>{{1512,1455},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30015</key>
			<dict>
				<key>frame</key>
				<string>{{2,1477},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30016</key>
			<dict>
				<key>frame</key>
				<string>{{304,1484},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30017</key>
			<dict>
				<key>frame</key>
				<string>{{606,1484},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30018</key>
			<dict>
				<key>frame</key>
				<string>{{908,1484},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30019</key>
			<dict>
				<key>frame</key>
				<string>{{1210,1484},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30020</key>
			<dict>
				<key>frame</key>
				<string>{{1512,1536},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30021</key>
			<dict>
				<key>frame</key>
				<string>{{2,1558},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30022</key>
			<dict>
				<key>frame</key>
				<string>{{304,1565},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30023</key>
			<dict>
				<key>frame</key>
				<string>{{606,1565},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30024</key>
			<dict>
				<key>frame</key>
				<string>{{908,1565},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30025</key>
			<dict>
				<key>frame</key>
				<string>{{1210,1565},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30026</key>
			<dict>
				<key>frame</key>
				<string>{{1512,1617},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30027</key>
			<dict>
				<key>frame</key>
				<string>{{2,1639},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30028</key>
			<dict>
				<key>frame</key>
				<string>{{304,1646},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30029</key>
			<dict>
				<key>frame</key>
				<string>{{606,1646},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30030</key>
			<dict>
				<key>frame</key>
				<string>{{908,1646},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30031</key>
			<dict>
				<key>frame</key>
				<string>{{1210,1646},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30032</key>
			<dict>
				<key>frame</key>
				<string>{{1512,1698},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30033</key>
			<dict>
				<key>frame</key>
				<string>{{2,1720},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30034</key>
			<dict>
				<key>frame</key>
				<string>{{304,1727},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30035</key>
			<dict>
				<key>frame</key>
				<string>{{606,1727},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
			<key>hiddenBranchMask30036</key>
			<dict>
				<key>frame</key>
				<string>{{908,1727},{300,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,79}}</string>
				<key>sourceSize</key>
				<string>{300,79}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>branch_mask.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>branch_mask.png</string>
		</dict>
	</dict>
</plist>
