<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>flowerFootball0000</key>
			<dict>
				<key>frame</key>
				<string>{{211,2},{54,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,79}}</string>
				<key>sourceSize</key>
				<string>{54,79}</string>
			</dict>
			<key>flowerOpenStar0000</key>
			<dict>
				<key>frame</key>
				<string>{{312,78},{63,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,46}}</string>
				<key>sourceSize</key>
				<string>{63,46}</string>
			</dict>
			<key>flowerOpenStar0001</key>
			<dict>
				<key>frame</key>
				<string>{{124,84},{63,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,46}}</string>
				<key>sourceSize</key>
				<string>{63,46}</string>
			</dict>
			<key>flowerOpenStar0002</key>
			<dict>
				<key>frame</key>
				<string>{{187,84},{63,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,46}}</string>
				<key>sourceSize</key>
				<string>{63,46}</string>
			</dict>
			<key>flowerOpenStar0003</key>
			<dict>
				<key>frame</key>
				<string>{{2,91},{63,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,46}}</string>
				<key>sourceSize</key>
				<string>{63,46}</string>
			</dict>
			<key>flowerOpenStar0004</key>
			<dict>
				<key>frame</key>
				<string>{{427,122},{63,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,46}}</string>
				<key>sourceSize</key>
				<string>{63,46}</string>
			</dict>
			<key>flowerOpenStar0005</key>
			<dict>
				<key>frame</key>
				<string>{{312,124},{63,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,46}}</string>
				<key>sourceSize</key>
				<string>{63,46}</string>
			</dict>
			<key>flowerOpenStar0006</key>
			<dict>
				<key>frame</key>
				<string>{{124,130},{63,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,46}}</string>
				<key>sourceSize</key>
				<string>{63,46}</string>
			</dict>
			<key>flowerOpenStar0007</key>
			<dict>
				<key>frame</key>
				<string>{{187,130},{63,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,46}}</string>
				<key>sourceSize</key>
				<string>{63,46}</string>
			</dict>
			<key>flowerOpenStar0008</key>
			<dict>
				<key>frame</key>
				<string>{{2,137},{63,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,46}}</string>
				<key>sourceSize</key>
				<string>{63,46}</string>
			</dict>
			<key>flowerOpenStar0009</key>
			<dict>
				<key>frame</key>
				<string>{{375,168},{63,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,46}}</string>
				<key>sourceSize</key>
				<string>{63,46}</string>
			</dict>
			<key>flowerOpenStar0010</key>
			<dict>
				<key>frame</key>
				<string>{{438,168},{63,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,46}}</string>
				<key>sourceSize</key>
				<string>{63,46}</string>
			</dict>
			<key>flowerOpenStar0011</key>
			<dict>
				<key>frame</key>
				<string>{{250,170},{63,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,46}}</string>
				<key>sourceSize</key>
				<string>{63,46}</string>
			</dict>
			<key>flowerOpenStar0012</key>
			<dict>
				<key>frame</key>
				<string>{{65,176},{63,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,46}}</string>
				<key>sourceSize</key>
				<string>{63,46}</string>
			</dict>
			<key>flowerOpenStar0013</key>
			<dict>
				<key>frame</key>
				<string>{{128,176},{63,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,46}}</string>
				<key>sourceSize</key>
				<string>{63,46}</string>
			</dict>
			<key>flowerOpenStar0014</key>
			<dict>
				<key>frame</key>
				<string>{{2,183},{63,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,46}}</string>
				<key>sourceSize</key>
				<string>{63,46}</string>
			</dict>
			<key>flowerSeed0000</key>
			<dict>
				<key>frame</key>
				<string>{{463,214},{29,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,47}}</string>
				<key>sourceSize</key>
				<string>{29,47}</string>
			</dict>
			<key>flowerShadow0000</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{72,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,89}}</string>
				<key>sourceSize</key>
				<string>{72,89}</string>
			</dict>
			<key>flowerShineCircle0000</key>
			<dict>
				<key>frame</key>
				<string>{{431,2},{63,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,55}}</string>
				<key>sourceSize</key>
				<string>{63,55}</string>
			</dict>
			<key>flowerStar10000</key>
			<dict>
				<key>frame</key>
				<string>{{483,62},{14,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,15}}</string>
				<key>sourceSize</key>
				<string>{14,15}</string>
			</dict>
			<key>flowerStar20000</key>
			<dict>
				<key>frame</key>
				<string>{{483,77},{14,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,15}}</string>
				<key>sourceSize</key>
				<string>{14,15}</string>
			</dict>
			<key>flowerStar30000</key>
			<dict>
				<key>frame</key>
				<string>{{494,2},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{15,15}}</string>
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>flowerStar40000</key>
			<dict>
				<key>frame</key>
				<string>{{494,17},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{15,15}}</string>
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>flowerStarOpenBackground0000</key>
			<dict>
				<key>frame</key>
				<string>{{74,2},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,75}}</string>
				<key>sourceSize</key>
				<string>{76,75}</string>
			</dict>
			<key>hiddenFlowerAnim10000</key>
			<dict>
				<key>frame</key>
				<string>{{431,57},{52,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,65}}</string>
				<key>sourceSize</key>
				<string>{52,65}</string>
			</dict>
			<key>hiddenFlowerAnim20000</key>
			<dict>
				<key>frame</key>
				<string>{{376,76},{51,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,65}}</string>
				<key>sourceSize</key>
				<string>{51,65}</string>
			</dict>
			<key>hiddenFlowerAnim30000</key>
			<dict>
				<key>frame</key>
				<string>{{74,77},{50,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,65}}</string>
				<key>sourceSize</key>
				<string>{50,65}</string>
			</dict>
			<key>hiddenFlowerStar10000</key>
			<dict>
				<key>frame</key>
				<string>{{250,81},{14,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,15}}</string>
				<key>sourceSize</key>
				<string>{14,15}</string>
			</dict>
			<key>hiddenFlowerStar20000</key>
			<dict>
				<key>frame</key>
				<string>{{494,32},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{15,15}}</string>
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>hiddenFlowerStar30000</key>
			<dict>
				<key>frame</key>
				<string>{{483,92},{14,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,15}}</string>
				<key>sourceSize</key>
				<string>{14,15}</string>
			</dict>
			<key>hiddenFlowerStar40000</key>
			<dict>
				<key>frame</key>
				<string>{{494,47},{15,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{15,15}}</string>
				<key>sourceSize</key>
				<string>{15,15}</string>
			</dict>
			<key>normalFlowerAnim00000</key>
			<dict>
				<key>frame</key>
				<string>{{265,77},{47,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,62}}</string>
				<key>sourceSize</key>
				<string>{47,62}</string>
			</dict>
			<key>normalFlowerAnim10000</key>
			<dict>
				<key>frame</key>
				<string>{{376,2},{55,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,74}}</string>
				<key>sourceSize</key>
				<string>{55,74}</string>
			</dict>
			<key>normalFlowerAnim20000</key>
			<dict>
				<key>frame</key>
				<string>{{265,2},{56,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,75}}</string>
				<key>sourceSize</key>
				<string>{56,75}</string>
			</dict>
			<key>normalFlowerAnim30000</key>
			<dict>
				<key>frame</key>
				<string>{{321,2},{55,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,76}}</string>
				<key>sourceSize</key>
				<string>{55,76}</string>
			</dict>
			<key>normalFlowerAnim40000</key>
			<dict>
				<key>frame</key>
				<string>{{150,2},{61,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,82}}</string>
				<key>sourceSize</key>
				<string>{61,82}</string>
			</dict>
			<key>shiningStars0000</key>
			<dict>
				<key>frame</key>
				<string>{{313,170},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0001</key>
			<dict>
				<key>frame</key>
				<string>{{191,176},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0002</key>
			<dict>
				<key>frame</key>
				<string>{{363,214},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0003</key>
			<dict>
				<key>frame</key>
				<string>{{413,214},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0004</key>
			<dict>
				<key>frame</key>
				<string>{{241,216},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0005</key>
			<dict>
				<key>frame</key>
				<string>{{291,217},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0006</key>
			<dict>
				<key>frame</key>
				<string>{{65,222},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0007</key>
			<dict>
				<key>frame</key>
				<string>{{115,222},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0008</key>
			<dict>
				<key>frame</key>
				<string>{{165,223},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0009</key>
			<dict>
				<key>frame</key>
				<string>{{2,229},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0010</key>
			<dict>
				<key>frame</key>
				<string>{{341,261},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0011</key>
			<dict>
				<key>frame</key>
				<string>{{391,261},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0012</key>
			<dict>
				<key>frame</key>
				<string>{{441,261},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0013</key>
			<dict>
				<key>frame</key>
				<string>{{215,263},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0014</key>
			<dict>
				<key>frame</key>
				<string>{{265,264},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0015</key>
			<dict>
				<key>frame</key>
				<string>{{52,269},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0016</key>
			<dict>
				<key>frame</key>
				<string>{{102,269},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0017</key>
			<dict>
				<key>frame</key>
				<string>{{152,270},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0018</key>
			<dict>
				<key>frame</key>
				<string>{{2,276},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0019</key>
			<dict>
				<key>frame</key>
				<string>{{315,308},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0020</key>
			<dict>
				<key>frame</key>
				<string>{{365,308},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0021</key>
			<dict>
				<key>frame</key>
				<string>{{415,308},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0022</key>
			<dict>
				<key>frame</key>
				<string>{{202,310},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0023</key>
			<dict>
				<key>frame</key>
				<string>{{252,311},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0024</key>
			<dict>
				<key>frame</key>
				<string>{{52,316},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0025</key>
			<dict>
				<key>frame</key>
				<string>{{102,316},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0026</key>
			<dict>
				<key>frame</key>
				<string>{{152,317},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
			<key>shiningStars0027</key>
			<dict>
				<key>frame</key>
				<string>{{2,323},{50,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,47}}</string>
				<key>sourceSize</key>
				<string>{50,47}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>flower_effects@2x.png</string>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>flower_effects@2x.png</string>
		</dict>
	</dict>
</plist>
