<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>flowerFootball0000</key>
			<dict>
				<key>frame</key>
				<string>{{327,2},{86,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,126}}</string>
				<key>sourceSize</key>
				<string>{86,126}</string>
			</dict>
			<key>flowerOpenStar0000</key>
			<dict>
				<key>frame</key>
				<string>{{752,105},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0001</key>
			<dict>
				<key>frame</key>
				<string>{{847,105},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0002</key>
			<dict>
				<key>frame</key>
				<string>{{110,122},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0003</key>
			<dict>
				<key>frame</key>
				<string>{{413,122},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0004</key>
			<dict>
				<key>frame</key>
				<string>{{508,122},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0005</key>
			<dict>
				<key>frame</key>
				<string>{{205,133},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0006</key>
			<dict>
				<key>frame</key>
				<string>{{300,133},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0007</key>
			<dict>
				<key>frame</key>
				<string>{{2,140},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0008</key>
			<dict>
				<key>frame</key>
				<string>{{752,172},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0009</key>
			<dict>
				<key>frame</key>
				<string>{{847,172},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0010</key>
			<dict>
				<key>frame</key>
				<string>{{603,188},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0011</key>
			<dict>
				<key>frame</key>
				<string>{{97,189},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0012</key>
			<dict>
				<key>frame</key>
				<string>{{395,189},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0013</key>
			<dict>
				<key>frame</key>
				<string>{{490,189},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerOpenStar0014</key>
			<dict>
				<key>frame</key>
				<string>{{192,200},{95,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,67}}</string>
				<key>sourceSize</key>
				<string>{95,67}</string>
			</dict>
			<key>flowerSeed0000</key>
			<dict>
				<key>frame</key>
				<string>{{965,321},{46,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,75}}</string>
				<key>sourceSize</key>
				<string>{46,75}</string>
			</dict>
			<key>flowerShadow0000</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{108,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,138}}</string>
				<key>sourceSize</key>
				<string>{108,138}</string>
			</dict>
			<key>flowerShineCircle0000</key>
			<dict>
				<key>frame</key>
				<string>{{676,2},{101,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,87}}</string>
				<key>sourceSize</key>
				<string>{101,87}</string>
			</dict>
			<key>flowerStar10000</key>
			<dict>
				<key>frame</key>
				<string>{{649,121},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,22}}</string>
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>flowerStar20000</key>
			<dict>
				<key>frame</key>
				<string>{{603,143},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,22}}</string>
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>flowerStar30000</key>
			<dict>
				<key>frame</key>
				<string>{{625,143},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,22}}</string>
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>flowerStar40000</key>
			<dict>
				<key>frame</key>
				<string>{{647,143},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,22}}</string>
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>flowerStarOpenBackground0000</key>
			<dict>
				<key>frame</key>
				<string>{{110,2},{121,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,120}}</string>
				<key>sourceSize</key>
				<string>{121,120}</string>
			</dict>
			<key>hiddenFlowerAnim10000</key>
			<dict>
				<key>frame</key>
				<string>{{777,2},{82,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,103}}</string>
				<key>sourceSize</key>
				<string>{82,103}</string>
			</dict>
			<key>hiddenFlowerAnim20000</key>
			<dict>
				<key>frame</key>
				<string>{{859,2},{81,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,103}}</string>
				<key>sourceSize</key>
				<string>{81,103}</string>
			</dict>
			<key>hiddenFlowerAnim30000</key>
			<dict>
				<key>frame</key>
				<string>{{940,2},{80,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,103}}</string>
				<key>sourceSize</key>
				<string>{80,103}</string>
			</dict>
			<key>hiddenFlowerStar10000</key>
			<dict>
				<key>frame</key>
				<string>{{603,165},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,22}}</string>
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>hiddenFlowerStar20000</key>
			<dict>
				<key>frame</key>
				<string>{{603,121},{23,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,22}}</string>
				<key>sourceSize</key>
				<string>{23,22}</string>
			</dict>
			<key>hiddenFlowerStar30000</key>
			<dict>
				<key>frame</key>
				<string>{{625,165},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,22}}</string>
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>hiddenFlowerStar40000</key>
			<dict>
				<key>frame</key>
				<string>{{626,121},{23,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,22}}</string>
				<key>sourceSize</key>
				<string>{23,22}</string>
			</dict>
			<key>normalFlowerAnim00000</key>
			<dict>
				<key>frame</key>
				<string>{{676,89},{76,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,99}}</string>
				<key>sourceSize</key>
				<string>{76,99}</string>
			</dict>
			<key>normalFlowerAnim10000</key>
			<dict>
				<key>frame</key>
				<string>{{589,2},{87,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,119}}</string>
				<key>sourceSize</key>
				<string>{87,119}</string>
			</dict>
			<key>normalFlowerAnim20000</key>
			<dict>
				<key>frame</key>
				<string>{{413,2},{89,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,119}}</string>
				<key>sourceSize</key>
				<string>{89,119}</string>
			</dict>
			<key>normalFlowerAnim30000</key>
			<dict>
				<key>frame</key>
				<string>{{502,2},{87,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,120}}</string>
				<key>sourceSize</key>
				<string>{87,120}</string>
			</dict>
			<key>normalFlowerAnim40000</key>
			<dict>
				<key>frame</key>
				<string>{{231,2},{96,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,131}}</string>
				<key>sourceSize</key>
				<string>{96,131}</string>
			</dict>
			<key>shiningStars0000</key>
			<dict>
				<key>frame</key>
				<string>{{942,105},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0001</key>
			<dict>
				<key>frame</key>
				<string>{{942,177},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0002</key>
			<dict>
				<key>frame</key>
				<string>{{287,200},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0003</key>
			<dict>
				<key>frame</key>
				<string>{{2,207},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0004</key>
			<dict>
				<key>frame</key>
				<string>{{698,239},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0005</key>
			<dict>
				<key>frame</key>
				<string>{{774,239},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0006</key>
			<dict>
				<key>frame</key>
				<string>{{850,239},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0007</key>
			<dict>
				<key>frame</key>
				<string>{{926,249},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0008</key>
			<dict>
				<key>frame</key>
				<string>{{585,255},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0009</key>
			<dict>
				<key>frame</key>
				<string>{{78,256},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0010</key>
			<dict>
				<key>frame</key>
				<string>{{363,256},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0011</key>
			<dict>
				<key>frame</key>
				<string>{{439,256},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0012</key>
			<dict>
				<key>frame</key>
				<string>{{154,267},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0013</key>
			<dict>
				<key>frame</key>
				<string>{{230,272},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0014</key>
			<dict>
				<key>frame</key>
				<string>{{2,279},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0015</key>
			<dict>
				<key>frame</key>
				<string>{{661,311},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0016</key>
			<dict>
				<key>frame</key>
				<string>{{737,311},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0017</key>
			<dict>
				<key>frame</key>
				<string>{{813,311},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0018</key>
			<dict>
				<key>frame</key>
				<string>{{889,321},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0019</key>
			<dict>
				<key>frame</key>
				<string>{{515,327},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0020</key>
			<dict>
				<key>frame</key>
				<string>{{78,328},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0021</key>
			<dict>
				<key>frame</key>
				<string>{{306,328},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0022</key>
			<dict>
				<key>frame</key>
				<string>{{382,328},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0023</key>
			<dict>
				<key>frame</key>
				<string>{{154,339},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0024</key>
			<dict>
				<key>frame</key>
				<string>{{230,344},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0025</key>
			<dict>
				<key>frame</key>
				<string>{{2,351},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0026</key>
			<dict>
				<key>frame</key>
				<string>{{591,383},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>shiningStars0027</key>
			<dict>
				<key>frame</key>
				<string>{{667,383},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>flower_effects.png</string>
			<key>size</key>
			<string>{1024,512}</string>
			<key>textureFileName</key>
			<string>flower_effects.png</string>
		</dict>
	</dict>
</plist>
