<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animal_score_point0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{28,28}</string>
				<key>spriteSourceSize</key>
				<string>{28,28}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{362,383},{28,28}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>color_bird_star0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,13}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{12,13}</string>
				<key>spriteSourceSize</key>
				<string>{12,13}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{234,234},{12,13}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>colorbird_effect0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{53,54}</string>
				<key>spriteSourceSize</key>
				<string>{53,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{626,265},{53,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>countdown_10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,160}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{94,160}</string>
				<key>spriteSourceSize</key>
				<string>{94,160}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{877,2},{94,160}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>countdown_20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,159}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,159}</string>
				<key>spriteSourceSize</key>
				<string>{139,159}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{603,2},{139,159}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>countdown_30000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,160}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{131,160}</string>
				<key>spriteSourceSize</key>
				<string>{131,160}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{744,2},{131,160}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>countdown_go0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{248,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{248,166}</string>
				<key>spriteSourceSize</key>
				<string>{248,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{248,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>fallingstar0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,219}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{16,219}</string>
				<key>spriteSourceSize</key>
				<string>{16,219}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1002,204},{16,219}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>fallingstar_white0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,204}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{26,204}</string>
				<key>spriteSourceSize</key>
				<string>{26,204}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{942,164},{26,204}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,77}</string>
				<key>spriteSourceSize</key>
				<string>{58,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{174,170},{58,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,77}</string>
				<key>spriteSourceSize</key>
				<string>{58,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{566,265},{58,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,77}</string>
				<key>spriteSourceSize</key>
				<string>{58,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{414,271},{58,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,77}</string>
				<key>spriteSourceSize</key>
				<string>{58,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{174,304},{58,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,77}</string>
				<key>spriteSourceSize</key>
				<string>{58,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{234,304},{58,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,77}</string>
				<key>spriteSourceSize</key>
				<string>{58,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{294,304},{58,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,77}</string>
				<key>spriteSourceSize</key>
				<string>{58,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{354,304},{58,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,77}</string>
				<key>spriteSourceSize</key>
				<string>{58,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{626,334},{58,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,77}</string>
				<key>spriteSourceSize</key>
				<string>{58,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{686,334},{58,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,77}</string>
				<key>spriteSourceSize</key>
				<string>{58,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{746,334},{58,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,77}</string>
				<key>spriteSourceSize</key>
				<string>{58,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{806,334},{58,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,77}</string>
				<key>spriteSourceSize</key>
				<string>{58,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{866,334},{58,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,77}</string>
				<key>spriteSourceSize</key>
				<string>{58,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,340},{58,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,77}</string>
				<key>spriteSourceSize</key>
				<string>{58,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{62,340},{58,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,77}</string>
				<key>spriteSourceSize</key>
				<string>{58,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{566,344},{58,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,77}</string>
				<key>spriteSourceSize</key>
				<string>{58,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{474,347},{58,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,77}</string>
				<key>spriteSourceSize</key>
				<string>{58,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{414,350},{58,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,77}</string>
				<key>spriteSourceSize</key>
				<string>{58,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{926,370},{58,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,77}</string>
				<key>spriteSourceSize</key>
				<string>{58,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{122,383},{58,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,77}</string>
				<key>spriteSourceSize</key>
				<string>{58,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{182,383},{58,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,77}</string>
				<key>spriteSourceSize</key>
				<string>{58,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{242,383},{58,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,77}</string>
				<key>spriteSourceSize</key>
				<string>{58,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{302,383},{58,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,77}</string>
				<key>spriteSourceSize</key>
				<string>{58,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{626,413},{58,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,77}</string>
				<key>spriteSourceSize</key>
				<string>{58,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{686,413},{58,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,77}</string>
				<key>spriteSourceSize</key>
				<string>{58,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{746,413},{58,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>game_collect_small_star0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,13}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{13,13}</string>
				<key>spriteSourceSize</key>
				<string>{13,13}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{234,219},{13,13}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>head_image_mask0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{582,163},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_glow_circle0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,64}</string>
				<key>spriteSourceSize</key>
				<string>{64,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{806,413},{64,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{84,83}</string>
				<key>spriteSourceSize</key>
				<string>{84,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{684,164},{84,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{84,83}</string>
				<key>spriteSourceSize</key>
				<string>{84,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{770,164},{84,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{84,83}</string>
				<key>spriteSourceSize</key>
				<string>{84,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{856,164},{84,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{84,83}</string>
				<key>spriteSourceSize</key>
				<string>{84,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,170},{84,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{84,83}</string>
				<key>spriteSourceSize</key>
				<string>{84,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{88,170},{84,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{84,83}</string>
				<key>spriteSourceSize</key>
				<string>{84,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{684,249},{84,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{84,83}</string>
				<key>spriteSourceSize</key>
				<string>{84,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{770,249},{84,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{84,83}</string>
				<key>spriteSourceSize</key>
				<string>{84,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{856,249},{84,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{84,83}</string>
				<key>spriteSourceSize</key>
				<string>{84,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,255},{84,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{84,83}</string>
				<key>spriteSourceSize</key>
				<string>{84,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{88,255},{84,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{84,83}</string>
				<key>spriteSourceSize</key>
				<string>{84,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{480,262},{84,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_sunshine0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,156}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{159,156}</string>
				<key>spriteSourceSize</key>
				<string>{159,156}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{442,2},{159,156}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>prefix_halo0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,109}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,109}</string>
				<key>spriteSourceSize</key>
				<string>{108,109}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{370,160},{108,109}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>prop_bubble10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,13}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{13,13}</string>
				<key>spriteSourceSize</key>
				<string>{13,13}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{234,189},{13,13}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>prop_bubble20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{15,17}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{15,17}</string>
				<key>spriteSourceSize</key>
				<string>{15,17}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{234,170},{15,17}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>share_coin0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{116,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{116,115}</string>
				<key>spriteSourceSize</key>
				<string>{116,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{252,157},{116,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>share_light0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,200}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{38,200}</string>
				<key>spriteSourceSize</key>
				<string>{38,200}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{973,2},{38,200}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>share_star0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{62,64}</string>
				<key>spriteSourceSize</key>
				<string>{62,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,419},{62,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>thunder_effect10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,139}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{30,139}</string>
				<key>spriteSourceSize</key>
				<string>{30,139}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{970,204},{30,139}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>thunder_effect20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,111}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,111}</string>
				<key>spriteSourceSize</key>
				<string>{20,111}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{534,347},{20,111}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>win_star_big0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,13}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{13,13}</string>
				<key>spriteSourceSize</key>
				<string>{13,13}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{234,204},{13,13}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>win_star_dust0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,4}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{5,4}</string>
				<key>spriteSourceSize</key>
				<string>{5,4}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{1013,2},{5,4}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>win_star_high_light0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{480,160},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>win_star_shine0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,29}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{29,29}</string>
				<key>spriteSourceSize</key>
				<string>{29,29}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{122,340},{29,29}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>witch0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{188,153}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{188,153}</string>
				<key>spriteSourceSize</key>
				<string>{188,153}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{252,2},{188,153}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>witch_tail0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{238,28}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{238,28}</string>
				<key>spriteSourceSize</key>
				<string>{238,28}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{174,274},{238,28}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,650}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>home_effects.png</string>
				<key>textureFileName</key>
				<string>home_effects</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
