<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>animal_score_point0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,25}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{25,25}</string>
				<key>spriteSourceSize</key>
				<string>{25,25}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{354,268},{25,25}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>color_bird_star0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,9}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{8,9}</string>
				<key>spriteSourceSize</key>
				<string>{8,9}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{494,470},{8,9}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>colorbird_effect0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,0},{31,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,34}</string>
				<key>spriteSourceSize</key>
				<string>{31,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{477,2},{31,34}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>countdown_10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{59,100}</string>
				<key>spriteSourceSize</key>
				<string>{59,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{369,104},{59,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>countdown_20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,100}</string>
				<key>spriteSourceSize</key>
				<string>{87,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{388,2},{87,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>countdown_30000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,101}</string>
				<key>spriteSourceSize</key>
				<string>{81,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{286,102},{81,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>countdown_go0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,104}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{155,104}</string>
				<key>spriteSourceSize</key>
				<string>{155,104}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{155,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>fallingstar0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{11,137}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{11,137}</string>
				<key>spriteSourceSize</key>
				<string>{11,137}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{483,311},{11,137}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>fallingstar_white0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{18,129}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{18,129}</string>
				<key>spriteSourceSize</key>
				<string>{18,129}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,270},{18,129}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{22,270},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{311,268},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{354,311},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{311,322},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{397,311},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{440,311},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{354,365},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{311,376},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{354,419},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{397,365},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{440,365},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0011</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{397,419},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0012</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{440,419},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0013</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,430},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0014</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{45,430},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0015</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{88,430},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0016</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{131,430},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0017</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{174,430},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0018</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{217,395},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0019</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,395},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0020</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{303,430},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0021</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{217,449},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0022</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{260,449},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0023</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{130,290},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>firefly_light0024</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,52}</string>
				<key>spriteSourceSize</key>
				<string>{41,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{173,290},{41,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>game_collect_small_star0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,9}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{9,9}</string>
				<key>spriteSourceSize</key>
				<string>{9,9}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{367,295},{9,9}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>head_image_mask0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,63}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,63}</string>
				<key>spriteSourceSize</key>
				<string>{63,63}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,108},{63,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_glow_circle0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,41}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,41}</string>
				<key>spriteSourceSize</key>
				<string>{40,41}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{382,206},{40,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,60}</string>
				<key>spriteSourceSize</key>
				<string>{61,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{67,108},{61,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0001</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,60}</string>
				<key>spriteSourceSize</key>
				<string>{61,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{130,108},{61,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0002</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,60}</string>
				<key>spriteSourceSize</key>
				<string>{61,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{193,108},{61,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0003</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,60}</string>
				<key>spriteSourceSize</key>
				<string>{61,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{67,170},{61,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0004</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,60}</string>
				<key>spriteSourceSize</key>
				<string>{61,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{130,170},{61,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0005</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,60}</string>
				<key>spriteSourceSize</key>
				<string>{61,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{193,170},{61,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0006</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,60}</string>
				<key>spriteSourceSize</key>
				<string>{61,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{256,205},{61,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0007</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,60}</string>
				<key>spriteSourceSize</key>
				<string>{61,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{319,206},{61,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0008</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,60}</string>
				<key>spriteSourceSize</key>
				<string>{61,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{382,249},{61,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0009</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,60}</string>
				<key>spriteSourceSize</key>
				<string>{61,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{445,249},{61,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_rotated_star0010</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,60}</string>
				<key>spriteSourceSize</key>
				<string>{61,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{67,232},{61,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_sunshine0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,98}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,98}</string>
				<key>spriteSourceSize</key>
				<string>{100,98}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{286,2},{100,98}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>prefix_halo0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,69}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{68,69}</string>
				<key>spriteSourceSize</key>
				<string>{68,69}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{430,178},{68,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>prop_bubble10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,8}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{9,8}</string>
				<key>spriteSourceSize</key>
				<string>{9,8}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{272,290},{9,8}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>prop_bubble20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{11,10}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{11,10}</string>
				<key>spriteSourceSize</key>
				<string>{11,10}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{354,295},{11,10}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>share_coin0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{73,72}</string>
				<key>spriteSourceSize</key>
				<string>{73,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{430,104},{73,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>share_light0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,126}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{24,126}</string>
				<key>spriteSourceSize</key>
				<string>{24,126}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{285,267},{24,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>share_star0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{39,40}</string>
				<key>spriteSourceSize</key>
				<string>{39,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{216,290},{39,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>thunder_effect10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,88}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,88}</string>
				<key>spriteSourceSize</key>
				<string>{20,88}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{256,108},{20,88}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>thunder_effect20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{13,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{13,70}</string>
				<key>spriteSourceSize</key>
				<string>{13,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{257,290},{13,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>win_star_big0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,9}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{9,9}</string>
				<key>spriteSourceSize</key>
				<string>{9,9}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{483,470},{9,9}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>win_star_dust0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{4,3}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{4,3}</string>
				<key>spriteSourceSize</key>
				<string>{4,3}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{367,306},{4,3}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>win_star_high_light0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,63}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,63}</string>
				<key>spriteSourceSize</key>
				<string>{63,63}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,205},{63,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>win_star_shine0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,18}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{19,18}</string>
				<key>spriteSourceSize</key>
				<string>{19,18}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{483,450},{19,18}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>witch0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,104}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{125,104}</string>
				<key>spriteSourceSize</key>
				<string>{125,104}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{159,2},{125,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>witch_tail0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,21}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{153,21}</string>
				<key>spriteSourceSize</key>
				<string>{153,21}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{130,267},{153,21}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>home_effects@2x.png</string>
				<key>textureFileName</key>
				<string>home_effects@2x</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
