<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>background_branch0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{515,228}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{515,228}</string>
				<key>spriteSourceSize</key>
				<string>{515,228}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{5,5},{515,228}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>branch_light_mask0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{511,103}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{511,103}</string>
				<key>spriteSourceSize</key>
				<string>{511,103}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{5,689},{511,103}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>darkstar.png0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,33}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,33}</string>
				<key>spriteSourceSize</key>
				<string>{32,33}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{949,246},{32,33}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>fourStar_glowing_effect0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{571,181}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{571,181}</string>
				<key>spriteSourceSize</key>
				<string>{571,181}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{5,425},{571,181}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>fourstar_leaf0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,33}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,33}</string>
				<key>spriteSourceSize</key>
				<string>{60,33}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{867,566},{60,33}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>fourstar_shining0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{571,182}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{571,182}</string>
				<key>spriteSourceSize</key>
				<string>{571,182}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{5,238},{571,182}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lady_bug_icon0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,58}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,58}</string>
				<key>spriteSourceSize</key>
				<string>{60,58}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{884,419},{60,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_intro_bg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{52,50}</string>
				<key>spriteSourceSize</key>
				<string>{52,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{945,284},{52,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_task/ladybug_intro_npc0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{117,153}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{117,153}</string>
				<key>spriteSourceSize</key>
				<string>{117,153}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{694,139},{117,153}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_task/ladybug_task_10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,78}</string>
				<key>spriteSourceSize</key>
				<string>{90,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{581,428},{90,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_task/ladybug_task_20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,78}</string>
				<key>spriteSourceSize</key>
				<string>{87,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{792,419},{87,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybug_task/ladybug_task_icon0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,58}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{42,58}</string>
				<key>spriteSourceSize</key>
				<string>{42,58}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{945,339},{42,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lb_content_replacer0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{128,128}</string>
				<key>spriteSourceSize</key>
				<string>{128,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{816,151},{128,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lb_point0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{4,4}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{4,4}</string>
				<key>spriteSourceSize</key>
				<string>{4,4}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{842,593},{4,4}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>max_energy_colors0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,4}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{67,4}</string>
				<key>spriteSourceSize</key>
				<string>{67,4}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{581,279},{67,4}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>max_energy_highlight0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,12}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,12}</string>
				<key>spriteSourceSize</key>
				<string>{118,12}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{884,482},{118,12}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>max_energy_ico0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,23}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{42,23}</string>
				<key>spriteSourceSize</key>
				<string>{42,23}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{949,446},{42,23}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>max_energy_mask0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,30}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{128,30}</string>
				<key>spriteSourceSize</key>
				<string>{128,30}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{668,554},{128,30}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>max_energy_overlay0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,129}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,129}</string>
				<key>spriteSourceSize</key>
				<string>{139,129}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{694,5},{139,129}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>max_energy_star0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,59}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,59}</string>
				<key>spriteSourceSize</key>
				<string>{60,59}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{867,502},{60,59}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>prop_disable_icon0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,61}</string>
				<key>spriteSourceSize</key>
				<string>{61,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{801,502},{61,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>prop_help_button_g0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,49}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{49,49}</string>
				<key>spriteSourceSize</key>
				<string>{49,49}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{525,178},{49,49}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>prop_list_add0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,36}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{36,36}</string>
				<key>spriteSourceSize</key>
				<string>{36,36}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{801,568},{36,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>prop_list_selected0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{141,141}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{141,141}</string>
				<key>spriteSourceSize</key>
				<string>{141,141}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{868,5},{141,141}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>props_background0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{858,73}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{858,73}</string>
				<key>spriteSourceSize</key>
				<string>{858,73}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{5,611},{858,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>props_branchs_leaf10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,169}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,169}</string>
				<key>spriteSourceSize</key>
				<string>{81,169}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{706,297},{81,169}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>props_branchs_leaf20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,46}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{35,46}</string>
				<key>spriteSourceSize</key>
				<string>{35,46}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{949,151},{35,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>props_item_bg_normal10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,130}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{124,130}</string>
				<key>spriteSourceSize</key>
				<string>{124,130}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{816,284},{124,130}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>props_item_bg_normal20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,126}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,126}</string>
				<key>spriteSourceSize</key>
				<string>{120,126}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{581,297},{120,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>props_label_bg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,39}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{39,39}</string>
				<key>spriteSourceSize</key>
				<string>{39,39}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{949,402},{39,39}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>props_pedicle0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,29}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{26,29}</string>
				<key>spriteSourceSize</key>
				<string>{26,29}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{986,246},{26,29}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>star_handle0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{5,20}</string>
				<key>spriteSourceSize</key>
				<string>{5,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{842,568},{5,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>star_normal0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,77}</string>
				<key>spriteSourceSize</key>
				<string>{82,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{581,511},{82,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>star_white0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{84,78}</string>
				<key>spriteSourceSize</key>
				<string>{84,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{676,471},{84,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>temp_bg_label0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,39}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{39,39}</string>
				<key>spriteSourceSize</key>
				<string>{39,39}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{949,202},{39,39}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>加星闪光0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{164,168}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{164,168}</string>
				<key>spriteSourceSize</key>
				<string>{164,168}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{525,5},{164,168}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>渐变黄0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{581,178},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>ladybug.png</string>
				<key>textureFileName</key>
				<string>ladybug</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
