<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fgfjgf0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,44}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{55,44}</string>
				<key>spriteSourceSize</key>
				<string>{55,44}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{62,190},{55,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ingame_level_leaf0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,19}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{20,19}</string>
				<key>spriteSourceSize</key>
				<string>{20,19}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{119,224},{20,19}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>level_help_finished_holo0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{28,28}</string>
				<key>spriteSourceSize</key>
				<string>{28,28}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{160,217},{28,28}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>level_help_finished_icon0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{39,32}</string>
				<key>spriteSourceSize</key>
				<string>{39,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{119,190},{39,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>npc_icon_20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,112}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{115,112}</string>
				<key>spriteSourceSize</key>
				<string>{115,112}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{353,2},{115,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>npc_small_10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,131}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{128,131}</string>
				<key>spriteSourceSize</key>
				<string>{128,131}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{223,2},{128,131}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>p_small_rope0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,35}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{9,35}</string>
				<key>spriteSourceSize</key>
				<string>{9,35}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{489,38},{9,35}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>small_p_background0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{219,133}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{219,133}</string>
				<key>spriteSourceSize</key>
				<string>{219,133}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{219,133}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>small_p_board_bg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,55}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,55}</string>
				<key>spriteSourceSize</key>
				<string>{58,55}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,190},{58,55}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>small_p_board_hi_bg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{34,34}</string>
				<key>spriteSourceSize</key>
				<string>{34,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{470,2},{34,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>small_p_fabric0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{299,51}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{299,51}</string>
				<key>spriteSourceSize</key>
				<string>{299,51}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,137},{299,51}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>small_p_replace_content0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,25}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{25,25}</string>
				<key>spriteSourceSize</key>
				<string>{25,25}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{160,190},{25,25}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target_panel_tile_bg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,67}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,67}</string>
				<key>spriteSourceSize</key>
				<string>{69,67}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{418,116},{69,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>time_background0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{113,80}</string>
				<key>spriteSourceSize</key>
				<string>{113,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{303,135},{113,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,250}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>target_helper@2x.png</string>
				<key>textureFileName</key>
				<string>target_helper@2x</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
