<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Prop_10001 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,45}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{51,45}</string>
				<key>spriteSourceSize</key>
				<string>{51,45}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,345},{51,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10002 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,40}</string>
				<key>spriteSourceSize</key>
				<string>{46,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{50,399},{46,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10003 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,45}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{49,45}</string>
				<key>spriteSourceSize</key>
				<string>{49,45}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{280,347},{49,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10004 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,43}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,43}</string>
				<key>spriteSourceSize</key>
				<string>{40,43}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{332,402},{40,43}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10005 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,41}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,41}</string>
				<key>spriteSourceSize</key>
				<string>{46,41}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,392},{46,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10007 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,46}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{51,46}</string>
				<key>spriteSourceSize</key>
				<string>{51,46}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{125,343},{51,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10010 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,39}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,39}</string>
				<key>spriteSourceSize</key>
				<string>{40,39}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{374,438},{40,39}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10011 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,36}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,36}</string>
				<key>spriteSourceSize</key>
				<string>{40,36}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{311,447},{40,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10012 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,36}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{29,36}</string>
				<key>spriteSourceSize</key>
				<string>{29,36}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{536,435},{29,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10013 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{18,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{18,50}</string>
				<key>spriteSourceSize</key>
				<string>{18,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{275,222},{18,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10014 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,50}</string>
				<key>spriteSourceSize</key>
				<string>{40,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{371,83},{40,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10015 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,45}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{51,45}</string>
				<key>spriteSourceSize</key>
				<string>{51,45}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,345},{51,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10016 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,41}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{45,41}</string>
				<key>spriteSourceSize</key>
				<string>{45,41}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{393,395},{45,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10017 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,45}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{49,45}</string>
				<key>spriteSourceSize</key>
				<string>{49,45}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{55,352},{49,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10018 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,43}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{39,43}</string>
				<key>spriteSourceSize</key>
				<string>{39,43}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,435},{39,43}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10019 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,41}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,41}</string>
				<key>spriteSourceSize</key>
				<string>{46,41}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{284,394},{46,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10024 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,40}</string>
				<key>spriteSourceSize</key>
				<string>{40,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{494,435},{40,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10025 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,45}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{51,45}</string>
				<key>spriteSourceSize</key>
				<string>{51,45}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{227,347},{51,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10026 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,39}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,39}</string>
				<key>spriteSourceSize</key>
				<string>{40,39}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{43,441},{40,39}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10027 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,41}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{46,41}</string>
				<key>spriteSourceSize</key>
				<string>{46,41}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{284,394},{46,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10028 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,45}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{49,45}</string>
				<key>spriteSourceSize</key>
				<string>{49,45}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{393,348},{49,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10029 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,47}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{40,47}</string>
				<key>spriteSourceSize</key>
				<string>{40,47}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{444,348},{40,47}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10030 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,32}</string>
				<key>spriteSourceSize</key>
				<string>{54,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{440,401},{54,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10031 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,33}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{52,33}</string>
				<key>spriteSourceSize</key>
				<string>{52,33}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{98,427},{52,33}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10032 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,35}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,35}</string>
				<key>spriteSourceSize</key>
				<string>{54,35}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{165,395},{54,35}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10033 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{53,32}</string>
				<key>spriteSourceSize</key>
				<string>{53,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{221,431},{53,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10034 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,33}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{51,33}</string>
				<key>spriteSourceSize</key>
				<string>{51,33}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{152,432},{51,33}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10035 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,35}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{55,35}</string>
				<key>spriteSourceSize</key>
				<string>{55,35}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{227,394},{55,35}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10036 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,32}</string>
				<key>spriteSourceSize</key>
				<string>{54,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{496,401},{54,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10037 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{52,32}</string>
				<key>spriteSourceSize</key>
				<string>{52,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{440,435},{52,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10038 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,34}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{57,34}</string>
				<key>spriteSourceSize</key>
				<string>{57,34}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{106,391},{57,34}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10039 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{33,48}</string>
				<key>spriteSourceSize</key>
				<string>{33,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{276,437},{33,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10052 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,0},{55,58}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{57,58}</string>
				<key>spriteSourceSize</key>
				<string>{55,58}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{511,161},{55,58}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>Prop_10053 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,57}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{57,57}</string>
				<key>spriteSourceSize</key>
				<string>{57,57}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{428,289},{57,57}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10055 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,49}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{47,49}</string>
				<key>spriteSourceSize</key>
				<string>{47,49}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{178,344},{47,49}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10056 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,58}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,58}</string>
				<key>spriteSourceSize</key>
				<string>{54,58}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{337,342},{54,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10057 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,57}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,57}</string>
				<key>spriteSourceSize</key>
				<string>{54,57}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{487,342},{54,57}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.dig_move instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{67,71}</string>
				<key>spriteSourceSize</key>
				<string>{67,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{160,83},{67,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.dig_move_endless instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,0},{66,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{68,70}</string>
				<key>spriteSourceSize</key>
				<string>{66,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{500,2},{66,70}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>target.dig_move_endless_mayday_1 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,67}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{70,67}</string>
				<key>spriteSourceSize</key>
				<string>{70,67}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,152},{70,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.dig_move_endless_mayday_2 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,67}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{84,67}</string>
				<key>spriteSourceSize</key>
				<string>{84,67}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,83},{84,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.dig_move_endless_qixi instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{65,56}</string>
				<key>spriteSourceSize</key>
				<string>{65,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{361,284},{65,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.drop instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,65}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,65}</string>
				<key>spriteSourceSize</key>
				<string>{63,65}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,217},{63,65}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.ice instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,63}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,63}</string>
				<key>spriteSourceSize</key>
				<string>{64,63}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{295,220},{64,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order1_1 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{275,285},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order1_2 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,57}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,57}</string>
				<key>spriteSourceSize</key>
				<string>{63,57}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,286},{63,57}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order1_3 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,59}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,59}</string>
				<key>spriteSourceSize</key>
				<string>{63,59}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{502,227},{63,59}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order1_4 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,55}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,55}</string>
				<key>spriteSourceSize</key>
				<string>{61,55}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{209,287},{61,55}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order1_5 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,60}</string>
				<key>spriteSourceSize</key>
				<string>{63,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{437,227},{63,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order1_6 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,64}</string>
				<key>spriteSourceSize</key>
				<string>{64,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{445,161},{64,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order2_1 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,79}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,79}</string>
				<key>spriteSourceSize</key>
				<string>{80,79}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{171,2},{80,79}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order2_2 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,75}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,75}</string>
				<key>spriteSourceSize</key>
				<string>{81,75}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{417,2},{81,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order2_3 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,66}</string>
				<key>spriteSourceSize</key>
				<string>{63,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{145,156},{63,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order3_1 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,76}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{75,76}</string>
				<key>spriteSourceSize</key>
				<string>{75,76}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{417,79},{75,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order3_2 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,79}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,79}</string>
				<key>spriteSourceSize</key>
				<string>{80,79}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{253,2},{80,79}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order3_3 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,79}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,79}</string>
				<key>spriteSourceSize</key>
				<string>{80,79}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{335,2},{80,79}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order3_4 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,79}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,79}</string>
				<key>spriteSourceSize</key>
				<string>{82,79}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{82,79}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order3_5 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,78}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{83,78}</string>
				<key>spriteSourceSize</key>
				<string>{83,78}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{86,2},{83,78}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order3_6 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,67}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,67}</string>
				<key>spriteSourceSize</key>
				<string>{69,67}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{74,156},{69,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order4_1 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,66}</string>
				<key>spriteSourceSize</key>
				<string>{64,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{229,154},{64,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order4_2 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{62,64}</string>
				<key>spriteSourceSize</key>
				<string>{62,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{145,224},{62,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order4_3 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,67}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{70,67}</string>
				<key>spriteSourceSize</key>
				<string>{70,67}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{299,83},{70,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order4_4 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,63}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,63}</string>
				<key>spriteSourceSize</key>
				<string>{63,63}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{210,222},{63,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order4_5 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,57}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,57}</string>
				<key>spriteSourceSize</key>
				<string>{69,57}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{67,225},{69,57}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order4_6 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,52}</string>
				<key>spriteSourceSize</key>
				<string>{64,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{502,288},{64,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order5_2 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,51}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,51}</string>
				<key>spriteSourceSize</key>
				<string>{63,51}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{125,290},{63,51}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order5_3 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,69}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{68,69}</string>
				<key>spriteSourceSize</key>
				<string>{68,69}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{229,83},{68,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order6_1 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,66}</string>
				<key>spriteSourceSize</key>
				<string>{71,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{299,152},{71,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order6_2 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,58}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,58}</string>
				<key>spriteSourceSize</key>
				<string>{71,58}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{372,157},{71,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order6_3 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{70,72}</string>
				<key>spriteSourceSize</key>
				<string>{70,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{88,82},{70,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.rabbit_weekly instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,66}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,66}</string>
				<key>spriteSourceSize</key>
				<string>{56,66}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{67,284},{56,66}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.score instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,63}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,63}</string>
				<key>spriteSourceSize</key>
				<string>{63,63}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,221},{63,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.time instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{67,80}</string>
				<key>spriteSourceSize</key>
				<string>{67,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{494,79},{67,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{570,530}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>target_icon@2x.png</string>
				<key>textureFileName</key>
				<string>target_icon@2x</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
