<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fgfjgf0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{88,70}</string>
				<key>spriteSourceSize</key>
				<string>{88,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{394,200},{88,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ingame_level_leaf0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,30}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,30}</string>
				<key>spriteSourceSize</key>
				<string>{32,30}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{449,167},{32,30}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>level_help_finished_holo0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,44}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{44,44}</string>
				<key>spriteSourceSize</key>
				<string>{44,44}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{458,272},{44,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>level_help_finished_icon0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,51}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{62,51}</string>
				<key>spriteSourceSize</key>
				<string>{62,51}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{394,272},{62,51}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>npc_icon_20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,179}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{184,179}</string>
				<key>spriteSourceSize</key>
				<string>{184,179}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{208,216},{184,179}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>npc_small_10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{204,209}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{204,209}</string>
				<key>spriteSourceSize</key>
				<string>{204,209}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,216},{204,209}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>p_small_rope0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{14,56}</string>
				<key>spriteSourceSize</key>
				<string>{14,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{484,167},{14,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>small_p_background0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,212}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{350,212}</string>
				<key>spriteSourceSize</key>
				<string>{350,212}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{350,212}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>small_p_board_bg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,87}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{93,87}</string>
				<key>spriteSourceSize</key>
				<string>{93,87}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{354,111},{93,87}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>small_p_board_hi_bg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,54}</string>
				<key>spriteSourceSize</key>
				<string>{54,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{449,111},{54,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>small_p_fabric0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{479,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{479,80}</string>
				<key>spriteSourceSize</key>
				<string>{479,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,427},{479,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>small_p_replace_content0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,39}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{39,39}</string>
				<key>spriteSourceSize</key>
				<string>{39,39}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{458,318},{39,39}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target_panel_tile_bg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,107}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{109,107}</string>
				<key>spriteSourceSize</key>
				<string>{109,107}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{394,2},{109,107}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>time_background0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{180,128}</string>
				<key>spriteSourceSize</key>
				<string>{180,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,509},{180,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,650}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>target_helper.png</string>
				<key>textureFileName</key>
				<string>target_helper</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
