<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Prop_10001 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,72}</string>
				<key>spriteSourceSize</key>
				<string>{81,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{515,439},{81,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10002 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,63}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,63}</string>
				<key>spriteSourceSize</key>
				<string>{72,63}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{77,525},{72,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10003 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{78,71}</string>
				<key>spriteSourceSize</key>
				<string>{78,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{918,509},{78,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10004 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,67}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,67}</string>
				<key>spriteSourceSize</key>
				<string>{63,67}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,580},{63,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10005 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,64}</string>
				<key>spriteSourceSize</key>
				<string>{72,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{745,523},{72,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10007 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,73}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,73}</string>
				<key>spriteSourceSize</key>
				<string>{82,73}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{275,434},{82,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10010 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,63}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,63}</string>
				<key>spriteSourceSize</key>
				<string>{64,63}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{67,590},{64,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10011 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,57}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{65,57}</string>
				<key>spriteSourceSize</key>
				<string>{65,57}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{506,595},{65,57}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10012 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,58}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{45,58}</string>
				<key>spriteSourceSize</key>
				<string>{45,58}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{359,434},{45,58}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10013 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,79}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{29,79}</string>
				<key>spriteSourceSize</key>
				<string>{29,79}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{990,238},{29,79}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10014 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,80}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,80}</string>
				<key>spriteSourceSize</key>
				<string>{63,80}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{515,513},{63,80}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10015 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{80,72}</string>
				<key>spriteSourceSize</key>
				<string>{80,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,440},{80,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10016 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{72,64}</string>
				<key>spriteSourceSize</key>
				<string>{72,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{671,517},{72,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10017 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{78,72}</string>
				<key>spriteSourceSize</key>
				<string>{78,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{275,509},{78,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10018 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,69}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,69}</string>
				<key>spriteSourceSize</key>
				<string>{61,69}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{237,583},{61,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10019 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{73,64}</string>
				<key>spriteSourceSize</key>
				<string>{73,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,514},{73,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10024 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,63}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,63}</string>
				<key>spriteSourceSize</key>
				<string>{64,63}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{750,589},{64,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10025 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,72}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,72}</string>
				<key>spriteSourceSize</key>
				<string>{81,72}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{515,439},{81,72}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10026 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,63}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,63}</string>
				<key>spriteSourceSize</key>
				<string>{63,63}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{441,591},{63,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10027 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{73,64}</string>
				<key>spriteSourceSize</key>
				<string>{73,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,514},{73,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10028 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,71}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{78,71}</string>
				<key>spriteSourceSize</key>
				<string>{78,71}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{838,509},{78,71}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10029 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,74}</string>
				<key>spriteSourceSize</key>
				<string>{63,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{444,515},{63,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10030 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,51}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{84,51}</string>
				<key>spriteSourceSize</key>
				<string>{84,51}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{355,573},{84,51}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10031 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,52}</string>
				<key>spriteSourceSize</key>
				<string>{82,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{819,582},{82,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10032 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{86,56}</string>
				<key>spriteSourceSize</key>
				<string>{86,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{160,517},{86,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10033 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,51}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{84,51}</string>
				<key>spriteSourceSize</key>
				<string>{84,51}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{580,573},{84,51}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10034 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,52}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,52}</string>
				<key>spriteSourceSize</key>
				<string>{82,52}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{903,582},{82,52}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10035 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,56}</string>
				<key>spriteSourceSize</key>
				<string>{87,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{355,515},{87,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10036 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,51}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{84,51}</string>
				<key>spriteSourceSize</key>
				<string>{84,51}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{151,575},{84,51}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10037 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,51}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{82,51}</string>
				<key>spriteSourceSize</key>
				<string>{82,51}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{666,589},{82,51}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10038 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,54}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{89,54}</string>
				<key>spriteSourceSize</key>
				<string>{89,54}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{580,517},{89,54}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10039 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,76}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{53,76}</string>
				<key>spriteSourceSize</key>
				<string>{53,76}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{963,424},{53,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10052 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,92}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,92}</string>
				<key>spriteSourceSize</key>
				<string>{90,92}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{746,429},{90,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10053 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,92}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{91,92}</string>
				<key>spriteSourceSize</key>
				<string>{91,92}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,346},{91,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10055 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{74,77}</string>
				<key>spriteSourceSize</key>
				<string>{74,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{84,446},{74,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10056 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,82}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,82}</string>
				<key>spriteSourceSize</key>
				<string>{81,82}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{647,433},{81,82}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10057 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,81}</string>
				<key>spriteSourceSize</key>
				<string>{81,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{192,434},{81,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.dig_move instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,112}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,112}</string>
				<key>spriteSourceSize</key>
				<string>{108,112}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,129},{108,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.dig_move_endless instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,112}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{107,112}</string>
				<key>spriteSourceSize</key>
				<string>{107,112}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{112,130},{107,112}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.dig_move_endless_mayday_1 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{104,100}</string>
				<key>spriteSourceSize</key>
				<string>{104,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{221,237},{104,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.dig_move_endless_mayday_2 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,98}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{127,98}</string>
				<key>spriteSourceSize</key>
				<string>{127,98}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{770,125},{127,98}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.dig_move_endless_qixi instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,87}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,87}</string>
				<key>spriteSourceSize</key>
				<string>{100,87}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{413,343},{100,87}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.drop instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,103}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{101,103}</string>
				<key>spriteSourceSize</key>
				<string>{101,103}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{550,236},{101,103}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.ice instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,99}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{101,99}</string>
				<key>spriteSourceSize</key>
				<string>{101,99}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{104,244},{101,99}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order1_1 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{95,96}</string>
				<key>spriteSourceSize</key>
				<string>{95,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{550,341},{95,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order1_2 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{101,90}</string>
				<key>spriteSourceSize</key>
				<string>{101,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{310,342},{101,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order1_3 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,93}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{101,93}</string>
				<key>spriteSourceSize</key>
				<string>{101,93}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{207,339},{101,93}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order1_4 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,88}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,88}</string>
				<key>spriteSourceSize</key>
				<string>{97,88}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{647,343},{97,88}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order1_5 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,95}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{101,95}</string>
				<key>spriteSourceSize</key>
				<string>{101,95}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{756,332},{101,95}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order1_6 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{101,101}</string>
				<key>spriteSourceSize</key>
				<string>{101,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{653,240},{101,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order2_1 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,126}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{126,126}</string>
				<key>spriteSourceSize</key>
				<string>{126,126}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{529,2},{126,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order2_2 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,119}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,119}</string>
				<key>spriteSourceSize</key>
				<string>{129,119}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{657,2},{129,119}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order2_3 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,105}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{101,105}</string>
				<key>spriteSourceSize</key>
				<string>{101,105}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{447,236},{101,105}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order3_1 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,121}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,121}</string>
				<key>spriteSourceSize</key>
				<string>{120,121}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{788,2},{120,121}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order3_2 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,126}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{128,126}</string>
				<key>spriteSourceSize</key>
				<string>{128,126}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{399,2},{128,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order3_3 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,126}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{129,126}</string>
				<key>spriteSourceSize</key>
				<string>{129,126}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{268,2},{129,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order3_4 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,126}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{130,126}</string>
				<key>spriteSourceSize</key>
				<string>{130,126}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{136,2},{130,126}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order3_5 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,125}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{132,125}</string>
				<key>spriteSourceSize</key>
				<string>{132,125}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{132,125}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order3_6 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,107}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{109,107}</string>
				<key>spriteSourceSize</key>
				<string>{109,107}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{336,130},{109,107}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order4_1 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,105}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,105}</string>
				<key>spriteSourceSize</key>
				<string>{103,105}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{770,225},{103,105}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order4_2 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,102}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,102}</string>
				<key>spriteSourceSize</key>
				<string>{100,102}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{555,130},{100,102}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order4_3 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,104}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{105,104}</string>
				<key>spriteSourceSize</key>
				<string>{105,104}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{899,132},{105,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order4_4 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,101}</string>
				<key>spriteSourceSize</key>
				<string>{100,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,243},{100,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order4_5 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,91}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{109,91}</string>
				<key>spriteSourceSize</key>
				<string>{109,91}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{875,331},{109,91}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order4_6 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{102,83}</string>
				<key>spriteSourceSize</key>
				<string>{102,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{859,424},{102,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order5_2 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,81}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,81}</string>
				<key>spriteSourceSize</key>
				<string>{100,81}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{413,432},{100,81}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order5_3 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,104}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{106,104}</string>
				<key>spriteSourceSize</key>
				<string>{106,104}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{447,130},{106,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order6_1 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,105}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{113,105}</string>
				<key>spriteSourceSize</key>
				<string>{113,105}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{221,130},{113,105}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order6_2 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,91}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{113,91}</string>
				<key>spriteSourceSize</key>
				<string>{113,91}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{875,238},{113,91}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.order6_3 instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{111,115}</string>
				<key>spriteSourceSize</key>
				<string>{111,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{657,123},{111,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.rabbit_weekly instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,99}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{86,99}</string>
				<key>spriteSourceSize</key>
				<string>{86,99}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{104,345},{86,99}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.score instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{101,101}</string>
				<key>spriteSourceSize</key>
				<string>{101,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{327,239},{101,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.time instance 10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,128}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{107,128}</string>
				<key>spriteSourceSize</key>
				<string>{107,128}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{910,2},{107,128}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,700}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>target_icon.png</string>
				<key>textureFileName</key>
				<string>target_icon</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
