<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>amazing_icon instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{2,433},{298,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{298,113}}</string>
				<key>sourceSize</key>
				<string>{298,113}</string>
			</dict>
			<key>bonustime_icon instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{2,326},{385,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{385,105}}</string>
				<key>sourceSize</key>
				<string>{385,105}</string>
			</dict>
			<key>commonloadingclose instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{374,492},{51,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,50}}</string>
				<key>sourceSize</key>
				<string>{51,50}</string>
			</dict>
			<key>excellent_icon instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{2,548},{291,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{291,101}}</string>
				<key>sourceSize</key>
				<string>{291,101}</string>
			</dict>
			<key>good_icon instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{295,548},{209,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,96}}</string>
				<key>sourceSize</key>
				<string>{209,96}</string>
			</dict>
			<key>great_icon instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{295,646},{210,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{210,92}}</string>
				<key>sourceSize</key>
				<string>{210,92}</string>
			</dict>
			<key>loading_ico_1 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{228,651},{65,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,73}}</string>
				<key>sourceSize</key>
				<string>{65,73}</string>
			</dict>
			<key>loading_ico_2 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{154,651},{72,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,73}}</string>
				<key>sourceSize</key>
				<string>{72,73}</string>
			</dict>
			<key>loading_ico_3 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{410,287},{70,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,73}}</string>
				<key>sourceSize</key>
				<string>{70,73}</string>
			</dict>
			<key>loading_ico_4 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{410,212},{71,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,73}}</string>
				<key>sourceSize</key>
				<string>{71,73}</string>
			</dict>
			<key>loading_ico_5 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{2,651},{74,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,73}}</string>
				<key>sourceSize</key>
				<string>{74,73}</string>
			</dict>
			<key>loading_ico_6 instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{78,651},{74,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,73}}</string>
				<key>sourceSize</key>
				<string>{74,73}</string>
			</dict>
			<key>loading_ico_circle instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{374,433},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,57}}</string>
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>loading_ico_rect instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{302,433},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>loading_ico_turn instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{302,505},{36,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,39}}</string>
				<key>sourceSize</key>
				<string>{36,39}</string>
			</dict>
			<key>title_star_shine instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{483,212},{21,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,21}}</string>
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
			<key>title_text_overlay instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{501,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{501,208}}</string>
				<key>sourceSize</key>
				<string>{501,208}</string>
			</dict>
			<key>unbelievable_icon instance 10000</key>
			<dict>
				<key>frame</key>
				<string>{{2,212},{406,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{406,112}}</string>
				<key>sourceSize</key>
				<string>{406,112}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>title_text.png</string>
			<key>size</key>
			<string>{512,750}</string>
			<key>textureFileName</key>
			<string>title_text.png</string>
		</dict>
	</dict>
</plist>
