<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>icn_gold0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,422},{44,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,45}}</string>
				<key>sourceSize</key>
				<string>{44,45}</string>
			</dict>
			<key>imgs/fruit0_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{173,380},{72,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,62}}</string>
				<key>sourceSize</key>
				<string>{72,62}</string>
			</dict>
			<key>imgs/fruit1e_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{86,319},{85,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,63}}</string>
				<key>sourceSize</key>
				<string>{85,63}</string>
			</dict>
			<key>imgs/fruit1g_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{324,407},{68,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,51}}</string>
				<key>sourceSize</key>
				<string>{68,51}</string>
			</dict>
			<key>imgs/fruit1s_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{307,342},{85,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,63}}</string>
				<key>sourceSize</key>
				<string>{85,63}</string>
			</dict>
			<key>imgs/fruit2e_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{374,277},{94,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,63}}</string>
				<key>sourceSize</key>
				<string>{94,63}</string>
			</dict>
			<key>imgs/fruit2g_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{247,407},{75,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,51}}</string>
				<key>sourceSize</key>
				<string>{75,51}</string>
			</dict>
			<key>imgs/fruit2s_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{211,315},{94,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,63}}</string>
				<key>sourceSize</key>
				<string>{94,63}</string>
			</dict>
			<key>imgs/fruit3e_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{394,342},{71,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,64}}</string>
				<key>sourceSize</key>
				<string>{71,64}</string>
			</dict>
			<key>imgs/fruit3g_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{69,384},{68,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,65}}</string>
				<key>sourceSize</key>
				<string>{68,65}</string>
			</dict>
			<key>imgs/fruit3s_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{120,237},{89,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,80}}</string>
				<key>sourceSize</key>
				<string>{89,80}</string>
			</dict>
			<key>imgs/fruit4e_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{404,0},{97,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,92}}</string>
				<key>sourceSize</key>
				<string>{97,92}</string>
			</dict>
			<key>imgs/fruit4g_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,271},{84,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,80}}</string>
				<key>sourceSize</key>
				<string>{84,80}</string>
			</dict>
			<key>imgs/fruit4s_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{405,94},{97,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,92}}</string>
				<key>sourceSize</key>
				<string>{97,92}</string>
			</dict>
			<key>imgs/fruit5e_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{159,125},{118,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,110}}</string>
				<key>sourceSize</key>
				<string>{118,110}</string>
			</dict>
			<key>imgs/fruit5g_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{405,188},{93,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,87}}</string>
				<key>sourceSize</key>
				<string>{93,87}</string>
			</dict>
			<key>imgs/fruit5s_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{284,114},{119,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,110}}</string>
				<key>sourceSize</key>
				<string>{119,110}</string>
			</dict>
			<key>imgs/fruit6e_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,159},{118,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,110}}</string>
				<key>sourceSize</key>
				<string>{118,110}</string>
			</dict>
			<key>imgs/fruit6g_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{279,226},{93,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,87}}</string>
				<key>sourceSize</key>
				<string>{93,87}</string>
			</dict>
			<key>imgs/fruit6s_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{284,0},{118,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,112}}</string>
				<key>sourceSize</key>
				<string>{118,112}</string>
			</dict>
			<key>imgs/fruitmask_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,353},{67,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,67}}</string>
				<key>sourceSize</key>
				<string>{67,67}</string>
			</dict>
			<key>imgs/fruittreescene_star_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{120,159},{35,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,34}}</string>
				<key>sourceSize</key>
				<string>{35,34}</string>
			</dict>
			<key>imgs/icn_energy0000</key>
			<dict>
				<key>frame</key>
				<string>{{470,277},{39,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,49}}</string>
				<key>sourceSize</key>
				<string>{39,49}</string>
			</dict>
			<key>imgs/icn_pick0000</key>
			<dict>
				<key>frame</key>
				<string>{{454,408},{51,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,54}}</string>
				<key>sourceSize</key>
				<string>{51,54}</string>
			</dict>
			<key>imgs/icn_regen0000</key>
			<dict>
				<key>frame</key>
				<string>{{394,408},{58,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,58}}</string>
				<key>sourceSize</key>
				<string>{58,58}</string>
			</dict>
			<key>imgs/icn_speed0000</key>
			<dict>
				<key>frame</key>
				<string>{{470,328},{40,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,45}}</string>
				<key>sourceSize</key>
				<string>{40,45}</string>
			</dict>
			<key>imgs/methodRing_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{157,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,157}}</string>
				<key>sourceSize</key>
				<string>{157,157}</string>
			</dict>
			<key>imgs/method_bg0000</key>
			<dict>
				<key>frame</key>
				<string>{{159,0},{123,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,123}}</string>
				<key>sourceSize</key>
				<string>{123,123}</string>
			</dict>
			<key>imgs/progressBar_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{46,451},{70,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,16}}</string>
				<key>sourceSize</key>
				<string>{70,16}</string>
			</dict>
			<key>imgs/progressBg_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{139,444},{73,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,18}}</string>
				<key>sourceSize</key>
				<string>{73,18}</string>
			</dict>
			<key>linkitem/coin_assets/元件 740000</key>
			<dict>
				<key>frame</key>
				<string>{{211,237},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>FruitTreeScene.png</string>
			<key>size</key>
			<string>{512,480}</string>
			<key>textureFileName</key>
			<string>FruitTreeScene.png</string>
		</dict>
	</dict>
</plist>
