<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>icn_gold0000</key>
			<dict>
				<key>frame</key>
				<string>{{43,345},{28,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,29}}</string>
				<key>sourceSize</key>
				<string>{28,29}</string>
			</dict>
			<key>imgs/fruit0_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{56,304},{45,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,39}}</string>
				<key>sourceSize</key>
				<string>{45,39}</string>
			</dict>
			<key>imgs/fruit1e_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{200,255},{54,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,40}}</string>
				<key>sourceSize</key>
				<string>{54,40}</string>
			</dict>
			<key>imgs/fruit1g_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{202,341},{43,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,32}}</string>
				<key>sourceSize</key>
				<string>{43,32}</string>
			</dict>
			<key>imgs/fruit1s_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,271},{54,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,40}}</string>
				<key>sourceSize</key>
				<string>{54,40}</string>
			</dict>
			<key>imgs/fruit2e_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,229},{59,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,40}}</string>
				<key>sourceSize</key>
				<string>{59,40}</string>
			</dict>
			<key>imgs/fruit2g_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{153,341},{47,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,32}}</string>
				<key>sourceSize</key>
				<string>{47,32}</string>
			</dict>
			<key>imgs/fruit2s_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{116,260},{59,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,40}}</string>
				<key>sourceSize</key>
				<string>{59,40}</string>
			</dict>
			<key>imgs/fruit3e_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{61,262},{45,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,40}}</string>
				<key>sourceSize</key>
				<string>{45,40}</string>
			</dict>
			<key>imgs/fruit3g_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{108,302},{43,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,41}}</string>
				<key>sourceSize</key>
				<string>{43,41}</string>
			</dict>
			<key>imgs/fruit3s_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{200,203},{54,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,0},{54,50}}</string>
				<key>sourceSize</key>
				<string>{54,50}</string>
			</dict>
			<key>imgs/fruit4e_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{178,143},{61,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,58}}</string>
				<key>sourceSize</key>
				<string>{61,58}</string>
			</dict>
			<key>imgs/fruit4g_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{61,210},{53,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,50}}</string>
				<key>sourceSize</key>
				<string>{53,50}</string>
			</dict>
			<key>imgs/fruit4s_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{76,150},{61,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,58}}</string>
				<key>sourceSize</key>
				<string>{61,58}</string>
			</dict>
			<key>imgs/fruit5e_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{180,72},{74,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,69}}</string>
				<key>sourceSize</key>
				<string>{74,69}</string>
			</dict>
			<key>imgs/fruit5g_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,172},{59,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,55}}</string>
				<key>sourceSize</key>
				<string>{59,55}</string>
			</dict>
			<key>imgs/fruit5s_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{101,79},{75,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,69}}</string>
				<key>sourceSize</key>
				<string>{75,69}</string>
			</dict>
			<key>imgs/fruit6e_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,101},{74,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,69}}</string>
				<key>sourceSize</key>
				<string>{74,69}</string>
			</dict>
			<key>imgs/fruit6g_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{139,203},{59,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,55}}</string>
				<key>sourceSize</key>
				<string>{59,55}</string>
			</dict>
			<key>imgs/fruit6s_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{180,0},{74,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,70}}</string>
				<key>sourceSize</key>
				<string>{74,70}</string>
			</dict>
			<key>imgs/fruitmask_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{177,297},{42,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,42}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>imgs/fruittreescene_star_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{76,101},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,22}}</string>
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>imgs/icn_energy0000</key>
			<dict>
				<key>frame</key>
				<string>{{73,345},{24,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,31}}</string>
				<key>sourceSize</key>
				<string>{24,31}</string>
			</dict>
			<key>imgs/icn_pick0000</key>
			<dict>
				<key>frame</key>
				<string>{{221,297},{32,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,34}}</string>
				<key>sourceSize</key>
				<string>{32,34}</string>
			</dict>
			<key>imgs/icn_regen0000</key>
			<dict>
				<key>frame</key>
				<string>{{139,150},{37,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,37}}</string>
				<key>sourceSize</key>
				<string>{37,37}</string>
			</dict>
			<key>imgs/icn_speed0000</key>
			<dict>
				<key>frame</key>
				<string>{{99,345},{25,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,29}}</string>
				<key>sourceSize</key>
				<string>{25,29}</string>
			</dict>
			<key>imgs/methodRing_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,99}}</string>
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>
			<key>imgs/method_bg0000</key>
			<dict>
				<key>frame</key>
				<string>{{101,0},{77,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,77}}</string>
				<key>sourceSize</key>
				<string>{77,77}</string>
			</dict>
			<key>imgs/progressBar_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{174,375},{44,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,11}}</string>
				<key>sourceSize</key>
				<string>{44,11}</string>
			</dict>
			<key>imgs/progressBg_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{126,375},{46,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,12}}</string>
				<key>sourceSize</key>
				<string>{46,12}</string>
			</dict>
			<key>linkitem/coin_assets/元件 740000</key>
			<dict>
				<key>frame</key>
				<string>{{0,313},{41,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,41}}</string>
				<key>sourceSize</key>
				<string>{41,41}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>FruitTreeScene@2x.png</string>
			<key>size</key>
			<string>{256,400}</string>
			<key>textureFileName</key>
			<string>FruitTreeScene@2x.png</string>
		</dict>
	</dict>
</plist>
