<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/AskForEnergyPanel_arrow0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{416,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{416,114}}</string>
				<key>sourceSize</key>
				<string>{416,114}</string>
			</dict>
			<key>img/AskForEnergyPanel_sfbxczeybnd0000</key>
			<dict>
				<key>frame</key>
				<string>{{222,116},{59,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,91}}</string>
				<key>sourceSize</key>
				<string>{59,91}</string>
			</dict>
			<key>img/AskForEnergyPanel_unlock_ico0000</key>
			<dict>
				<key>frame</key>
				<string>{{137,116},{83,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,102}}</string>
				<key>sourceSize</key>
				<string>{83,102}</string>
			</dict>
			<key>img/invite_friend_icon0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,116},{135,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,161}}</string>
				<key>sourceSize</key>
				<string>{135,161}</string>
			</dict>
			<key>img/invite_friend_normal_bg0000</key>
			<dict>
				<key>frame</key>
				<string>{{283,116},{60,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,64}}</string>
				<key>sourceSize</key>
				<string>{60,64}</string>
			</dict>
			<key>img/invite_friend_selected_bg0000</key>
			<dict>
				<key>frame</key>
				<string>{{222,209},{60,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,64}}</string>
				<key>sourceSize</key>
				<string>{60,64}</string>
			</dict>
			<key>img/remindaskingenergypanel_arrow0000</key>
			<dict>
				<key>frame</key>
				<string>{{283,182},{25,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,15}}</string>
				<key>sourceSize</key>
				<string>{25,15}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>AskForEnergyPanel.png</string>
			<key>size</key>
			<string>{418,279}</string>
			<key>textureFileName</key>
			<string>AskForEnergyPanel.png</string>
		</dict>
	</dict>
</plist>
