<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/beginner_logos0000</key>
			<dict>
				<key>frame</key>
				<string>{{84,68},{141,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{141,34}}</string>
				<key>sourceSize</key>
				<string>{141,34}</string>
			</dict>
			<key>img/beginnerpanel_bgp_refresh0000</key>
			<dict>
				<key>frame</key>
				<string>{{52,104},{50,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,46}}</string>
				<key>sourceSize</key>
				<string>{50,46}</string>
			</dict>
			<key>img/beginnerpanel_brush0000</key>
			<dict>
				<key>frame</key>
				<string>{{104,141},{25,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,22}}</string>
				<key>sourceSize</key>
				<string>{25,22}</string>
			</dict>
			<key>img/beginnerpanel_cdkey_input_scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{104,104},{41,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,35}}</string>
				<key>sourceSize</key>
				<string>{41,35}</string>
			</dict>
			<key>img/beginnerpanel_coin0000</key>
			<dict>
				<key>frame</key>
				<string>{{147,139},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>img/beginnerpanel_effect0000</key>
			<dict>
				<key>frame</key>
				<string>{{84,0},{75,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,66}}</string>
				<key>sourceSize</key>
				<string>{75,66}</string>
			</dict>
			<key>img/beginnerpanel_energybottle0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{82,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,88}}</string>
				<key>sourceSize</key>
				<string>{82,88}</string>
			</dict>
			<key>img/beginnerpanel_hammer0000</key>
			<dict>
				<key>frame</key>
				<string>{{191,104},{33,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,38}}</string>
				<key>sourceSize</key>
				<string>{33,38}</string>
			</dict>
			<key>img/beginnerpanel_inputtatus0000</key>
			<dict>
				<key>frame</key>
				<string>{{147,104},{42,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,33}}</string>
				<key>sourceSize</key>
				<string>{42,33}</string>
			</dict>
			<key>img/beginnerpanel_refresh_icon0000</key>
			<dict>
				<key>frame</key>
				<string>{{161,0},{57,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,51}}</string>
				<key>sourceSize</key>
				<string>{57,51}</string>
			</dict>
			<key>img/beginnerpanel_separator0000</key>
			<dict>
				<key>frame</key>
				<string>{{227,0},{4,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{4,175}}</string>
				<key>sourceSize</key>
				<string>{4,175}</string>
			</dict>
			<key>img/beginnerpanel_step0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,90},{50,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,54}}</string>
				<key>sourceSize</key>
				<string>{50,54}</string>
			</dict>
			<key>img/beginnerpanel_ui_empty0000</key>
			<dict>
				<key>frame</key>
				<string>{{220,0},{5,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,5}}</string>
				<key>sourceSize</key>
				<string>{5,5}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>BeginnerPanel@2x.png</string>
			<key>size</key>
			<string>{235,190}</string>
			<key>textureFileName</key>
			<string>BeginnerPanel@2x.png</string>
		</dict>
	</dict>
</plist>
