<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/beginner_logos0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,142},{225,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,54}}</string>
				<key>sourceSize</key>
				<string>{225,54}</string>
			</dict>
			<key>img/beginnerpanel_bgp_refresh0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,286},{80,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,74}}</string>
				<key>sourceSize</key>
				<string>{80,74}</string>
			</dict>
			<key>img/beginnerpanel_brush0000</key>
			<dict>
				<key>frame</key>
				<string>{{82,334},{40,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,36}}</string>
				<key>sourceSize</key>
				<string>{40,36}</string>
			</dict>
			<key>img/beginnerpanel_cdkey_input_scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{166,198},{65,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,56}}</string>
				<key>sourceSize</key>
				<string>{65,56}</string>
			</dict>
			<key>img/beginnerpanel_coin0000</key>
			<dict>
				<key>frame</key>
				<string>{{136,310},{51,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,52}}</string>
				<key>sourceSize</key>
				<string>{51,52}</string>
			</dict>
			<key>img/beginnerpanel_effect0000</key>
			<dict>
				<key>frame</key>
				<string>{{133,0},{108,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,94}}</string>
				<key>sourceSize</key>
				<string>{108,94}</string>
			</dict>
			<key>img/beginnerpanel_energybottle0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{131,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{131,140}}</string>
				<key>sourceSize</key>
				<string>{131,140}</string>
			</dict>
			<key>img/beginnerpanel_hammer0000</key>
			<dict>
				<key>frame</key>
				<string>{{82,271},{52,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,61}}</string>
				<key>sourceSize</key>
				<string>{52,61}</string>
			</dict>
			<key>img/beginnerpanel_inputtatus0000</key>
			<dict>
				<key>frame</key>
				<string>{{166,256},{65,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,52}}</string>
				<key>sourceSize</key>
				<string>{65,52}</string>
			</dict>
			<key>img/beginnerpanel_refresh_icon0000</key>
			<dict>
				<key>frame</key>
				<string>{{82,198},{82,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{82,71}}</string>
				<key>sourceSize</key>
				<string>{82,71}</string>
			</dict>
			<key>img/beginnerpanel_separator0000</key>
			<dict>
				<key>frame</key>
				<string>{{243,0},{4,278}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{4,278}}</string>
				<key>sourceSize</key>
				<string>{4,278}</string>
			</dict>
			<key>img/beginnerpanel_step0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,198},{80,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,86}}</string>
				<key>sourceSize</key>
				<string>{80,86}</string>
			</dict>
			<key>img/beginnerpanel_ui_empty0000</key>
			<dict>
				<key>frame</key>
				<string>{{124,334},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,8}}</string>
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>BeginnerPanel.png</string>
			<key>size</key>
			<string>{256,400}</string>
			<key>textureFileName</key>
			<string>BeginnerPanel.png</string>
		</dict>
	</dict>
</plist>
