<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>FreeGoldIcon0000</key>
			<dict>
				<key>frame</key>
				<string>{{188,0},{148,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{148,125}}</string>
				<key>sourceSize</key>
				<string>{148,125}</string>
			</dict>
			<key>FreeText0000</key>
			<dict>
				<key>frame</key>
				<string>{{122,340},{108,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,61}}</string>
				<key>sourceSize</key>
				<string>{108,61}</string>
			</dict>
			<key>ItemGold-10000</key>
			<dict>
				<key>frame</key>
				<string>{{289,325},{120,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,65}}</string>
				<key>sourceSize</key>
				<string>{120,65}</string>
			</dict>
			<key>ItemGold00000</key>
			<dict>
				<key>frame</key>
				<string>{{0,298},{120,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,74}}</string>
				<key>sourceSize</key>
				<string>{120,74}</string>
			</dict>
			<key>ItemGold10000</key>
			<dict>
				<key>frame</key>
				<string>{{289,234},{124,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{124,89}}</string>
				<key>sourceSize</key>
				<string>{124,89}</string>
			</dict>
			<key>ItemGold20000</key>
			<dict>
				<key>frame</key>
				<string>{{188,127},{147,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,101}}</string>
				<key>sourceSize</key>
				<string>{147,101}</string>
			</dict>
			<key>ItemGold30000</key>
			<dict>
				<key>frame</key>
				<string>{{338,114},{147,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{147,118}}</string>
				<key>sourceSize</key>
				<string>{147,118}</string>
			</dict>
			<key>ItemGold40000</key>
			<dict>
				<key>frame</key>
				<string>{{338,0},{155,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{155,112}}</string>
				<key>sourceSize</key>
				<string>{155,112}</string>
			</dict>
			<key>NewGoldCoin0000</key>
			<dict>
				<key>frame</key>
				<string>{{415,234},{61,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,63}}</string>
				<key>sourceSize</key>
				<string>{61,63}</string>
			</dict>
			<key>extraIcon20000</key>
			<dict>
				<key>frame</key>
				<string>{{0,218},{174,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{174,78}}</string>
				<key>sourceSize</key>
				<string>{174,78}</string>
			</dict>
			<key>extraNumBG0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,133},{179,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,83}}</string>
				<key>sourceSize</key>
				<string>{179,83}</string>
			</dict>
			<key>itemGold50000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{186,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,131}}</string>
				<key>sourceSize</key>
				<string>{186,131}</string>
			</dict>
			<key>newBG0000</key>
			<dict>
				<key>frame</key>
				<string>{{176,230},{111,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,108}}</string>
				<key>sourceSize</key>
				<string>{111,108}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>buy_gold_items.png</string>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>buy_gold_items.png</string>
		</dict>
	</dict>
</plist>
