<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>WDJ_ICON0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,117},{76,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,79}}</string>
				<key>sourceSize</key>
				<string>{76,79}</string>
			</dict>
			<key>choosePayment/alipay_icon0000</key>
			<dict>
				<key>frame</key>
				<string>{{70,375},{63,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,69}}</string>
				<key>sourceSize</key>
				<string>{63,69}</string>
			</dict>
			<key>choosePayment/wechat_bg0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{69,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,115}}</string>
				<key>sourceSize</key>
				<string>{69,115}</string>
			</dict>
			<key>choosePayment/wechat_icon0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,373},{68,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,77}}</string>
				<key>sourceSize</key>
				<string>{68,77}</string>
			</dict>
			<key>choosePayment_chinaMobile0000</key>
			<dict>
				<key>frame</key>
				<string>{{78,83},{60,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,85}}</string>
				<key>sourceSize</key>
				<string>{60,85}</string>
			</dict>
			<key>choosePayment_chinaTelecom0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,198},{67,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,86}}</string>
				<key>sourceSize</key>
				<string>{67,86}</string>
			</dict>
			<key>choosePayment_chinaUnicom0000</key>
			<dict>
				<key>frame</key>
				<string>{{69,198},{59,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,86}}</string>
				<key>sourceSize</key>
				<string>{59,86}</string>
			</dict>
			<key>midashi0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,286},{64,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,85}}</string>
				<key>sourceSize</key>
				<string>{64,85}</string>
			</dict>
			<key>paymentPanel_buttonBg0000</key>
			<dict>
				<key>frame</key>
				<string>{{71,0},{77,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,81}}</string>
				<key>sourceSize</key>
				<string>{77,81}</string>
			</dict>
			<key>qihoo_icon0000</key>
			<dict>
				<key>frame</key>
				<string>{{70,286},{55,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,87}}</string>
				<key>sourceSize</key>
				<string>{55,87}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>choose_payment_panel@2x.png</string>
			<key>size</key>
			<string>{150,470}</string>
			<key>textureFileName</key>
			<string>choose_payment_panel@2x.png</string>
		</dict>
	</dict>
</plist>
