<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>WDJ_ICON0000</key>
			<dict>
				<key>frame</key>
				<string>{{236,0},{121,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,126}}</string>
				<key>sourceSize</key>
				<string>{121,126}</string>
			</dict>
			<key>choosePayment/alipay_icon0000</key>
			<dict>
				<key>frame</key>
				<string>{{186,265},{100,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,111}}</string>
				<key>sourceSize</key>
				<string>{100,111}</string>
			</dict>
			<key>choosePayment/wechat_bg0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{109,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,183}}</string>
				<key>sourceSize</key>
				<string>{109,183}</string>
			</dict>
			<key>choosePayment/wechat_icon0000</key>
			<dict>
				<key>frame</key>
				<string>{{111,131},{108,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,124}}</string>
				<key>sourceSize</key>
				<string>{108,124}</string>
			</dict>
			<key>choosePayment_chinaMobile0000</key>
			<dict>
				<key>frame</key>
				<string>{{340,139},{96,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,135}}</string>
				<key>sourceSize</key>
				<string>{96,135}</string>
			</dict>
			<key>choosePayment_chinaTelecom0000</key>
			<dict>
				<key>frame</key>
				<string>{{359,0},{106,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,137}}</string>
				<key>sourceSize</key>
				<string>{106,137}</string>
			</dict>
			<key>choosePayment_chinaUnicom0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,185},{94,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,137}}</string>
				<key>sourceSize</key>
				<string>{94,137}</string>
			</dict>
			<key>midashi0000</key>
			<dict>
				<key>frame</key>
				<string>{{236,128},{102,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,135}}</string>
				<key>sourceSize</key>
				<string>{102,135}</string>
			</dict>
			<key>paymentPanel_buttonBg0000</key>
			<dict>
				<key>frame</key>
				<string>{{111,0},{123,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,129}}</string>
				<key>sourceSize</key>
				<string>{123,129}</string>
			</dict>
			<key>qihoo_icon0000</key>
			<dict>
				<key>frame</key>
				<string>{{96,257},{88,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,139}}</string>
				<key>sourceSize</key>
				<string>{88,139}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>choose_payment_panel.png</string>
			<key>size</key>
			<string>{480,440}</string>
			<key>textureFileName</key>
			<string>choose_payment_panel.png</string>
		</dict>
	</dict>
</plist>
