<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui_buttons/button_common/ui_button_close_rect0000</key>
			<dict>
				<key>frame</key>
				<string>{{80,412},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,19}}</string>
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>ui_buttons/button_common/ui_button_shadow0000</key>
			<dict>
				<key>frame</key>
				<string>{{288,239},{179,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{179,78}}</string>
				<key>sourceSize</key>
				<string>{179,78}</string>
			</dict>
			<key>ui_buttons/close_brown/ui_button_close_panel_brown_shape0000</key>
			<dict>
				<key>frame</key>
				<string>{{103,324},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,22}}</string>
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>ui_buttons/close_green/ui_close_btn_close0000</key>
			<dict>
				<key>frame</key>
				<string>{{477,206},{22,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,22}}</string>
				<key>sourceSize</key>
				<string>{22,22}</string>
			</dict>
			<key>ui_buttons/close_round/ui_close_round_background0000</key>
			<dict>
				<key>frame</key>
				<string>{{469,235},{42,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,40}}</string>
				<key>sourceSize</key>
				<string>{42,40}</string>
			</dict>
			<key>ui_buttons/close_round/ui_close_round_cross0000</key>
			<dict>
				<key>frame</key>
				<string>{{393,497},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,19}}</string>
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>ui_buttons/close_yellow/ui_button_close_panel_yellow_shape0000</key>
			<dict>
				<key>frame</key>
				<string>{{477,181},{23,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,23}}</string>
				<key>sourceSize</key>
				<string>{23,23}</string>
			</dict>
			<key>ui_commons/ui_fontsize_rect0000</key>
			<dict>
				<key>frame</key>
				<string>{{134,167},{5,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,5}}</string>
				<key>sourceSize</key>
				<string>{5,5}</string>
			</dict>
			<key>ui_commons/ui_transparent_rect0000</key>
			<dict>
				<key>frame</key>
				<string>{{80,412},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,19}}</string>
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>ui_images/ui_bubble_10000</key>
			<dict>
				<key>frame</key>
				<string>{{414,1},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>
			<key>ui_images/ui_bubble_20000</key>
			<dict>
				<key>frame</key>
				<string>{{168,242},{100,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,106}}</string>
				<key>sourceSize</key>
				<string>{100,106}</string>
			</dict>
			<key>ui_images/ui_close_btn_shadow0000</key>
			<dict>
				<key>frame</key>
				<string>{{345,581},{42,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,30}}</string>
				<key>sourceSize</key>
				<string>{42,30}</string>
			</dict>
			<key>ui_images/ui_image_cautionmark0000</key>
			<dict>
				<key>frame</key>
				<string>{{103,135},{35,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,30}}</string>
				<key>sourceSize</key>
				<string>{35,30}</string>
			</dict>
			<key>ui_images/ui_image_coin_icon_small0000</key>
			<dict>
				<key>frame</key>
				<string>{{103,167},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,29}}</string>
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>
			<key>ui_images/ui_image_energy_icon0000</key>
			<dict>
				<key>frame</key>
				<string>{{103,198},{20,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,26}}</string>
				<key>sourceSize</key>
				<string>{20,26}</string>
			</dict>
			<key>ui_images/ui_image_glow0000</key>
			<dict>
				<key>frame</key>
				<string>{{345,620},{47,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,45}}</string>
				<key>sourceSize</key>
				<string>{47,45}</string>
			</dict>
			<key>ui_images/ui_image_green_bg0000</key>
			<dict>
				<key>frame</key>
				<string>{{264,414},{83,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,74}}</string>
				<key>sourceSize</key>
				<string>{83,74}</string>
			</dict>
			<key>ui_images/ui_image_headicon_10000</key>
			<dict>
				<key>frame</key>
				<string>{{430,418},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,74}}</string>
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>ui_images/ui_image_headicon_20000</key>
			<dict>
				<key>frame</key>
				<string>{{103,350},{77,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,87}}</string>
				<key>sourceSize</key>
				<string>{77,87}</string>
			</dict>
			<key>ui_images/ui_image_headicon_30000</key>
			<dict>
				<key>frame</key>
				<string>{{349,418},{79,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,77}}</string>
				<key>sourceSize</key>
				<string>{79,77}</string>
			</dict>
			<key>ui_images/ui_image_headicon_3_circle0000</key>
			<dict>
				<key>frame</key>
				<string>{{182,350},{80,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,79}}</string>
				<key>sourceSize</key>
				<string>{80,79}</string>
			</dict>
			<key>ui_images/ui_image_infinite_energy0000</key>
			<dict>
				<key>frame</key>
				<string>{{60,580},{49,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,55}}</string>
				<key>sourceSize</key>
				<string>{49,55}</string>
			</dict>
			<key>ui_images/ui_image_leafs_bl0000</key>
			<dict>
				<key>frame</key>
				<string>{{339,497},{52,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,82}}</string>
				<key>sourceSize</key>
				<string>{52,82}</string>
			</dict>
			<key>ui_images/ui_image_leafs_br0000</key>
			<dict>
				<key>frame</key>
				<string>{{288,128},{130,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,109}}</string>
				<key>sourceSize</key>
				<string>{130,109}</string>
			</dict>
			<key>ui_images/ui_image_light0000</key>
			<dict>
				<key>frame</key>
				<string>{{393,558},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ui_images/ui_image_lock_ico0000</key>
			<dict>
				<key>frame</key>
				<string>{{455,558},{50,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,59}}</string>
				<key>sourceSize</key>
				<string>{50,59}</string>
			</dict>
			<key>ui_images/ui_image_long_separator0000</key>
			<dict>
				<key>frame</key>
				<string>{{1,669},{396,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{396,4}}</string>
				<key>sourceSize</key>
				<string>{396,4}</string>
			</dict>
			<key>ui_images/ui_image_npc_10000</key>
			<dict>
				<key>frame</key>
				<string>{{1,135},{100,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,104}}</string>
				<key>sourceSize</key>
				<string>{100,104}</string>
			</dict>
			<key>ui_images/ui_image_npc_20000</key>
			<dict>
				<key>frame</key>
				<string>{{270,319},{100,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,93}}</string>
				<key>sourceSize</key>
				<string>{100,93}</string>
			</dict>
			<key>ui_images/ui_image_npc_30000</key>
			<dict>
				<key>frame</key>
				<string>{{372,319},{90,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,97}}</string>
				<key>sourceSize</key>
				<string>{90,97}</string>
			</dict>
			<key>ui_images/ui_image_olive_bg0000</key>
			<dict>
				<key>frame</key>
				<string>{{142,1},{134,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,125}}</string>
				<key>sourceSize</key>
				<string>{134,125}</string>
			</dict>
			<key>ui_images/ui_image_orange_bg0000</key>
			<dict>
				<key>frame</key>
				<string>{{278,1},{134,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,125}}</string>
				<key>sourceSize</key>
				<string>{134,125}</string>
			</dict>
			<key>ui_images/ui_image_rewardclose_10000</key>
			<dict>
				<key>frame</key>
				<string>{{161,619},{52,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,44}}</string>
				<key>sourceSize</key>
				<string>{52,44}</string>
			</dict>
			<key>ui_images/ui_image_rewardclose_20000</key>
			<dict>
				<key>frame</key>
				<string>{{128,568},{58,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,49}}</string>
				<key>sourceSize</key>
				<string>{58,49}</string>
			</dict>
			<key>ui_images/ui_image_rewardclose_30000</key>
			<dict>
				<key>frame</key>
				<string>{{430,494},{72,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,62}}</string>
				<key>sourceSize</key>
				<string>{72,62}</string>
			</dict>
			<key>ui_images/ui_image_rewardclose_40000</key>
			<dict>
				<key>frame</key>
				<string>{{182,431},{75,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,70}}</string>
				<key>sourceSize</key>
				<string>{75,70}</string>
			</dict>
			<key>ui_images/ui_image_rewardopen_10000</key>
			<dict>
				<key>frame</key>
				<string>{{420,181},{55,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,52}}</string>
				<key>sourceSize</key>
				<string>{55,52}</string>
			</dict>
			<key>ui_images/ui_image_rewardopen_30000</key>
			<dict>
				<key>frame</key>
				<string>{{80,439},{84,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,72}}</string>
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>ui_images/ui_image_rewardopen_40000</key>
			<dict>
				<key>frame</key>
				<string>{{1,324},{100,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,86}}</string>
				<key>sourceSize</key>
				<string>{100,86}</string>
			</dict>
			<key>ui_images/ui_image_select_10000</key>
			<dict>
				<key>frame</key>
				<string>{{290,581},{53,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,44}}</string>
				<key>sourceSize</key>
				<string>{53,44}</string>
			</dict>
			<key>ui_images/ui_image_yellow_bg0000</key>
			<dict>
				<key>frame</key>
				<string>{{420,100},{87,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,79}}</string>
				<key>sourceSize</key>
				<string>{87,79}</string>
			</dict>
			<key>ui_images/ui_imagel_blinking_star0000</key>
			<dict>
				<key>frame</key>
				<string>{{1,622},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,43}}</string>
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
			<key>ui_images/ui_images_arrow0000</key>
			<dict>
				<key>frame</key>
				<string>{{127,324},{27,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,16}}</string>
				<key>sourceSize</key>
				<string>{27,16}</string>
			</dict>
			<key>ui_scale9/ui_blank_scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{464,368},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,47}}</string>
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>ui_scale9/ui_brown_down_scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{469,277},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>ui_scale9/ui_brown_withoutborder_scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{1,495},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,66}}</string>
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>ui_scale9/ui_button_green_scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{1,242},{165,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,80}}</string>
				<key>sourceSize</key>
				<string>{165,80}</string>
			</dict>
			<key>ui_scale9/ui_dark_brown_scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{166,503},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,63}}</string>
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>ui_scale9/ui_green_withoutborder_scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{1,563},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,57}}</string>
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>ui_scale9/ui_light_border_scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{69,513},{57,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,65}}</string>
				<key>sourceSize</key>
				<string>{57,65}</string>
			</dict>
			<key>ui_scale9/ui_light_brown_scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{455,619},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,47}}</string>
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>ui_scale9/ui_light_green_scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{259,490},{78,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,66}}</string>
				<key>sourceSize</key>
				<string>{78,66}</string>
			</dict>
			<key>ui_scale9/ui_light_yellow_scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{464,319},{47,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,47}}</string>
				<key>sourceSize</key>
				<string>{47,47}</string>
			</dict>
			<key>ui_scale9/ui_lighter_brown_scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{231,558},{57,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,65}}</string>
				<key>sourceSize</key>
				<string>{57,65}</string>
			</dict>
			<key>ui_scale9/ui_orange_scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{1,412},{77,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,81}}</string>
				<key>sourceSize</key>
				<string>{77,81}</string>
			</dict>
			<key>ui_scale9/ui_orange_up_scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{215,625},{57,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,27}}</string>
				<key>sourceSize</key>
				<string>{57,27}</string>
			</dict>
			<key>ui_scale9/ui_tip_scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{139,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,132}}</string>
				<key>sourceSize</key>
				<string>{139,132}</string>
			</dict>
			<key>ui_scale9/ui_white_scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{188,568},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>ui_scale9/ui_yellow_border_scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{111,619},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>ui_scale9/ui_yellow_green_scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{142,128},{144,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{144,112}}</string>
				<key>sourceSize</key>
				<string>{144,112}</string>
			</dict>
			<key>ui_scale9/ui_yellow_withoutborder_scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{394,620},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,45}}</string>
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>common_ui@2x.png</string>
			<key>size</key>
			<string>{512,674}</string>
			<key>textureFileName</key>
			<string>common_ui@2x.png</string>
		</dict>
	</dict>
</plist>
