<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>consumeHistory/arrow0000</key>
			<dict>
				<key>frame</key>
				<string>{{122,0},{12,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,9}}</string>
				<key>sourceSize</key>
				<string>{12,9}</string>
			</dict>
			<key>consumeHistory/bg0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>consumeHistory/line0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,82},{138,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,2}}</string>
				<key>sourceSize</key>
				<string>{138,2}</string>
			</dict>
			<key>consumeHistory/loadingIcon0000</key>
			<dict>
				<key>frame</key>
				<string>{{117,44},{24,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,26}}</string>
				<key>sourceSize</key>
				<string>{24,26}</string>
			</dict>
			<key>consumeHistory/subTitleBg0000</key>
			<dict>
				<key>frame</key>
				<string>{{82,44},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,33}}</string>
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>consumeHistory/titleBg0000</key>
			<dict>
				<key>frame</key>
				<string>{{82,0},{38,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,42}}</string>
				<key>sourceSize</key>
				<string>{38,42}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>consume_history@2x.png</string>
			<key>size</key>
			<string>{145,88}</string>
			<key>textureFileName</key>
			<string>consume_history@2x.png</string>
		</dict>
	</dict>
</plist>
