<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Symbol 190000</key>
			<dict>
				<key>frame</key>
				<string>{{73,184},{75,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,60}}</string>
				<key>sourceSize</key>
				<string>{75,60}</string>
			</dict>
			<key>bronzeCrownShadowWrapper0000</key>
			<dict>
				<key>frame</key>
				<string>{{171,0},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,71}}</string>
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>crownShadowWrapper0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,184},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,71}}</string>
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>dfsdgdfs0000</key>
			<dict>
				<key>frame</key>
				<string>{{125,246},{50,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,46}}</string>
				<key>sourceSize</key>
				<string>{50,46}</string>
			</dict>
			<key>dfsdgdfs_disable0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,257},{50,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,46}}</string>
				<key>sourceSize</key>
				<string>{50,46}</string>
			</dict>
			<key>friendRanking_bg_scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{92,92},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>friendRanking_bg_selected_scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{91,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,90}}</string>
				<key>sourceSize</key>
				<string>{91,90}</string>
			</dict>
			<key>friendRanking_greySendBtn0000</key>
			<dict>
				<key>frame</key>
				<string>{{150,184},{75,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,60}}</string>
				<key>sourceSize</key>
				<string>{75,60}</string>
			</dict>
			<key>friendRanking_item_bg_scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{0,92},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>friendRanking_labelBg0000</key>
			<dict>
				<key>frame</key>
				<string>{{184,133},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>friendRanking_selectedIcon0000</key>
			<dict>
				<key>frame</key>
				<string>{{184,73},{70,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,58}}</string>
				<key>sourceSize</key>
				<string>{70,58}</string>
			</dict>
			<key>friendRanking_star0000</key>
			<dict>
				<key>frame</key>
				<string>{{177,246},{46,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,45}}</string>
				<key>sourceSize</key>
				<string>{46,45}</string>
			</dict>
			<key>glow yellow0000</key>
			<dict>
				<key>frame</key>
				<string>{{73,246},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>silverCrownShadowWrapper0000</key>
			<dict>
				<key>frame</key>
				<string>{{93,0},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,75}}</string>
				<key>sourceSize</key>
				<string>{76,75}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>friend_ranking_panel.png</string>
			<key>size</key>
			<string>{256,320}</string>
			<key>textureFileName</key>
			<string>friend_ranking_panel.png</string>
		</dict>
	</dict>
</plist>
