<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>InviteFriendPanel_discountbg0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,86},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>Symbol 600000</key>
			<dict>
				<key>frame</key>
				<string>{{0,22},{69,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,61}}</string>
				<key>sourceSize</key>
				<string>{69,61}</string>
			</dict>
			<key>_assets/defaultImg0000</key>
			<dict>
				<key>frame</key>
				<string>{{71,22},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>alphe0btnbg0000</key>
			<dict>
				<key>frame</key>
				<string>{{135,22},{54,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,46}}</string>
				<key>sourceSize</key>
				<string>{54,46}</string>
			</dict>
			<key>foregroundYellowBar0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{332,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{332,20}}</string>
				<key>sourceSize</key>
				<string>{332,20}</string>
			</dict>
			<key>inviteFriend_WDJ_Symbol0000</key>
			<dict>
				<key>frame</key>
				<string>{{191,22},{46,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,46}}</string>
				<key>sourceSize</key>
				<string>{46,46}</string>
			</dict>
			<key>inviteFriend_weChat_Symbol0000</key>
			<dict>
				<key>frame</key>
				<string>{{135,70},{52,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,46}}</string>
				<key>sourceSize</key>
				<string>{52,46}</string>
			</dict>
			<key>元件 230000</key>
			<dict>
				<key>frame</key>
				<string>{{30,86},{23,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,20}}</string>
				<key>sourceSize</key>
				<string>{23,20}</string>
			</dict>
			<key>刷新0000</key>
			<dict>
				<key>frame</key>
				<string>{{189,70},{50,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,46}}</string>
				<key>sourceSize</key>
				<string>{50,46}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>invite_friend_reward_panel@2x.png</string>
			<key>size</key>
			<string>{335,120}</string>
			<key>textureFileName</key>
			<string>invite_friend_reward_panel@2x.png</string>
		</dict>
	</dict>
</plist>
