<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>asset/水滴0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{28,28}</string>
				<key>spriteSourceSize</key>
				<string>{28,28}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{214,38},{28,28}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bvfvdf3e3fbht0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,37}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{44,37}</string>
				<key>spriteSourceSize</key>
				<string>{44,37}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,168},{44,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>day1jfidahfe0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,2},{43,18}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,20}</string>
				<key>spriteSourceSize</key>
				<string>{43,18}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{91,190},{43,18}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>day2jfdioajef0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,20}</string>
				<key>spriteSourceSize</key>
				<string>{43,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{205,146},{43,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>day3jfadiojfe0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,2},{43,18}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,20}</string>
				<key>spriteSourceSize</key>
				<string>{43,18}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{46,190},{43,18}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>day4fjaioj3r20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,20}</string>
				<key>spriteSourceSize</key>
				<string>{43,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{91,168},{43,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>day5fjei3980000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,20}</string>
				<key>spriteSourceSize</key>
				<string>{43,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{46,168},{43,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>day66nnn0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,20}</string>
				<key>spriteSourceSize</key>
				<string>{43,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{205,168},{43,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>day7jio234u4890000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,20}</string>
				<key>spriteSourceSize</key>
				<string>{43,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{205,190},{43,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladyBugIcon0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,166}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,166}</string>
				<key>spriteSourceSize</key>
				<string>{139,166}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{139,166}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladyBugItemBg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,62}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{62,62}</string>
				<key>spriteSourceSize</key>
				<string>{62,62}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{141,146},{62,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybugitembubblenormaldfjakldfjgr240000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,75}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,75}</string>
				<key>spriteSourceSize</key>
				<string>{71,75}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{141,0},{71,75}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>topleftGreen0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,67}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{67,67}</string>
				<key>spriteSourceSize</key>
				<string>{67,67}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{141,77},{67,67}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>元件 170000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,36}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{36,36}</string>
				<key>spriteSourceSize</key>
				<string>{36,36}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{214,0},{36,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{256,210}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>lady_bug_panel@2x.png</string>
				<key>textureFileName</key>
				<string>lady_bug_panel@2x</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
