<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>asset/水滴0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,44}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{45,44}</string>
				<key>spriteSourceSize</key>
				<string>{45,44}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{336,0},{45,44}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bvfvdf3e3fbht0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,59}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{70,59}</string>
				<key>spriteSourceSize</key>
				<string>{70,59}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{434,0},{70,59}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>day1jfidahfe0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{68,32}</string>
				<key>spriteSourceSize</key>
				<string>{68,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{434,154},{68,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>day2jfdioajef0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{68,32}</string>
				<key>spriteSourceSize</key>
				<string>{68,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{434,188},{68,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>day3jfadiojfe0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{68,32}</string>
				<key>spriteSourceSize</key>
				<string>{68,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{293,227},{68,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>day4fjaioj3r20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{68,32}</string>
				<key>spriteSourceSize</key>
				<string>{68,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{434,120},{68,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>day5fjei3980000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{68,32}</string>
				<key>spriteSourceSize</key>
				<string>{68,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{223,227},{68,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>day66nnn0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{68,32}</string>
				<key>spriteSourceSize</key>
				<string>{68,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{363,218},{68,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>day7jio234u4890000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,32}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{68,32}</string>
				<key>spriteSourceSize</key>
				<string>{68,32}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{433,222},{68,32}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladyBugIcon0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{221,265}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{221,265}</string>
				<key>spriteSourceSize</key>
				<string>{221,265}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{221,265}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladyBugItemBg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,99}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,99}</string>
				<key>spriteSourceSize</key>
				<string>{99,99}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{333,117},{99,99}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ladybugitembubblenormaldfjakldfjgr240000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,115}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{111,115}</string>
				<key>spriteSourceSize</key>
				<string>{111,115}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{223,0},{111,115}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>topleftGreen0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,108}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{108,108}</string>
				<key>spriteSourceSize</key>
				<string>{108,108}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{223,117},{108,108}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>元件 170000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,57}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{57,57}</string>
				<key>spriteSourceSize</key>
				<string>{57,57}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{434,61},{57,57}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,265}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>lady_bug_panel.png</string>
				<key>textureFileName</key>
				<string>lady_bug_panel</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
