<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Symbol 1610000</key>
			<dict>
				<key>frame</key>
				<string>{{297,514},{40,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,38}}</string>
				<key>sourceSize</key>
				<string>{40,38}</string>
			</dict>
			<key>Symbol 370000</key>
			<dict>
				<key>frame</key>
				<string>{{100,591},{141,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{141,35}}</string>
				<key>sourceSize</key>
				<string>{141,35}</string>
			</dict>
			<key>add20000</key>
			<dict>
				<key>frame</key>
				<string>{{217,569},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>addd20000</key>
			<dict>
				<key>frame</key>
				<string>{{196,569},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>bgWrapper0000</key>
			<dict>
				<key>frame</key>
				<string>{{242,569},{55,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,38}}</string>
				<key>sourceSize</key>
				<string>{55,38}</string>
			</dict>
			<key>hhh 副本 20000</key>
			<dict>
				<key>frame</key>
				<string>{{242,451},{64,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,59}}</string>
				<key>sourceSize</key>
				<string>{64,59}</string>
			</dict>
			<key>line0000</key>
			<dict>
				<key>frame</key>
				<string>{{242,624},{85,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,2}}</string>
				<key>sourceSize</key>
				<string>{85,2}</string>
			</dict>
			<key>l气泡定版0000</key>
			<dict>
				<key>frame</key>
				<string>{{1,513},{98,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,97}}</string>
				<key>sourceSize</key>
				<string>{98,97}</string>
			</dict>
			<key>mark_q0000</key>
			<dict>
				<key>frame</key>
				<string>{{377,514},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>market_amountBg0000</key>
			<dict>
				<key>frame</key>
				<string>{{108,484},{19,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,19}}</string>
				<key>sourceSize</key>
				<string>{19,19}</string>
			</dict>
			<key>market_arrowTabArrow0000</key>
			<dict>
				<key>frame</key>
				<string>{{19,611},{16,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{16,11}}</string>
				<key>sourceSize</key>
				<string>{16,11}</string>
			</dict>
			<key>market_buyExtendedPanelBg0000</key>
			<dict>
				<key>frame</key>
				<string>{{196,511},{57,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,57}}</string>
				<key>sourceSize</key>
				<string>{57,57}</string>
			</dict>
			<key>market_buyGoldButton0000</key>
			<dict>
				<key>frame</key>
				<string>{{204,406},{37,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,41}}</string>
				<key>sourceSize</key>
				<string>{37,41}</string>
			</dict>
			<key>market_buyPanel_priceTagDiscountedBg0000</key>
			<dict>
				<key>frame</key>
				<string>{{100,513},{95,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,77}}</string>
				<key>sourceSize</key>
				<string>{95,77}</string>
			</dict>
			<key>market_curtain_red0000</key>
			<dict>
				<key>frame</key>
				<string>{{337,553},{5,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,70}}</string>
				<key>sourceSize</key>
				<string>{5,70}</string>
			</dict>
			<key>market_curtain_yellow0000</key>
			<dict>
				<key>frame</key>
				<string>{{406,406},{5,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,70}}</string>
				<key>sourceSize</key>
				<string>{5,70}</string>
			</dict>
			<key>market_discountSymbol0000</key>
			<dict>
				<key>frame</key>
				<string>{{351,406},{54,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,74}}</string>
				<key>sourceSize</key>
				<string>{54,74}</string>
			</dict>
			<key>market_goods_65_wrapper0000</key>
			<dict>
				<key>frame</key>
				<string>{{1,271},{411,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{411,134}}</string>
				<key>sourceSize</key>
				<string>{411,134}</string>
			</dict>
			<key>market_goods_66_wrapper0000</key>
			<dict>
				<key>frame</key>
				<string>{{1,136},{411,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{411,134}}</string>
				<key>sourceSize</key>
				<string>{411,134}</string>
			</dict>
			<key>market_goods_67_wrapper0000</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{411,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{411,134}}</string>
				<key>sourceSize</key>
				<string>{411,134}</string>
			</dict>
			<key>market_itemBaseBg0000</key>
			<dict>
				<key>frame</key>
				<string>{{242,406},{108,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,44}}</string>
				<key>sourceSize</key>
				<string>{108,44}</string>
			</dict>
			<key>market_limitMark0000</key>
			<dict>
				<key>frame</key>
				<string>{{377,548},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>market_line0000</key>
			<dict>
				<key>frame</key>
				<string>{{1,627},{381,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{381,4}}</string>
				<key>sourceSize</key>
				<string>{381,4}</string>
			</dict>
			<key>market_panel_top_shadow0000</key>
			<dict>
				<key>frame</key>
				<string>{{406,477},{5,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,18}}</string>
				<key>sourceSize</key>
				<string>{5,18}</string>
			</dict>
			<key>market_priceTagNormalBg0000</key>
			<dict>
				<key>frame</key>
				<string>{{108,406},{95,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,77}}</string>
				<key>sourceSize</key>
				<string>{95,77}</string>
			</dict>
			<key>market_redBlocker0000</key>
			<dict>
				<key>frame</key>
				<string>{{254,553},{27,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,14}}</string>
				<key>sourceSize</key>
				<string>{27,14}</string>
			</dict>
			<key>market_shadow0000</key>
			<dict>
				<key>frame</key>
				<string>{{1,406},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,106}}</string>
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>market_timerBg0000</key>
			<dict>
				<key>frame</key>
				<string>{{307,481},{95,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,32}}</string>
				<key>sourceSize</key>
				<string>{95,32}</string>
			</dict>
			<key>marketpanel_buygolditemtitlearrowd0000</key>
			<dict>
				<key>frame</key>
				<string>{{1,611},{17,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,14}}</string>
				<key>sourceSize</key>
				<string>{17,14}</string>
			</dict>
			<key>marketpanel_buygolditemtitlearrowr0000</key>
			<dict>
				<key>frame</key>
				<string>{{282,551},{14,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{14,17}}</string>
				<key>sourceSize</key>
				<string>{14,17}</string>
			</dict>
			<key>marketpanel_platformlogo_alipay0000</key>
			<dict>
				<key>frame</key>
				<string>{{254,511},{42,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,39}}</string>
				<key>sourceSize</key>
				<string>{42,39}</string>
			</dict>
			<key>marketpanel_platformlogo_wechat0000</key>
			<dict>
				<key>frame</key>
				<string>{{298,553},{38,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,32}}</string>
				<key>sourceSize</key>
				<string>{38,32}</string>
			</dict>
			<key>marketpanel_propdescglow0000</key>
			<dict>
				<key>frame</key>
				<string>{{338,514},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
			<key>minus20000</key>
			<dict>
				<key>frame</key>
				<string>{{36,611},{20,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,8}}</string>
				<key>sourceSize</key>
				<string>{20,8}</string>
			</dict>
			<key>minusd20000</key>
			<dict>
				<key>frame</key>
				<string>{{108,504},{20,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,8}}</string>
				<key>sourceSize</key>
				<string>{20,8}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>market_panel@2x.png</string>
			<key>size</key>
			<string>{413,640}</string>
			<key>textureFileName</key>
			<string>market_panel@2x.png</string>
		</dict>
	</dict>
</plist>
