<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Keyboard.scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{207,187},{135,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,136}}</string>
				<key>sourceSize</key>
				<string>{135,136}</string>
			</dict>
			<key>Symbol 920000</key>
			<dict>
				<key>frame</key>
				<string>{{154,270},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>
			<key>Symbol 960000</key>
			<dict>
				<key>frame</key>
				<string>{{49,192},{66,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,48}}</string>
				<key>sourceSize</key>
				<string>{66,48}</string>
			</dict>
			<key>Symbol 970000</key>
			<dict>
				<key>frame</key>
				<string>{{154,222},{48,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,46}}</string>
				<key>sourceSize</key>
				<string>{48,46}</string>
			</dict>
			<key>afpshadow0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,262},{30,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,32}}</string>
				<key>sourceSize</key>
				<string>{30,32}</string>
			</dict>
			<key>arrowdown0000</key>
			<dict>
				<key>frame</key>
				<string>{{152,344},{24,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,19}}</string>
				<key>sourceSize</key>
				<string>{24,19}</string>
			</dict>
			<key>arrowright0000</key>
			<dict>
				<key>frame</key>
				<string>{{178,344},{19,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,23}}</string>
				<key>sourceSize</key>
				<string>{19,23}</string>
			</dict>
			<key>buttondarkbg0000</key>
			<dict>
				<key>frame</key>
				<string>{{435,180},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>buttonlight0000</key>
			<dict>
				<key>frame</key>
				<string>{{435,304},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>icnposition0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,301},{40,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,54}}</string>
				<key>sourceSize</key>
				<string>{40,54}</string>
			</dict>
			<key>img_code0000</key>
			<dict>
				<key>frame</key>
				<string>{{418,180},{7,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{7,2}}</string>
				<key>sourceSize</key>
				<string>{7,2}</string>
			</dict>
			<key>inputLabelbg_jfdi0000</key>
			<dict>
				<key>frame</key>
				<string>{{344,281},{89,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,61}}</string>
				<key>sourceSize</key>
				<string>{89,61}</string>
			</dict>
			<key>inputbg0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,192},{47,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,68}}</string>
				<key>sourceSize</key>
				<string>{47,68}</string>
			</dict>
			<key>inputcancel0000</key>
			<dict>
				<key>frame</key>
				<string>{{152,294},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>inputfocus0000</key>
			<dict>
				<key>frame</key>
				<string>{{418,0},{65,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,61}}</string>
				<key>sourceSize</key>
				<string>{65,61}</string>
			</dict>
			<key>itemadd0000</key>
			<dict>
				<key>frame</key>
				<string>{{102,242},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>itemclicked0000</key>
			<dict>
				<key>frame</key>
				<string>{{435,242},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>load0000</key>
			<dict>
				<key>frame</key>
				<string>{{42,301},{42,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,45}}</string>
				<key>sourceSize</key>
				<string>{42,45}</string>
			</dict>
			<key>miTalkIconaaa0000</key>
			<dict>
				<key>frame</key>
				<string>{{202,325},{43,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,38}}</string>
				<key>sourceSize</key>
				<string>{43,38}</string>
			</dict>
			<key>nouserimg0000</key>
			<dict>
				<key>frame</key>
				<string>{{344,187},{89,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,92}}</string>
				<key>sourceSize</key>
				<string>{89,92}</string>
			</dict>
			<key>scope0000</key>
			<dict>
				<key>frame</key>
				<string>{{102,294},{48,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,49}}</string>
				<key>sourceSize</key>
				<string>{48,49}</string>
			</dict>
			<key>shakeanimleft0000</key>
			<dict>
				<key>frame</key>
				<string>{{207,0},{209,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,185}}</string>
				<key>sourceSize</key>
				<string>{209,185}</string>
			</dict>
			<key>shakeanimright0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{205,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,190}}</string>
				<key>sourceSize</key>
				<string>{205,190}</string>
			</dict>
			<key>shakeicon0000</key>
			<dict>
				<key>frame</key>
				<string>{{49,242},{51,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,57}}</string>
				<key>sourceSize</key>
				<string>{51,57}</string>
			</dict>
			<key>shakeresultok0000</key>
			<dict>
				<key>frame</key>
				<string>{{418,63},{70,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,56}}</string>
				<key>sourceSize</key>
				<string>{70,56}</string>
			</dict>
			<key>signal10000</key>
			<dict>
				<key>frame</key>
				<string>{{117,222},{24,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,10}}</string>
				<key>sourceSize</key>
				<string>{24,10}</string>
			</dict>
			<key>signal20000</key>
			<dict>
				<key>frame</key>
				<string>{{247,325},{54,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,18}}</string>
				<key>sourceSize</key>
				<string>{54,18}</string>
			</dict>
			<key>signal30000</key>
			<dict>
				<key>frame</key>
				<string>{{117,192},{85,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,28}}</string>
				<key>sourceSize</key>
				<string>{85,28}</string>
			</dict>
			<key>wechaticondsfa0000</key>
			<dict>
				<key>frame</key>
				<string>{{418,121},{67,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,57}}</string>
				<key>sourceSize</key>
				<string>{67,57}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>panel_with_keypad.png</string>
			<key>size</key>
			<string>{512,380}</string>
			<key>textureFileName</key>
			<string>panel_with_keypad.png</string>
		</dict>
	</dict>
</plist>
