<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>imgs/animal_img0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{296,379}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{296,379}</string>
				<key>spriteSourceSize</key>
				<string>{296,379}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{296,379}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>imgs/bg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{6,6}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{6,6}</string>
				<key>spriteSourceSize</key>
				<string>{6,6}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{386,175},{6,6}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>imgs/bubble_img0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{163,173}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{163,173}</string>
				<key>spriteSourceSize</key>
				<string>{163,173}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{298,0},{163,173}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>imgs/discount_bg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,86}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{86,86}</string>
				<key>spriteSourceSize</key>
				<string>{86,86}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{298,175},{86,86}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>imgs/title_dt0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{214,84}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{214,84}</string>
				<key>spriteSourceSize</key>
				<string>{214,84}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,381},{214,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{465,470}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>panel_mark_prise.png</string>
				<key>textureFileName</key>
				<string>panel_mark_prise</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
