<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Duplicate Items Folder/元件 130000</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{59,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,57}}</string>
				<key>sourceSize</key>
				<string>{59,57}</string>
			</dict>
			<key>Duplicate Items Folder/元件 150000</key>
			<dict>
				<key>frame</key>
				<string>{{1,60},{53,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,55}}</string>
				<key>sourceSize</key>
				<string>{53,55}</string>
			</dict>
			<key>clock0000</key>
			<dict>
				<key>frame</key>
				<string>{{56,60},{59,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,46}}</string>
				<key>sourceSize</key>
				<string>{59,46}</string>
			</dict>
			<key>clockIcon0000</key>
			<dict>
				<key>frame</key>
				<string>{{157,1},{42,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,34}}</string>
				<key>sourceSize</key>
				<string>{42,34}</string>
			</dict>
			<key>energy_recover_icon0000</key>
			<dict>
				<key>frame</key>
				<string>{{119,1},{36,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,46}}</string>
				<key>sourceSize</key>
				<string>{36,46}</string>
			</dict>
			<key>gamesetting_addfriends0000</key>
			<dict>
				<key>frame</key>
				<string>{{196,101},{28,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,27}}</string>
				<key>sourceSize</key>
				<string>{28,27}</string>
			</dict>
			<key>gamesetting_appbar0000</key>
			<dict>
				<key>frame</key>
				<string>{{225,1},{28,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,23}}</string>
				<key>sourceSize</key>
				<string>{28,23}</string>
			</dict>
			<key>gamesetting_cs0000</key>
			<dict>
				<key>frame</key>
				<string>{{161,100},{33,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,28}}</string>
				<key>sourceSize</key>
				<string>{33,28}</string>
			</dict>
			<key>gamesetting_helpicon0000</key>
			<dict>
				<key>frame</key>
				<string>{{167,37},{30,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,32}}</string>
				<key>sourceSize</key>
				<string>{30,32}</string>
			</dict>
			<key>gamesetting_more_info0000</key>
			<dict>
				<key>frame</key>
				<string>{{201,1},{22,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,60}}</string>
				<key>sourceSize</key>
				<string>{22,60}</string>
			</dict>
			<key>gamesetting_panel_bg0000</key>
			<dict>
				<key>frame</key>
				<string>{{117,50},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>gamesetting_pauseicon0000</key>
			<dict>
				<key>frame</key>
				<string>{{31,117},{21,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{21,21}}</string>
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
			<key>gamesetting_quit0000</key>
			<dict>
				<key>frame</key>
				<string>{{167,71},{27,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,23}}</string>
				<key>sourceSize</key>
				<string>{27,23}</string>
			</dict>
			<key>gamesetting_replay0000</key>
			<dict>
				<key>frame</key>
				<string>{{196,71},{27,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,28}}</string>
				<key>sourceSize</key>
				<string>{27,28}</string>
			</dict>
			<key>gamesettingpanel_cdkeyicon0000</key>
			<dict>
				<key>frame</key>
				<string>{{62,1},{55,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,47}}</string>
				<key>sourceSize</key>
				<string>{55,47}</string>
			</dict>
			<key>gamesettingpanel_controlpanelseparator0000</key>
			<dict>
				<key>frame</key>
				<string>{{225,53},{5,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,36}}</string>
				<key>sourceSize</key>
				<string>{5,36}</string>
			</dict>
			<key>gamesettingpanel_weishequicon0000</key>
			<dict>
				<key>frame</key>
				<string>{{1,117},{28,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,23}}</string>
				<key>sourceSize</key>
				<string>{28,23}</string>
			</dict>
			<key>phplacehholder32872340000</key>
			<dict>
				<key>frame</key>
				<string>{{157,37},{7,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{7,7}}</string>
				<key>sourceSize</key>
				<string>{7,7}</string>
			</dict>
			<key>setIcon_prePackage0000</key>
			<dict>
				<key>frame</key>
				<string>{{225,26},{24,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,25}}</string>
				<key>sourceSize</key>
				<string>{24,25}</string>
			</dict>
			<key>setting inputtatus0000</key>
			<dict>
				<key>frame</key>
				<string>{{117,100},{42,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,33}}</string>
				<key>sourceSize</key>
				<string>{42,33}</string>
			</dict>
			<key>settingavatarbottomlines0000</key>
			<dict>
				<key>frame</key>
				<string>{{31,140},{187,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{187,3}}</string>
				<key>sourceSize</key>
				<string>{187,3}</string>
			</dict>
			<key>ui_empty0000</key>
			<dict>
				<key>frame</key>
				<string>{{199,63},{5,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,5}}</string>
				<key>sourceSize</key>
				<string>{5,5}</string>
			</dict>
			<key>重复项目文件夹/对号10000</key>
			<dict>
				<key>frame</key>
				<string>{{56,108},{37,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,30}}</string>
				<key>sourceSize</key>
				<string>{37,30}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>panel_game_setting@2x.png</string>
			<key>size</key>
			<string>{256,144}</string>
			<key>textureFileName</key>
			<string>panel_game_setting@2x.png</string>
		</dict>
	</dict>
</plist>
