<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>panelmarkenergynotionce_sunshine_image0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,95}}</string>
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>sprite/panelmarkenergynotionce_bg0000</key>
			<dict>
				<key>frame</key>
				<string>{{66,97},{5,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,5}}</string>
				<key>sourceSize</key>
				<string>{5,5}</string>
			</dict>
			<key>sprite/panelmarkenergynotionce_item0000</key>
			<dict>
				<key>frame</key>
				<string>{{97,0},{65,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,79}}</string>
				<key>sourceSize</key>
				<string>{65,79}</string>
			</dict>
			<key>sprite/panelmarkenergynotionce_lightitem0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,97},{40,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,50}}</string>
				<key>sourceSize</key>
				<string>{40,50}</string>
			</dict>
			<key>sprite/panelmarkenergynotionce_number0000</key>
			<dict>
				<key>frame</key>
				<string>{{42,97},{22,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{22,19}}</string>
				<key>sourceSize</key>
				<string>{22,19}</string>
			</dict>
			<key>sprite/panelmarkenergynotionce_star0000</key>
			<dict>
				<key>frame</key>
				<string>{{97,81},{60,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,54}}</string>
				<key>sourceSize</key>
				<string>{60,54}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>panel_mark_energy_notionce@2x.png</string>
			<key>size</key>
			<string>{170,150}</string>
			<key>textureFileName</key>
			<string>panel_mark_energy_notionce@2x.png</string>
		</dict>
	</dict>
</plist>
