<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Duplicate Items Folder/元件 130000</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{93,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,91}}</string>
				<key>sourceSize</key>
				<string>{93,91}</string>
			</dict>
			<key>Duplicate Items Folder/元件 150000</key>
			<dict>
				<key>frame</key>
				<string>{{96,1},{84,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,88}}</string>
				<key>sourceSize</key>
				<string>{84,88}</string>
			</dict>
			<key>clock0000</key>
			<dict>
				<key>frame</key>
				<string>{{182,1},{92,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{92,73}}</string>
				<key>sourceSize</key>
				<string>{92,73}</string>
			</dict>
			<key>clockIcon0000</key>
			<dict>
				<key>frame</key>
				<string>{{174,153},{66,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,54}}</string>
				<key>sourceSize</key>
				<string>{66,54}</string>
			</dict>
			<key>energy_recover_icon0000</key>
			<dict>
				<key>frame</key>
				<string>{{1,94},{57,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,73}}</string>
				<key>sourceSize</key>
				<string>{57,73}</string>
			</dict>
			<key>gamesetting_addfriends0000</key>
			<dict>
				<key>frame</key>
				<string>{{271,99},{45,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,43}}</string>
				<key>sourceSize</key>
				<string>{45,43}</string>
			</dict>
			<key>gamesetting_appbar0000</key>
			<dict>
				<key>frame</key>
				<string>{{165,209},{44,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,37}}</string>
				<key>sourceSize</key>
				<string>{44,37}</string>
			</dict>
			<key>gamesetting_cs0000</key>
			<dict>
				<key>frame</key>
				<string>{{110,169},{53,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,44}}</string>
				<key>sourceSize</key>
				<string>{53,44}</string>
			</dict>
			<key>gamesetting_helpicon0000</key>
			<dict>
				<key>frame</key>
				<string>{{61,169},{47,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,51}}</string>
				<key>sourceSize</key>
				<string>{47,51}</string>
			</dict>
			<key>gamesetting_more_info0000</key>
			<dict>
				<key>frame</key>
				<string>{{276,1},{34,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,96}}</string>
				<key>sourceSize</key>
				<string>{34,96}</string>
			</dict>
			<key>gamesetting_panel_bg0000</key>
			<dict>
				<key>frame</key>
				<string>{{96,91},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,76}}</string>
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>gamesetting_pauseicon0000</key>
			<dict>
				<key>frame</key>
				<string>{{60,94},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,33}}</string>
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>gamesetting_quit0000</key>
			<dict>
				<key>frame</key>
				<string>{{1,218},{42,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,37}}</string>
				<key>sourceSize</key>
				<string>{42,37}</string>
			</dict>
			<key>gamesetting_replay0000</key>
			<dict>
				<key>frame</key>
				<string>{{242,207},{43,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,44}}</string>
				<key>sourceSize</key>
				<string>{43,44}</string>
			</dict>
			<key>gamesettingpanel_cdkeyicon0000</key>
			<dict>
				<key>frame</key>
				<string>{{182,76},{87,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,75}}</string>
				<key>sourceSize</key>
				<string>{87,75}</string>
			</dict>
			<key>gamesettingpanel_controlpanelseparator0000</key>
			<dict>
				<key>frame</key>
				<string>{{309,144},{8,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,57}}</string>
				<key>sourceSize</key>
				<string>{8,57}</string>
			</dict>
			<key>gamesettingpanel_weishequicon0000</key>
			<dict>
				<key>frame</key>
				<string>{{110,215},{44,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{44,37}}</string>
				<key>sourceSize</key>
				<string>{44,37}</string>
			</dict>
			<key>phplacehholder32872340000</key>
			<dict>
				<key>frame</key>
				<string>{{60,129},{10,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{10,10}}</string>
				<key>sourceSize</key>
				<string>{10,10}</string>
			</dict>
			<key>setIcon_prePackage0000</key>
			<dict>
				<key>frame</key>
				<string>{{45,222},{37,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,38}}</string>
				<key>sourceSize</key>
				<string>{37,38}</string>
			</dict>
			<key>setting inputtatus0000</key>
			<dict>
				<key>frame</key>
				<string>{{242,153},{65,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,52}}</string>
				<key>sourceSize</key>
				<string>{65,52}</string>
			</dict>
			<key>settingavatarbottomlines0000</key>
			<dict>
				<key>frame</key>
				<string>{{1,262},{299,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{299,4}}</string>
				<key>sourceSize</key>
				<string>{299,4}</string>
			</dict>
			<key>ui_empty0000</key>
			<dict>
				<key>frame</key>
				<string>{{72,129},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,8}}</string>
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>重复项目文件夹/对号10000</key>
			<dict>
				<key>frame</key>
				<string>{{1,169},{58,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,47}}</string>
				<key>sourceSize</key>
				<string>{58,47}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>panel_game_setting.png</string>
			<key>size</key>
			<string>{320,267}</string>
			<key>textureFileName</key>
			<string>panel_game_setting.png</string>
		</dict>
	</dict>
</plist>
