<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>image/turntablepanel_axis0000</key>
			<dict>
				<key>frame</key>
				<string>{{278,647},{113,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,115}}</string>
				<key>sourceSize</key>
				<string>{113,115}</string>
			</dict>
			<key>image/turntablepanel_diskdot0000</key>
			<dict>
				<key>frame</key>
				<string>{{340,301},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,33}}</string>
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>image/turntablepanel_diskquater0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{338,338}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{338,338}}</string>
				<key>sourceSize</key>
				<string>{338,338}</string>
			</dict>
			<key>image/turntablepanel_diststar0000</key>
			<dict>
				<key>frame</key>
				<string>{{220,670},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>image/turntablepanel_leaf10000</key>
			<dict>
				<key>frame</key>
				<string>{{103,670},{115,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,75}}</string>
				<key>sourceSize</key>
				<string>{115,75}</string>
			</dict>
			<key>image/turntablepanel_leaf20000</key>
			<dict>
				<key>frame</key>
				<string>{{340,0},{125,299}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,299}}</string>
				<key>sourceSize</key>
				<string>{125,299}</string>
			</dict>
			<key>image/turntablepanel_leaf30000</key>
			<dict>
				<key>frame</key>
				<string>{{0,340},{287,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{287,157}}</string>
				<key>sourceSize</key>
				<string>{287,157}</string>
			</dict>
			<key>image/turntablepanel_leaf40000</key>
			<dict>
				<key>frame</key>
				<string>{{0,499},{101,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{101,292}}</string>
				<key>sourceSize</key>
				<string>{101,292}</string>
			</dict>
			<key>image/turntablepanel_leaf50000</key>
			<dict>
				<key>frame</key>
				<string>{{278,528},{215,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{215,117}}</string>
				<key>sourceSize</key>
				<string>{215,117}</string>
			</dict>
			<key>image/turntablepanel_pin0000</key>
			<dict>
				<key>frame</key>
				<string>{{393,647},{76,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,147}}</string>
				<key>sourceSize</key>
				<string>{76,147}</string>
			</dict>
			<key>image/turntablepanel_shadow0000</key>
			<dict>
				<key>frame</key>
				<string>{{103,499},{173,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,169}}</string>
				<key>sourceSize</key>
				<string>{173,169}</string>
			</dict>
			<key>image/turntablepanel_shine0000</key>
			<dict>
				<key>frame</key>
				<string>{{289,340},{186,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{186,186}}</string>
				<key>sourceSize</key>
				<string>{186,186}</string>
			</dict>
			<key>image/turntablepanel_vine0000</key>
			<dict>
				<key>frame</key>
				<string>{{467,0},{24,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,254}}</string>
				<key>sourceSize</key>
				<string>{24,254}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>panel_turntable.png</string>
			<key>size</key>
			<string>{500,800}</string>
			<key>textureFileName</key>
			<string>panel_turntable.png</string>
		</dict>
	</dict>
</plist>
