<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>flower0000</key>
			<dict>
				<key>frame</key>
				<string>{{296,200},{89,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,123}}</string>
				<key>sourceSize</key>
				<string>{89,123}</string>
			</dict>
			<key>fruitTreePanel_arrow0000</key>
			<dict>
				<key>frame</key>
				<string>{{180,0},{159,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{159,86}}</string>
				<key>sourceSize</key>
				<string>{159,86}</string>
			</dict>
			<key>fruitTreePanel_fruit5g0000</key>
			<dict>
				<key>frame</key>
				<string>{{302,325},{80,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,77}}</string>
				<key>sourceSize</key>
				<string>{80,77}</string>
			</dict>
			<key>fruitTreePanel_goldMark0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,430},{71,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>sourceSize</key>
				<string>{71,72}</string>
			</dict>
			<key>fruitTreeTopPanel_coinMark0000</key>
			<dict>
				<key>frame</key>
				<string>{{387,290},{83,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,86}}</string>
				<key>sourceSize</key>
				<string>{83,86}</string>
			</dict>
			<key>fruitTreeTopPanel_energyMark0000</key>
			<dict>
				<key>frame</key>
				<string>{{73,430},{61,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,78}}</string>
				<key>sourceSize</key>
				<string>{61,78}</string>
			</dict>
			<key>fruitTreeTopPanel_rewardBg0000</key>
			<dict>
				<key>frame</key>
				<string>{{296,88},{111,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,110}}</string>
				<key>sourceSize</key>
				<string>{111,110}</string>
			</dict>
			<key>imgs/coinIcon0000</key>
			<dict>
				<key>frame</key>
				<string>{{136,430},{60,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,63}}</string>
				<key>sourceSize</key>
				<string>{60,63}</string>
			</dict>
			<key>imgs/energyIcon0000</key>
			<dict>
				<key>frame</key>
				<string>{{409,175},{18,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{18,23}}</string>
				<key>sourceSize</key>
				<string>{18,23}</string>
			</dict>
			<key>imgs/fruitTreeBottomPanel_bg0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,368},{300,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{300,60}}</string>
				<key>sourceSize</key>
				<string>{300,60}</string>
			</dict>
			<key>imgs/fruitTreeBottomPanel_picked_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{454,60},{23,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,23}}</string>
				<key>sourceSize</key>
				<string>{23,23}</string>
			</dict>
			<key>imgs/fruitTreeBottomPanel_pickedbg0000</key>
			<dict>
				<key>frame</key>
				<string>{{479,60},{23,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,22}}</string>
				<key>sourceSize</key>
				<string>{23,22}</string>
			</dict>
			<key>imgs/fruitTreePanel_fruit00000</key>
			<dict>
				<key>frame</key>
				<string>{{171,306},{59,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,51}}</string>
				<key>sourceSize</key>
				<string>{59,51}</string>
			</dict>
			<key>imgs/fruitTreePanel_fruit5e0000</key>
			<dict>
				<key>frame</key>
				<string>{{409,85},{94,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,88}}</string>
				<key>sourceSize</key>
				<string>{94,88}</string>
			</dict>
			<key>imgs/fruitTreePanel_fruit5s0000</key>
			<dict>
				<key>frame</key>
				<string>{{387,200},{94,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,88}}</string>
				<key>sourceSize</key>
				<string>{94,88}</string>
			</dict>
			<key>imgs/fruitTreeTitlePanel_arrow0000</key>
			<dict>
				<key>frame</key>
				<string>{{465,433},{25,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,15}}</string>
				<key>sourceSize</key>
				<string>{25,15}</string>
			</dict>
			<key>imgs/fruitTreeUpgradePanel_arrow0000</key>
			<dict>
				<key>frame</key>
				<string>{{380,456},{81,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,52}}</string>
				<key>sourceSize</key>
				<string>{81,52}</string>
			</dict>
			<key>imgs/fruitTreeUpgradePanel_condition20000</key>
			<dict>
				<key>frame</key>
				<string>{{302,404},{76,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,78}}</string>
				<key>sourceSize</key>
				<string>{76,78}</string>
			</dict>
			<key>imgs/homeSceneStarIcon0000</key>
			<dict>
				<key>frame</key>
				<string>{{384,378},{79,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,76}}</string>
				<key>sourceSize</key>
				<string>{79,76}</string>
			</dict>
			<key>imgs/icn_regen1530000</key>
			<dict>
				<key>frame</key>
				<string>{{454,0},{56,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,0},{56,58}}</string>
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>imgs/icn_speed1560000</key>
			<dict>
				<key>frame</key>
				<string>{{463,456},{40,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,45}}</string>
				<key>sourceSize</key>
				<string>{40,45}</string>
			</dict>
			<key>imgs/leaf_leftdown0000</key>
			<dict>
				<key>frame</key>
				<string>{{341,0},{111,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{111,83}}</string>
				<key>sourceSize</key>
				<string>{111,83}</string>
			</dict>
			<key>imgs/leaf_rightdown0000</key>
			<dict>
				<key>frame</key>
				<string>{{180,88},{108,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,89}}</string>
				<key>sourceSize</key>
				<string>{108,89}</string>
			</dict>
			<key>imgs/lock0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{178,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{178,179}}</string>
				<key>sourceSize</key>
				<string>{178,179}</string>
			</dict>
			<key>imgs/method_bgsa1f0000</key>
			<dict>
				<key>frame</key>
				<string>{{171,181},{123,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,123}}</string>
				<key>sourceSize</key>
				<string>{123,123}</string>
			</dict>
			<key>imgs/vine_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{483,175},{19,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,256}}</string>
				<key>sourceSize</key>
				<string>{19,256}</string>
			</dict>
			<key>sprite/fruittreepanel_animal0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,181},{169,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{169,185}}</string>
				<key>sourceSize</key>
				<string>{169,185}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>panel_fruit_tree.png</string>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>panel_fruit_tree.png</string>
		</dict>
	</dict>
</plist>
