<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>panelmarkenergynotionce_sunshine_image0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,151}}</string>
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>
			<key>sprite/panelmarkenergynotionce_bg0000</key>
			<dict>
				<key>frame</key>
				<string>{{65,215},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,8}}</string>
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>sprite/panelmarkenergynotionce_item0000</key>
			<dict>
				<key>frame</key>
				<string>{{153,0},{103,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,126}}</string>
				<key>sourceSize</key>
				<string>{103,126}</string>
			</dict>
			<key>sprite/panelmarkenergynotionce_lightitem0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,153},{63,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,79}}</string>
				<key>sourceSize</key>
				<string>{63,79}</string>
			</dict>
			<key>sprite/panelmarkenergynotionce_number0000</key>
			<dict>
				<key>frame</key>
				<string>{{65,153},{35,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,30}}</string>
				<key>sourceSize</key>
				<string>{35,30}</string>
			</dict>
			<key>sprite/panelmarkenergynotionce_star0000</key>
			<dict>
				<key>frame</key>
				<string>{{153,128},{95,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,85}}</string>
				<key>sourceSize</key>
				<string>{95,85}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>panel_mark_energy_notionce.png</string>
			<key>size</key>
			<string>{256,235}</string>
			<key>textureFileName</key>
			<string>panel_mark_energy_notionce.png</string>
		</dict>
	</dict>
</plist>
