<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>assets/1111/__resources/银币0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,113},{75,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,22}}</string>
				<key>sourceSize</key>
				<string>{75,22}</string>
			</dict>
			<key>assets/1111/assetsreq/grt4rtere/泡泡发射器弹窗/bubble_jksidn0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{106,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,111}}</string>
				<key>sourceSize</key>
				<string>{106,111}</string>
			</dict>
			<key>coin0000</key>
			<dict>
				<key>frame</key>
				<string>{{77,113},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{25,26}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>panel_preprop_remind@2x.png</string>
			<key>size</key>
			<string>{108,142}</string>
			<key>textureFileName</key>
			<string>panel_preprop_remind@2x.png</string>
		</dict>
	</dict>
</plist>
