<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg0000</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{642,358}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{642,358}}</string>
				<key>sourceSize</key>
				<string>{642,358}</string>
			</dict>
			<key>energyPanelMiTalkIcon0000</key>
			<dict>
				<key>frame</key>
				<string>{{225,361},{52,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,47}}</string>
				<key>sourceSize</key>
				<string>{52,47}</string>
			</dict>
			<key>lightning0000</key>
			<dict>
				<key>frame</key>
				<string>{{1,361},{90,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,108}}</string>
				<key>sourceSize</key>
				<string>{90,108}</string>
			</dict>
			<key>wechaticon0000</key>
			<dict>
				<key>frame</key>
				<string>{{93,361},{67,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,57}}</string>
				<key>sourceSize</key>
				<string>{67,57}</string>
			</dict>
			<key>weiboLogo0000</key>
			<dict>
				<key>frame</key>
				<string>{{162,361},{61,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,52}}</string>
				<key>sourceSize</key>
				<string>{61,52}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>panel_energy_bubble.png</string>
			<key>size</key>
			<string>{650,480}</string>
			<key>textureFileName</key>
			<string>panel_energy_bubble.png</string>
		</dict>
	</dict>
</plist>
