<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>add_step_mark_bg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{150,122}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{150,122}</string>
				<key>spriteSourceSize</key>
				<string>{150,122}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{556,267},{150,122}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>add_step_money_line10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,20}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{69,20}</string>
				<key>spriteSourceSize</key>
				<string>{69,20}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{821,170},{69,20}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>add_step_shining0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{263,265}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{263,265}</string>
				<key>spriteSourceSize</key>
				<string>{263,265}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{556,0},{263,265}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>add_step_tip_bg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{543,187}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{543,187}</string>
				<key>spriteSourceSize</key>
				<string>{543,187}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{543,187}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bf2356bfsd0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,69}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{71,69}</string>
				<key>spriteSourceSize</key>
				<string>{71,69}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{821,0},{71,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bfg23htt40000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{118,125}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{118,125}</string>
				<key>spriteSourceSize</key>
				<string>{118,125}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{708,267},{118,125}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>discountbg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,45}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{45,45}</string>
				<key>spriteSourceSize</key>
				<string>{45,45}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{821,123},{45,45}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>redCirle0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{50,50}</string>
				<key>spriteSourceSize</key>
				<string>{50,50}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{821,71},{50,50}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>somethingbubble0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{554,155}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{554,155}</string>
				<key>spriteSourceSize</key>
				<string>{554,155}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,189},{554,155}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>panel_add_step.png</string>
				<key>textureFileName</key>
				<string>panel_add_step</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
