<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg0000</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{404,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{404,223}}</string>
				<key>sourceSize</key>
				<string>{404,223}</string>
			</dict>
			<key>energyPanelMiTalkIcon0000</key>
			<dict>
				<key>frame</key>
				<string>{{407,144},{33,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,30}}</string>
				<key>sourceSize</key>
				<string>{33,30}</string>
			</dict>
			<key>lightning0000</key>
			<dict>
				<key>frame</key>
				<string>{{407,1},{57,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,68}}</string>
				<key>sourceSize</key>
				<string>{57,68}</string>
			</dict>
			<key>wechaticon0000</key>
			<dict>
				<key>frame</key>
				<string>{{407,71},{42,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,36}}</string>
				<key>sourceSize</key>
				<string>{42,36}</string>
			</dict>
			<key>weiboLogo0000</key>
			<dict>
				<key>frame</key>
				<string>{{407,109},{39,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,33}}</string>
				<key>sourceSize</key>
				<string>{39,33}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>panel_energy_bubble@2x.png</string>
			<key>size</key>
			<string>{512,256}</string>
			<key>textureFileName</key>
			<string>panel_energy_bubble@2x.png</string>
		</dict>
	</dict>
</plist>
