<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Duplicate Items Folder/mark.MarkNodeClosed0000</key>
			<dict>
				<key>frame</key>
				<string>{{41,158},{40,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,31}}</string>
				<key>sourceSize</key>
				<string>{40,31}</string>
			</dict>
			<key>__resources/NodeShape0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,158},{39,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{39,32}}</string>
				<key>sourceSize</key>
				<string>{39,32}</string>
			</dict>
			<key>checkinhbgm3420000</key>
			<dict>
				<key>frame</key>
				<string>{{86,85},{17,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,32}}</string>
				<key>sourceSize</key>
				<string>{17,32}</string>
			</dict>
			<key>end0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,124},{83,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,32}}</string>
				<key>sourceSize</key>
				<string>{83,32}</string>
			</dict>
			<key>markpane_line20000</key>
			<dict>
				<key>frame</key>
				<string>{{101,0},{17,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,58}}</string>
				<key>sourceSize</key>
				<string>{17,58}</string>
			</dict>
			<key>markpane_topbg0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,73},{57,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,49}}</string>
				<key>sourceSize</key>
				<string>{57,49}</string>
			</dict>
			<key>markpanel_line10000</key>
			<dict>
				<key>frame</key>
				<string>{{59,73},{5,5}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,5}}</string>
				<key>sourceSize</key>
				<string>{5,5}</string>
			</dict>
			<key>markpanel_line30000</key>
			<dict>
				<key>frame</key>
				<string>{{120,33},{2,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{2,46}}</string>
				<key>sourceSize</key>
				<string>{2,46}</string>
			</dict>
			<key>markpanel_topduration0000</key>
			<dict>
				<key>frame</key>
				<string>{{120,0},{5,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{5,31}}</string>
				<key>sourceSize</key>
				<string>{5,31}</string>
			</dict>
			<key>priseButton_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{65,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,71}}</string>
				<key>sourceSize</key>
				<string>{65,71}</string>
			</dict>
			<key>start0000</key>
			<dict>
				<key>frame</key>
				<string>{{59,85},{25,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,32}}</string>
				<key>sourceSize</key>
				<string>{25,32}</string>
			</dict>
			<key>turnld0000</key>
			<dict>
				<key>frame</key>
				<string>{{83,158},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
			<key>turnud0000</key>
			<dict>
				<key>frame</key>
				<string>{{67,0},{32,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,49}}</string>
				<key>sourceSize</key>
				<string>{32,49}</string>
			</dict>
			<key>turnul0000</key>
			<dict>
				<key>frame</key>
				<string>{{67,51},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>panel_mark@2x.png</string>
			<key>size</key>
			<string>{127,192}</string>
			<key>textureFileName</key>
			<string>panel_mark@2x.png</string>
		</dict>
	</dict>
</plist>
