<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1015optimize__20000</key>
			<dict>
				<key>frame</key>
				<string>{{470,308},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,45}}</string>
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>RankListButton_bg0000</key>
			<dict>
				<key>frame</key>
				<string>{{824,636},{166,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,45}}</string>
				<key>sourceSize</key>
				<string>{166,45}</string>
			</dict>
			<key>___replacer0000</key>
			<dict>
				<key>frame</key>
				<string>{{1010,160},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,8}}</string>
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>_topLeftRnakPanlel0000</key>
			<dict>
				<key>frame</key>
				<string>{{331,202},{137,271}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{137,271}}</string>
				<key>sourceSize</key>
				<string>{137,271}</string>
			</dict>
			<key>add0000</key>
			<dict>
				<key>frame</key>
				<string>{{985,82},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,32}}</string>
				<key>sourceSize</key>
				<string>{31,32}</string>
			</dict>
			<key>addFriend_jeir32120000</key>
			<dict>
				<key>frame</key>
				<string>{{824,683},{80,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,62}}</string>
				<key>sourceSize</key>
				<string>{80,62}</string>
			</dict>
			<key>addd0000</key>
			<dict>
				<key>frame</key>
				<string>{{985,116},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,32}}</string>
				<key>sourceSize</key>
				<string>{31,32}</string>
			</dict>
			<key>alophaBtnBg20000</key>
			<dict>
				<key>frame</key>
				<string>{{630,671},{84,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,72}}</string>
				<key>sourceSize</key>
				<string>{84,72}</string>
			</dict>
			<key>assets/1111/__resources/coin_dsf0000</key>
			<dict>
				<key>frame</key>
				<string>{{630,756},{120,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,35}}</string>
				<key>sourceSize</key>
				<string>{120,35}</string>
			</dict>
			<key>assets/1111/__resources/cut_line0000</key>
			<dict>
				<key>frame</key>
				<string>{{312,475},{115,9}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{115,9}}</string>
				<key>sourceSize</key>
				<string>{115,9}</string>
			</dict>
			<key>assets/1111/assetsreq/clippingAreaAbove0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{0,0}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{0,0}}</string>
				<key>sourceSize</key>
				<string>{0,0}</string>
			</dict>
			<key>assets/1111/assetsreq/grt4rtere/泡泡发射器弹窗/元件 690000</key>
			<dict>
				<key>frame</key>
				<string>{{0,784},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,45}}</string>
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>assets/1111/assetsreq/grtgret0000</key>
			<dict>
				<key>frame</key>
				<string>{{870,203},{151,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,149}}</string>
				<key>sourceSize</key>
				<string>{151,149}</string>
			</dict>
			<key>assets/1111/assetsreq/grttrtrgrh0000</key>
			<dict>
				<key>frame</key>
				<string>{{312,498},{165,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,165}}</string>
				<key>sourceSize</key>
				<string>{165,165}</string>
			</dict>
			<key>assets/1111/assetsreq/leaf_leftdown0000</key>
			<dict>
				<key>frame</key>
				<string>{{102,626},{110,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,83}}</string>
				<key>sourceSize</key>
				<string>{110,83}</string>
			</dict>
			<key>assets/1111/assetsreq/leaf_leftup0000</key>
			<dict>
				<key>frame</key>
				<string>{{524,0},{257,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,180}}</string>
				<key>sourceSize</key>
				<string>{257,180}</string>
			</dict>
			<key>bee2r3r40000</key>
			<dict>
				<key>frame</key>
				<string>{{470,202},{51,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,52}}</string>
				<key>sourceSize</key>
				<string>{51,52}</string>
			</dict>
			<key>bgty576sde20000</key>
			<dict>
				<key>frame</key>
				<string>{{479,569},{105,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,103}}</string>
				<key>sourceSize</key>
				<string>{105,103}</string>
			</dict>
			<key>box_jkldjakjfkad0000</key>
			<dict>
				<key>frame</key>
				<string>{{72,781},{58,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,49}}</string>
				<key>sourceSize</key>
				<string>{58,49}</string>
			</dict>
			<key>brasCrown_fndo34r30000</key>
			<dict>
				<key>frame</key>
				<string>{{906,683},{74,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,65}}</string>
				<key>sourceSize</key>
				<string>{74,65}</string>
			</dict>
			<key>buttonBack0000</key>
			<dict>
				<key>frame</key>
				<string>{{172,774},{60,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,55}}</string>
				<key>sourceSize</key>
				<string>{60,55}</string>
			</dict>
			<key>bvfvdf3e3fbht20000</key>
			<dict>
				<key>frame</key>
				<string>{{913,750},{70,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,59}}</string>
				<key>sourceSize</key>
				<string>{70,59}</string>
			</dict>
			<key>cvr23b5x210000</key>
			<dict>
				<key>frame</key>
				<string>{{824,583},{43,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,42}}</string>
				<key>sourceSize</key>
				<string>{43,42}</string>
			</dict>
			<key>dsadfsdfs20000</key>
			<dict>
				<key>frame</key>
				<string>{{630,569},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>energyIconPlaceholder20000</key>
			<dict>
				<key>frame</key>
				<string>{{985,0},{31,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,42}}</string>
				<key>sourceSize</key>
				<string>{31,42}</string>
			</dict>
			<key>energyIcon_ico0000</key>
			<dict>
				<key>frame</key>
				<string>{{268,202},{58,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,74}}</string>
				<key>sourceSize</key>
				<string>{58,74}</string>
			</dict>
			<key>facebookIcon0000</key>
			<dict>
				<key>frame</key>
				<string>{{276,665},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>fafdadgdafa0000</key>
			<dict>
				<key>frame</key>
				<string>{{732,583},{90,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,104}}</string>
				<key>sourceSize</key>
				<string>{90,104}</string>
			</dict>
			<key>fdaf3e42ngkj0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,202},{266,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,145}}</string>
				<key>sourceSize</key>
				<string>{266,145}</string>
			</dict>
			<key>fdgvce312bg0000</key>
			<dict>
				<key>frame</key>
				<string>{{783,0},{200,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,201}}</string>
				<key>sourceSize</key>
				<string>{200,201}</string>
			</dict>
			<key>fgdshghdf0000</key>
			<dict>
				<key>frame</key>
				<string>{{726,305},{54,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,55}}</string>
				<key>sourceSize</key>
				<string>{54,55}</string>
			</dict>
			<key>flower_pink0000</key>
			<dict>
				<key>frame</key>
				<string>{{517,674},{64,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,66}}</string>
				<key>sourceSize</key>
				<string>{64,66}</string>
			</dict>
			<key>flower_red0000</key>
			<dict>
				<key>frame</key>
				<string>{{870,506},{126,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,128}}</string>
				<key>sourceSize</key>
				<string>{126,128}</string>
			</dict>
			<key>flower_white0000</key>
			<dict>
				<key>frame</key>
				<string>{{518,742},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>flower_yellow0000</key>
			<dict>
				<key>frame</key>
				<string>{{358,665},{77,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{77,82}}</string>
				<key>sourceSize</key>
				<string>{77,82}</string>
			</dict>
			<key>friendRankListBg0000</key>
			<dict>
				<key>frame</key>
				<string>{{437,674},{78,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{78,76}}</string>
				<key>sourceSize</key>
				<string>{78,76}</string>
			</dict>
			<key>gems/rabbit_gem0000</key>
			<dict>
				<key>frame</key>
				<string>{{268,278},{61,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,69}}</string>
				<key>sourceSize</key>
				<string>{61,69}</string>
			</dict>
			<key>gfhgst4540000</key>
			<dict>
				<key>frame</key>
				<string>{{787,203},{81,378}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,378}}</string>
				<key>sourceSize</key>
				<string>{81,378}</string>
			</dict>
			<key>gold_2220000</key>
			<dict>
				<key>frame</key>
				<string>{{982,683},{40,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,42}}</string>
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>
			<key>goldcrown_jo3r4igf2df0000</key>
			<dict>
				<key>frame</key>
				<string>{{172,711},{70,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,61}}</string>
				<key>sourceSize</key>
				<string>{70,61}</string>
			</dict>
			<key>grfsgrt0000</key>
			<dict>
				<key>frame</key>
				<string>{{470,384},{315,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{315,112}}</string>
				<key>sourceSize</key>
				<string>{315,112}</string>
			</dict>
			<key>instant_prop_puchase_bkgd0000</key>
			<dict>
				<key>frame</key>
				<string>{{1010,170},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,8}}</string>
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>left_n0000</key>
			<dict>
				<key>frame</key>
				<string>{{586,569},{42,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,248}}</string>
				<key>sourceSize</key>
				<string>{42,248}</string>
			</dict>
			<key>level_fail_message_bg0000</key>
			<dict>
				<key>frame</key>
				<string>{{479,498},{299,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{299,69}}</string>
				<key>sourceSize</key>
				<string>{299,69}</string>
			</dict>
			<key>little bubble0000</key>
			<dict>
				<key>frame</key>
				<string>{{1010,180},{7,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{7,7}}</string>
				<key>sourceSize</key>
				<string>{7,7}</string>
			</dict>
			<key>l元件 5 副本 20000</key>
			<dict>
				<key>frame</key>
				<string>{{102,711},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>miTalkIcon0000</key>
			<dict>
				<key>frame</key>
				<string>{{276,788},{42,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,38}}</string>
				<key>sourceSize</key>
				<string>{42,38}</string>
			</dict>
			<key>minus0000</key>
			<dict>
				<key>frame</key>
				<string>{{470,355},{31,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,12}}</string>
				<key>sourceSize</key>
				<string>{31,12}</string>
			</dict>
			<key>minusd0000</key>
			<dict>
				<key>frame</key>
				<string>{{726,362},{31,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,12}}</string>
				<key>sourceSize</key>
				<string>{31,12}</string>
			</dict>
			<key>newphplacehholder3287234sef0000</key>
			<dict>
				<key>frame</key>
				<string>{{1010,150},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,8}}</string>
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>ngb67g34sd0000</key>
			<dict>
				<key>frame</key>
				<string>{{985,44},{35,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,36}}</string>
				<key>sourceSize</key>
				<string>{35,36}</string>
			</dict>
			<key>passLevelSuccess_fourStar_wrapper0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,349},{329,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{329,117}}</string>
				<key>sourceSize</key>
				<string>{329,117}</string>
			</dict>
			<key>prop_amount_bkgd0000</key>
			<dict>
				<key>frame</key>
				<string>{{992,354},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>rabbit_my_rewards_bg0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,581},{247,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{247,43}}</string>
				<key>sourceSize</key>
				<string>{247,43}</string>
			</dict>
			<key>rabbit_panel_deco_jkdjfsd0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,626},{100,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,93}}</string>
				<key>sourceSize</key>
				<string>{100,93}</string>
			</dict>
			<key>rw_ranklist_underline0000</key>
			<dict>
				<key>frame</key>
				<string>{{312,486},{96,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,2}}</string>
				<key>sourceSize</key>
				<string>{96,2}</string>
			</dict>
			<key>sfdd0000</key>
			<dict>
				<key>frame</key>
				<string>{{726,182},{50,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,67}}</string>
				<key>sourceSize</key>
				<string>{50,67}</string>
			</dict>
			<key>silverCrown_hejkh3uir22hh0000</key>
			<dict>
				<key>frame</key>
				<string>{{716,689},{74,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,65}}</string>
				<key>sourceSize</key>
				<string>{74,65}</string>
			</dict>
			<key>vc232r434mnhu70000</key>
			<dict>
				<key>frame</key>
				<string>{{249,581},{25,347}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,347}}</string>
				<key>sourceSize</key>
				<string>{25,347}</string>
			</dict>
			<key>vcdver3cv0000</key>
			<dict>
				<key>frame</key>
				<string>{{792,750},{119,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,37}}</string>
				<key>sourceSize</key>
				<string>{119,37}</string>
			</dict>
			<key>vf235gdfs0000</key>
			<dict>
				<key>frame</key>
				<string>{{397,752},{119,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,37}}</string>
				<key>sourceSize</key>
				<string>{119,37}</string>
			</dict>
			<key>vfhtgu6340000</key>
			<dict>
				<key>frame</key>
				<string>{{276,749},{119,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,37}}</string>
				<key>sourceSize</key>
				<string>{119,37}</string>
			</dict>
			<key>weeklyRace_gem0000</key>
			<dict>
				<key>frame</key>
				<string>{{470,256},{51,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,50}}</string>
				<key>sourceSize</key>
				<string>{51,50}</string>
			</dict>
			<key>weiXinIcon0000</key>
			<dict>
				<key>frame</key>
				<string>{{726,251},{59,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,52}}</string>
				<key>sourceSize</key>
				<string>{59,52}</string>
			</dict>
			<key>wm_blue_bg0000</key>
			<dict>
				<key>frame</key>
				<string>{{524,182},{200,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,200}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>wm_bubble_bg0000</key>
			<dict>
				<key>frame</key>
				<string>{{870,354},{120,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,150}}</string>
				<key>sourceSize</key>
				<string>{120,150}</string>
			</dict>
			<key>wm_crown0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,721},{70,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,61}}</string>
				<key>sourceSize</key>
				<string>{70,61}</string>
			</dict>
			<key>元件 10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,468},{310,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{310,111}}</string>
				<key>sourceSize</key>
				<string>{310,111}</string>
			</dict>
			<key>元件 910000</key>
			<dict>
				<key>frame</key>
				<string>{{985,150},{23,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{23,41}}</string>
				<key>sourceSize</key>
				<string>{23,41}</string>
			</dict>
			<key>挖宝插图0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{522,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{522,200}}</string>
				<key>sourceSize</key>
				<string>{522,200}</string>
			</dict>
			<key>重复项目文件夹/元件 6 副本0000</key>
			<dict>
				<key>frame</key>
				<string>{{752,756},{38,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,38}}</string>
				<key>sourceSize</key>
				<string>{38,38}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>panel_game_start.png</string>
			<key>size</key>
			<string>{1024,945}</string>
			<key>textureFileName</key>
			<string>panel_game_start.png</string>
		</dict>
	</dict>
</plist>
