<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>assets/1111/assetsreq/rw_leaf_leftdown0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,83}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{110,83}</string>
				<key>spriteSourceSize</key>
				<string>{110,83}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{677,643},{110,83}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>assets/1111/assetsreq/rw_leaf_leftup0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,180}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{257,180}</string>
				<key>spriteSourceSize</key>
				<string>{257,180}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{420,270},{257,180}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>itembggrey0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,264}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,264}</string>
				<key>spriteSourceSize</key>
				<string>{208,264}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,229},{208,264}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>itembgyellow0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,264}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{208,264}</string>
				<key>spriteSourceSize</key>
				<string>{208,264}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{210,229},{208,264}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_close_white_cross0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{36,35}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{36,35}</string>
				<key>spriteSourceSize</key>
				<string>{36,35}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{457,229},{36,35}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_crown0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{70,61}</string>
				<key>spriteSourceSize</key>
				<string>{70,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{215,701},{70,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_cvr23b5x210000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,42}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,42}</string>
				<key>spriteSourceSize</key>
				<string>{43,42}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{881,319},{43,42}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_energyIcon_ico0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{58,74}</string>
				<key>spriteSourceSize</key>
				<string>{58,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{878,643},{58,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_fdaf3e42ngkj0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{266,145}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{266,145}</string>
				<key>spriteSourceSize</key>
				<string>{266,145}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{420,481},{266,145}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_fdgvce312bg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,209}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{200,209}</string>
				<key>spriteSourceSize</key>
				<string>{200,209}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{679,270},{200,209}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_gfhgst4540000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,378}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{81,378}</string>
				<key>spriteSourceSize</key>
				<string>{81,378}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{937,0},{81,378}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_help_icon0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,57}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{57,57}</string>
				<key>spriteSourceSize</key>
				<string>{57,57}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{677,728},{57,57}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_instant_prop_puchase_bkgd0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,8}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{8,8}</string>
				<key>spriteSourceSize</key>
				<string>{8,8}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{495,229},{8,8}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_left_n0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{42,248}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{42,248}</string>
				<key>spriteSourceSize</key>
				<string>{42,248}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{947,571},{42,248}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_mitalkIcon0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,47}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{51,47}</string>
				<key>spriteSourceSize</key>
				<string>{51,47}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{881,270},{51,47}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_ngb67g34sd0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,36}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{35,36}</string>
				<key>spriteSourceSize</key>
				<string>{35,36}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{420,229},{35,36}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_rabbitTitle0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{257,70}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{257,70}</string>
				<key>spriteSourceSize</key>
				<string>{257,70}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{688,571},{257,70}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_rabbit_gem0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,69}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,69}</string>
				<key>spriteSourceSize</key>
				<string>{61,69}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{878,719},{61,69}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_rabbit_panel_bg_20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{171,123}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{171,123}</string>
				<key>spriteSourceSize</key>
				<string>{171,123}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,495},{171,123}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_rabbit_panel_bg_scale90000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{120,110}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{120,110}</string>
				<key>spriteSourceSize</key>
				<string>{120,110}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{463,628},{120,110}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_rabbit_panel_deco_hdhjdkfjalkdjf0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,6}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,6}</string>
				<key>spriteSourceSize</key>
				<string>{97,6}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{420,452},{97,6}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_rabbit_panel_deco_hjdjkfjlads0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{361,268}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{361,268}</string>
				<key>spriteSourceSize</key>
				<string>{361,268}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{574,0},{361,268}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_rabbit_panel_deco_hjfakjdfk0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{572,227}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{572,227}</string>
				<key>spriteSourceSize</key>
				<string>{572,227}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,0},{572,227}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_rabbit_panel_deco_jkdjfsd0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,93}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,93}</string>
				<key>spriteSourceSize</key>
				<string>{100,93}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{881,380},{100,93}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_rabbit_panel_deco_jldjfadfsdads0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,134}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{128,134}</string>
				<key>spriteSourceSize</key>
				<string>{128,134}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{173,495},{128,134}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_rabbit_panel_icon10000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,68}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{59,68}</string>
				<key>spriteSourceSize</key>
				<string>{59,68}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{346,726},{59,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_rabbit_rule_icons0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{308,88}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{308,88}</string>
				<key>spriteSourceSize</key>
				<string>{308,88}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{688,481},{308,88}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_reward_arrow0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,73}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{57,73}</string>
				<key>spriteSourceSize</key>
				<string>{57,73}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{287,726},{57,73}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_reward_bg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,104}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,104}</string>
				<key>spriteSourceSize</key>
				<string>{90,104}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{123,631},{90,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_rule_underline0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,2}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{79,2}</string>
				<key>spriteSourceSize</key>
				<string>{79,2}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{457,266},{79,2}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_share_wechat_icon0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,87}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,87}</string>
				<key>spriteSourceSize</key>
				<string>{87,87}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{789,643},{87,87}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_vc232r434mnhu70000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,347}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{25,347}</string>
				<key>spriteSourceSize</key>
				<string>{25,347}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{991,571},{25,347}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_warning_panel_bg30000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,104}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,104}</string>
				<key>spriteSourceSize</key>
				<string>{90,104}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{585,628},{90,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_warning_panel_checkbox0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,104}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,104}</string>
				<key>spriteSourceSize</key>
				<string>{90,104}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{303,495},{90,104}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_weekly_rewards_bg_scale90000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,137}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{121,137}</string>
				<key>spriteSourceSize</key>
				<string>{121,137}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{0,620},{121,137}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rw_元件 5 副本 20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,68}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{68,68}</string>
				<key>spriteSourceSize</key>
				<string>{68,68}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{215,631},{68,68}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>飞碟远近啊0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{158,96}</string>
				<key>spriteSourceSize</key>
				<string>{158,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{303,628},{158,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>panel_rabbit_week_match.png</string>
				<key>textureFileName</key>
				<string>panel_rabbit_week_match</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
