<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Symbol 1050000</key>
			<dict>
				<key>frame</key>
				<string>{{484,41},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>Symbol 900000</key>
			<dict>
				<key>frame</key>
				<string>{{447,41},{35,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,35}}</string>
				<key>sourceSize</key>
				<string>{35,35}</string>
			</dict>
			<key>invite_friend_line0000</key>
			<dict>
				<key>frame</key>
				<string>{{362,164},{8,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,4}}</string>
				<key>sourceSize</key>
				<string>{8,4}</string>
			</dict>
			<key>market_tabArrow0000</key>
			<dict>
				<key>frame</key>
				<string>{{362,145},{28,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,17}}</string>
				<key>sourceSize</key>
				<string>{28,17}</string>
			</dict>
			<key>market_tabDeco0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,288},{610,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{610,6}}</string>
				<key>sourceSize</key>
				<string>{610,6}</string>
			</dict>
			<key>request_message_panel_arrow0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,172},{417,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{417,114}}</string>
				<key>sourceSize</key>
				<string>{417,114}</string>
			</dict>
			<key>request_message_panel_ph0000</key>
			<dict>
				<key>frame</key>
				<string>{{392,145},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,8}}</string>
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
			<key>request_message_panel_top_half0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{360,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{360,170}}</string>
				<key>sourceSize</key>
				<string>{360,170}</string>
			</dict>
			<key>request_message_panel_zero_dot0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,296},{473,2}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{473,2}}</string>
				<key>sourceSize</key>
				<string>{473,2}</string>
			</dict>
			<key>request_message_ring0000</key>
			<dict>
				<key>frame</key>
				<string>{{362,104},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,39}}</string>
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>request_message_ring20000</key>
			<dict>
				<key>frame</key>
				<string>{{447,0},{56,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,39}}</string>
				<key>sourceSize</key>
				<string>{56,39}</string>
			</dict>
			<key>sfbxczeybnd0000</key>
			<dict>
				<key>frame</key>
				<string>{{419,104},{69,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{69,101}}</string>
				<key>sourceSize</key>
				<string>{69,101}</string>
			</dict>
			<key>type_unlock_ico0000</key>
			<dict>
				<key>frame</key>
				<string>{{362,0},{83,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,102}}</string>
				<key>sourceSize</key>
				<string>{83,102}</string>
			</dict>
			<key>重复项目文件夹/ui_fontsize_rect0000</key>
			<dict>
				<key>frame</key>
				<string>{{392,155},{8,8}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{8,8}}</string>
				<key>sourceSize</key>
				<string>{8,8}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>request_message_panel.png</string>
			<key>size</key>
			<string>{620,300}</string>
			<key>textureFileName</key>
			<string>request_message_panel.png</string>
		</dict>
	</dict>
</plist>
