<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>timeLimit/123line0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,108},{43,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,13}}</string>
				<key>sourceSize</key>
				<string>{43,13}</string>
			</dict>
			<key>timeLimit/buyIcon0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,36},{34,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,33}}</string>
				<key>sourceSize</key>
				<string>{34,33}</string>
			</dict>
			<key>timeLimit/discountbg0000</key>
			<dict>
				<key>frame</key>
				<string>{{33,71},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>timeLimit/icon0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,71},{31,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{31,35}}</string>
				<key>sourceSize</key>
				<string>{31,35}</string>
			</dict>
			<key>timeLimit/sendIcon0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>TimeLimitPanel@2x.png</string>
			<key>size</key>
			<string>{64,128}</string>
			<key>textureFileName</key>
			<string>TimeLimitPanel@2x.png</string>
		</dict>
	</dict>
</plist>
