<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>asghfhfh0000</key>
			<dict>
				<key>frame</key>
				<string>{{352,0},{139,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,153}}</string>
				<key>sourceSize</key>
				<string>{139,153}</string>
			</dict>
			<key>dialogBG0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{350,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{350,177}}</string>
				<key>sourceSize</key>
				<string>{350,177}</string>
			</dict>
			<key>seperator0000</key>
			<dict>
				<key>frame</key>
				<string>{{110,257},{274,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{274,4}}</string>
				<key>sourceSize</key>
				<string>{274,4}</string>
			</dict>
			<key>shineLight0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,179},{108,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,106}}</string>
				<key>sourceSize</key>
				<string>{108,106}</string>
			</dict>
			<key>元件 160000</key>
			<dict>
				<key>frame</key>
				<string>{{352,155},{139,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,100}}</string>
				<key>sourceSize</key>
				<string>{139,100}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>unlock_hidden_area_panel@2x.png</string>
			<key>size</key>
			<string>{512,295}</string>
			<key>textureFileName</key>
			<string>unlock_hidden_area_panel@2x.png</string>
		</dict>
	</dict>
</plist>
