<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>recall_friend/little_chiken0000</key>
			<dict>
				<key>frame</key>
				<string>{{226,352},{93,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,95}}</string>
				<key>sourceSize</key>
				<string>{93,95}</string>
			</dict>
			<key>recall_friend/little_frog0000</key>
			<dict>
				<key>frame</key>
				<string>{{131,352},{93,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{93,95}}</string>
				<key>sourceSize</key>
				<string>{93,95}</string>
			</dict>
			<key>recall_friend/little_hippo0000</key>
			<dict>
				<key>frame</key>
				<string>{{385,332},{94,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,95}}</string>
				<key>sourceSize</key>
				<string>{94,95}</string>
			</dict>
			<key>recall_friend/npc0000</key>
			<dict>
				<key>frame</key>
				<string>{{265,0},{190,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{190,234}}</string>
				<key>sourceSize</key>
				<string>{190,234}</string>
			</dict>
			<key>recall_level/bubbleBg10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,176},{173,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{173,173}}</string>
				<key>sourceSize</key>
				<string>{173,173}</string>
			</dict>
			<key>recall_level/energyIcon0000</key>
			<dict>
				<key>frame</key>
				<string>{{481,332},{29,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,0},{29,41}}</string>
				<key>sourceSize</key>
				<string>{29,41}</string>
			</dict>
			<key>recall_level/goldCoin0000</key>
			<dict>
				<key>frame</key>
				<string>{{131,449},{71,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,72}}</string>
				<key>sourceSize</key>
				<string>{71,72}</string>
			</dict>
			<key>recall_level/levelIcon0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,351},{129,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,177}}</string>
				<key>sourceSize</key>
				<string>{129,177}</string>
			</dict>
			<key>recall_level/levelTipNpc0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{263,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{263,174}}</string>
				<key>sourceSize</key>
				<string>{263,174}</string>
			</dict>
			<key>recall_level/lights0000</key>
			<dict>
				<key>frame</key>
				<string>{{175,236},{208,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{208,114}}</string>
				<key>sourceSize</key>
				<string>{208,114}</string>
			</dict>
			<key>recall_level/littleStar0000</key>
			<dict>
				<key>frame</key>
				<string>{{321,352},{47,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,48}}</string>
				<key>sourceSize</key>
				<string>{47,48}</string>
			</dict>
			<key>unlock_normal/friendItemNameBg0000</key>
			<dict>
				<key>frame</key>
				<string>{{204,487},{119,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,37}}</string>
				<key>sourceSize</key>
				<string>{119,37}</string>
			</dict>
			<key>unlock_normal/unlock_star0000</key>
			<dict>
				<key>frame</key>
				<string>{{428,429},{76,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,75}}</string>
				<key>sourceSize</key>
				<string>{76,75}</string>
			</dict>
			<key>unlock_normal/unlockcloudpanel_lock0000</key>
			<dict>
				<key>frame</key>
				<string>{{385,236},{125,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{125,94}}</string>
				<key>sourceSize</key>
				<string>{125,94}</string>
			</dict>
			<key>unlock_normal/unlocklevelsstarsprogressbg0000</key>
			<dict>
				<key>frame</key>
				<string>{{321,429},{105,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,56}}</string>
				<key>sourceSize</key>
				<string>{105,56}</string>
			</dict>
			<key>unlock_normal/进度条yell copy0000</key>
			<dict>
				<key>frame</key>
				<string>{{325,487},{90,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,46}}</string>
				<key>sourceSize</key>
				<string>{90,46}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>unlock_cloud_panel_new.png</string>
			<key>size</key>
			<string>{512,550}</string>
			<key>textureFileName</key>
			<string>unlock_cloud_panel_new.png</string>
		</dict>
	</dict>
</plist>
