<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>recall_friend/little_chiken0000</key>
			<dict>
				<key>frame</key>
				<string>{{83,358},{59,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,60}}</string>
				<key>sourceSize</key>
				<string>{59,60}</string>
			</dict>
			<key>recall_friend/little_frog0000</key>
			<dict>
				<key>frame</key>
				<string>{{83,296},{59,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,60}}</string>
				<key>sourceSize</key>
				<string>{59,60}</string>
			</dict>
			<key>recall_friend/little_hippo0000</key>
			<dict>
				<key>frame</key>
				<string>{{144,296},{59,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,60}}</string>
				<key>sourceSize</key>
				<string>{59,60}</string>
			</dict>
			<key>recall_friend/npc0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,111},{119,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,147}}</string>
				<key>sourceSize</key>
				<string>{119,147}</string>
			</dict>
			<key>recall_level/bubbleBg10000</key>
			<dict>
				<key>frame</key>
				<string>{{121,111},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,109}}</string>
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>recall_level/energyIcon0000</key>
			<dict>
				<key>frame</key>
				<string>{{50,373},{20,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,26}}</string>
				<key>sourceSize</key>
				<string>{20,26}</string>
			</dict>
			<key>recall_level/goldCoin0000</key>
			<dict>
				<key>frame</key>
				<string>{{205,296},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,45}}</string>
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>recall_level/levelIcon0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,260},{81,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,111}}</string>
				<key>sourceSize</key>
				<string>{81,111}</string>
			</dict>
			<key>recall_level/levelTipNpc0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{165,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{165,109}}</string>
				<key>sourceSize</key>
				<string>{165,109}</string>
			</dict>
			<key>recall_level/lights0000</key>
			<dict>
				<key>frame</key>
				<string>{{121,222},{130,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,72}}</string>
				<key>sourceSize</key>
				<string>{130,72}</string>
			</dict>
			<key>recall_level/littleStar0000</key>
			<dict>
				<key>frame</key>
				<string>{{83,260},{30,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{30,30}}</string>
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>unlock_normal/friendItemNameBg0000</key>
			<dict>
				<key>frame</key>
				<string>{{144,358},{75,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{75,23}}</string>
				<key>sourceSize</key>
				<string>{75,23}</string>
			</dict>
			<key>unlock_normal/unlock_star0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,373},{48,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{48,47}}</string>
				<key>sourceSize</key>
				<string>{48,47}</string>
			</dict>
			<key>unlock_normal/unlockcloudpanel_lock0000</key>
			<dict>
				<key>frame</key>
				<string>{{167,0},{79,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,59}}</string>
				<key>sourceSize</key>
				<string>{79,59}</string>
			</dict>
			<key>unlock_normal/unlocklevelsstarsprogressbg0000</key>
			<dict>
				<key>frame</key>
				<string>{{167,61},{66,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,35}}</string>
				<key>sourceSize</key>
				<string>{66,35}</string>
			</dict>
			<key>unlock_normal/进度条yell copy0000</key>
			<dict>
				<key>frame</key>
				<string>{{144,383},{56,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,29}}</string>
				<key>sourceSize</key>
				<string>{56,29}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>unlock_cloud_panel_new@2x.png</string>
			<key>size</key>
			<string>{256,430}</string>
			<key>textureFileName</key>
			<string>unlock_cloud_panel_new@2x.png</string>
		</dict>
	</dict>
</plist>
