<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>asghfhfh0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,285},{221,245}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{221,245}}</string>
				<key>sourceSize</key>
				<string>{221,245}</string>
			</dict>
			<key>dialogBG0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{560,283}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{560,283}}</string>
				<key>sourceSize</key>
				<string>{560,283}</string>
			</dict>
			<key>seperator0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,616},{436,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{436,4}}</string>
				<key>sourceSize</key>
				<string>{436,4}</string>
			</dict>
			<key>shineLight0000</key>
			<dict>
				<key>frame</key>
				<string>{{223,446},{172,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{172,168}}</string>
				<key>sourceSize</key>
				<string>{172,168}</string>
			</dict>
			<key>元件 160000</key>
			<dict>
				<key>frame</key>
				<string>{{223,285},{221,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{221,159}}</string>
				<key>sourceSize</key>
				<string>{221,159}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>unlock_hidden_area_panel.png</string>
			<key>size</key>
			<string>{560,630}</string>
			<key>textureFileName</key>
			<string>unlock_hidden_area_panel.png</string>
		</dict>
	</dict>
</plist>
