<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>crown0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{279,335}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{279,335}</string>
				<key>spriteSourceSize</key>
				<string>{279,335}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{402,449},{279,335}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>glow0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{267,262}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{267,262}</string>
				<key>spriteSourceSize</key>
				<string>{267,262}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{686,449},{267,262}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>greenBg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{465,193}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{465,193}</string>
				<key>spriteSourceSize</key>
				<string>{465,193}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{402,789},{465,193}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>greenBg20000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{251,222}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{251,222}</string>
				<key>spriteSourceSize</key>
				<string>{251,222}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{377,987},{251,222}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>image0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{207,203}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{207,203}</string>
				<key>spriteSourceSize</key>
				<string>{207,203}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{633,987},{207,203}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>light0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{392,798}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{392,798}</string>
				<key>spriteSourceSize</key>
				<string>{392,798}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{5,5},{392,798}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>star0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{367,328}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{367,328}</string>
				<key>spriteSourceSize</key>
				<string>{367,328}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{5,808},{367,328}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sunshine0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{439,439}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{439,439}</string>
				<key>spriteSourceSize</key>
				<string>{439,439}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{402,5},{439,439}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,1300}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>weekly_race_animation.png</string>
				<key>textureFileName</key>
				<string>weekly_race_animation</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
