<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>intermediate.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{618,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{618,89}}</string>
                <key>sourceSize</key>
                <string>{618,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>intermediate@2x.png</string>
            <key>size</key>
            <string>{618,89}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ea38e316adac92e2e73a33808469855$</string>
            <key>textureFileName</key>
            <string>intermediate@2x.png</string>
        </dict>
    </dict>
</plist>
