<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>trunkRoot.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{990,606}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{990,606}}</string>
                <key>sourceSize</key>
                <string>{990,606}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>trunkRoot.png</string>
            <key>size</key>
            <string>{990,606}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:085b1b3457735e8ced12a23cc1b9c371$</string>
            <key>textureFileName</key>
            <string>trunkRoot.png</string>
        </dict>
    </dict>
</plist>
