<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>GoldIconGlowUI0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{166,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{166,174}}</string>
				<key>sourceSize</key>
				<string>{166,174}</string>
			</dict>
			<key>avatarstarandnamebg0000</key>
			<dict>
				<key>frame</key>
				<string>{{168,165},{139,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,76}}</string>
				<key>sourceSize</key>
				<string>{139,76}</string>
			</dict>
			<key>bf4hbgt5hg220000</key>
			<dict>
				<key>frame</key>
				<string>{{324,368},{40,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,41}}</string>
				<key>sourceSize</key>
				<string>{40,41}</string>
			</dict>
			<key>bgvmu60000</key>
			<dict>
				<key>frame</key>
				<string>{{96,243},{132,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,34}}</string>
				<key>sourceSize</key>
				<string>{132,34}</string>
			</dict>
			<key>bvcwe1asdjy0000</key>
			<dict>
				<key>frame</key>
				<string>{{313,332},{112,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,34}}</string>
				<key>sourceSize</key>
				<string>{112,34}</string>
			</dict>
			<key>bvjhy934340000</key>
			<dict>
				<key>frame</key>
				<string>{{230,247},{132,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,34}}</string>
				<key>sourceSize</key>
				<string>{132,34}</string>
			</dict>
			<key>coinHighlight0000</key>
			<dict>
				<key>frame</key>
				<string>{{133,279},{64,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,66}}</string>
				<key>sourceSize</key>
				<string>{64,66}</string>
			</dict>
			<key>energyHighlight0000</key>
			<dict>
				<key>frame</key>
				<string>{{277,368},{45,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,58}}</string>
				<key>sourceSize</key>
				<string>{45,58}</string>
			</dict>
			<key>gggrgrg30000</key>
			<dict>
				<key>frame</key>
				<string>{{480,123},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,27}}</string>
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>goldHighlight0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,272},{65,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,68}}</string>
				<key>sourceSize</key>
				<string>{65,68}</string>
			</dict>
			<key>grthrth0000</key>
			<dict>
				<key>frame</key>
				<string>{{480,152},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,27}}</string>
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>homeSceneCoinIcon0000</key>
			<dict>
				<key>frame</key>
				<string>{{67,279},{64,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,66}}</string>
				<key>sourceSize</key>
				<string>{64,66}</string>
			</dict>
			<key>homeSceneEner_j34i0000</key>
			<dict>
				<key>frame</key>
				<string>{{230,351},{45,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{45,58}}</string>
				<key>sourceSize</key>
				<string>{45,58}</string>
			</dict>
			<key>homeScene_infiniteEnergyTip_scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{391,0},{99,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,121}}</string>
				<key>sourceSize</key>
				<string>{99,121}</string>
			</dict>
			<key>homescene_newtag0000</key>
			<dict>
				<key>frame</key>
				<string>{{459,286},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,43}}</string>
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
			<key>iconPh0000</key>
			<dict>
				<key>frame</key>
				<string>{{309,165},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,80}}</string>
				<key>sourceSize</key>
				<string>{80,80}</string>
			</dict>
			<key>ladybug_rjnekd34540000</key>
			<dict>
				<key>frame</key>
				<string>{{391,123},{87,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,105}}</string>
				<key>sourceSize</key>
				<string>{87,105}</string>
			</dict>
			<key>maskefjdkle0000</key>
			<dict>
				<key>frame</key>
				<string>{{199,283},{128,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,30}}</string>
				<key>sourceSize</key>
				<string>{128,30}</string>
			</dict>
			<key>maskm3lrjksdjeio0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,347},{113,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,30}}</string>
				<key>sourceSize</key>
				<string>{113,30}</string>
			</dict>
			<key>n2k3l92n3u8e0000</key>
			<dict>
				<key>frame</key>
				<string>{{329,300},{128,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{128,30}}</string>
				<key>sourceSize</key>
				<string>{128,30}</string>
			</dict>
			<key>nhmuu6230000</key>
			<dict>
				<key>frame</key>
				<string>{{115,351},{113,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,30}}</string>
				<key>sourceSize</key>
				<string>{113,30}</string>
			</dict>
			<key>notScale9TipBg0000</key>
			<dict>
				<key>frame</key>
				<string>{{168,105},{221,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{221,58}}</string>
				<key>sourceSize</key>
				<string>{221,58}</string>
			</dict>
			<key>notScaleStarButtonTipBg0000</key>
			<dict>
				<key>frame</key>
				<string>{{168,0},{211,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{211,103}}</string>
				<key>sourceSize</key>
				<string>{211,103}</string>
			</dict>
			<key>starHightlight0000</key>
			<dict>
				<key>frame</key>
				<string>{{427,332},{59,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,58}}</string>
				<key>sourceSize</key>
				<string>{59,58}</string>
			</dict>
			<key>starIcon1000000</key>
			<dict>
				<key>frame</key>
				<string>{{96,176},{59,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,58}}</string>
				<key>sourceSize</key>
				<string>{59,58}</string>
			</dict>
			<key>vdcf23t4tgrf0000</key>
			<dict>
				<key>frame</key>
				<string>{{199,315},{112,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,34}}</string>
				<key>sourceSize</key>
				<string>{112,34}</string>
			</dict>
			<key>vdcwe23t5fv0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,176},{94,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,94}}</string>
				<key>sourceSize</key>
				<string>{94,94}</string>
			</dict>
			<key>vffer3gv0000</key>
			<dict>
				<key>frame</key>
				<string>{{459,230},{51,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2,0},{51,54}}</string>
				<key>sourceSize</key>
				<string>{51,54}</string>
			</dict>
			<key>wheel0000</key>
			<dict>
				<key>frame</key>
				<string>{{391,230},{65,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,68}}</string>
				<key>sourceSize</key>
				<string>{65,68}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>homeScene.png</string>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>homeScene.png</string>
		</dict>
	</dict>
</plist>
