<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>GoldIconGlowUI0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{112,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,117}}</string>
				<key>sourceSize</key>
				<string>{112,117}</string>
			</dict>
			<key>avatarstarandnamebg0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,119},{87,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,48}}</string>
				<key>sourceSize</key>
				<string>{87,48}</string>
			</dict>
			<key>bf4hbgt5hg220000</key>
			<dict>
				<key>frame</key>
				<string>{{202,303},{25,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{25,26}}</string>
				<key>sourceSize</key>
				<string>{25,26}</string>
			</dict>
			<key>bgvmu60000</key>
			<dict>
				<key>frame</key>
				<string>{{113,183},{83,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,22}}</string>
				<key>sourceSize</key>
				<string>{83,22}</string>
			</dict>
			<key>bvcwe1asdjy0000</key>
			<dict>
				<key>frame</key>
				<string>{{103,255},{70,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,22}}</string>
				<key>sourceSize</key>
				<string>{70,22}</string>
			</dict>
			<key>bvjhy934340000</key>
			<dict>
				<key>frame</key>
				<string>{{113,207},{83,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,22}}</string>
				<key>sourceSize</key>
				<string>{83,22}</string>
			</dict>
			<key>coinHighlight0000</key>
			<dict>
				<key>frame</key>
				<string>{{61,221},{40,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,42}}</string>
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>
			<key>energyHighlight0000</key>
			<dict>
				<key>frame</key>
				<string>{{143,303},{28,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,36}}</string>
				<key>sourceSize</key>
				<string>{28,36}</string>
			</dict>
			<key>gggrgrg30000</key>
			<dict>
				<key>frame</key>
				<string>{{235,105},{17,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,17}}</string>
				<key>sourceSize</key>
				<string>{17,17}</string>
			</dict>
			<key>goldHighlight0000</key>
			<dict>
				<key>frame</key>
				<string>{{198,173},{41,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,42}}</string>
				<key>sourceSize</key>
				<string>{41,42}</string>
			</dict>
			<key>grthrth0000</key>
			<dict>
				<key>frame</key>
				<string>{{89,119},{17,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{17,17}}</string>
				<key>sourceSize</key>
				<string>{17,17}</string>
			</dict>
			<key>homeSceneCoinIcon0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,230},{40,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,42}}</string>
				<key>sourceSize</key>
				<string>{40,42}</string>
			</dict>
			<key>homeSceneEner_j34i0000</key>
			<dict>
				<key>frame</key>
				<string>{{113,300},{28,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,36}}</string>
				<key>sourceSize</key>
				<string>{28,36}</string>
			</dict>
			<key>homeScene_infiniteEnergyTip_scale90000</key>
			<dict>
				<key>frame</key>
				<string>{{114,105},{62,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,76}}</string>
				<key>sourceSize</key>
				<string>{62,76}</string>
			</dict>
			<key>homescene_newtag0000</key>
			<dict>
				<key>frame</key>
				<string>{{173,303},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,27}}</string>
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>iconPh0000</key>
			<dict>
				<key>frame</key>
				<string>{{61,169},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>ladybug_rjnekd34540000</key>
			<dict>
				<key>frame</key>
				<string>{{178,105},{55,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{55,66}}</string>
				<key>sourceSize</key>
				<string>{55,66}</string>
			</dict>
			<key>maskefjdkle0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,274},{80,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,19}}</string>
				<key>sourceSize</key>
				<string>{80,19}</string>
			</dict>
			<key>maskm3lrjksdjeio0000</key>
			<dict>
				<key>frame</key>
				<string>{{175,261},{71,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,19}}</string>
				<key>sourceSize</key>
				<string>{71,19}</string>
			</dict>
			<key>n2k3l92n3u8e0000</key>
			<dict>
				<key>frame</key>
				<string>{{82,279},{80,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,19}}</string>
				<key>sourceSize</key>
				<string>{80,19}</string>
			</dict>
			<key>nhmuu6230000</key>
			<dict>
				<key>frame</key>
				<string>{{164,282},{71,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{71,19}}</string>
				<key>sourceSize</key>
				<string>{71,19}</string>
			</dict>
			<key>notScale9TipBg0000</key>
			<dict>
				<key>frame</key>
				<string>{{114,67},{138,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,36}}</string>
				<key>sourceSize</key>
				<string>{138,36}</string>
			</dict>
			<key>notScaleStarButtonTipBg0000</key>
			<dict>
				<key>frame</key>
				<string>{{114,0},{132,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,65}}</string>
				<key>sourceSize</key>
				<string>{132,65}</string>
			</dict>
			<key>starHightlight0000</key>
			<dict>
				<key>frame</key>
				<string>{{39,295},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,36}}</string>
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
			<key>starIcon1000000</key>
			<dict>
				<key>frame</key>
				<string>{{0,295},{37,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,36}}</string>
				<key>sourceSize</key>
				<string>{37,36}</string>
			</dict>
			<key>vdcf23t4tgrf0000</key>
			<dict>
				<key>frame</key>
				<string>{{103,231},{70,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,22}}</string>
				<key>sourceSize</key>
				<string>{70,22}</string>
			</dict>
			<key>vdcwe23t5fv0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,169},{59,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,59}}</string>
				<key>sourceSize</key>
				<string>{59,59}</string>
			</dict>
			<key>vffer3gv0000</key>
			<dict>
				<key>frame</key>
				<string>{{78,300},{33,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{33,34}}</string>
				<key>sourceSize</key>
				<string>{33,34}</string>
			</dict>
			<key>wheel0000</key>
			<dict>
				<key>frame</key>
				<string>{{198,217},{41,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,42}}</string>
				<key>sourceSize</key>
				<string>{41,42}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>homeScene@2x.png</string>
			<key>size</key>
			<string>{256,512}</string>
			<key>textureFileName</key>
			<string>homeScene@2x.png</string>
		</dict>
	</dict>
</plist>
