<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key> feichai0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{5,7}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{5,7}</string>
			<key>spriteSourceSize</key>
			<string>{5,7}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{207,335},{5,7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>aaa3_dino0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{205,103}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{205,103}</string>
			<key>spriteSourceSize</key>
			<string>{205,103}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1,335},{205,103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>aaaa1_dino0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{348,168}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{348,168}</string>
			<key>spriteSourceSize</key>
			<string>{348,168}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1,1},{348,168}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>aaaa2_dino0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{346,163}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{346,163}</string>
			<key>spriteSourceSize</key>
			<string>{346,163}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{1,170},{346,163}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>sky0000</key>
		<dict>
			<key>aliases</key>
			<array>
			</array>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,13}}</string>
			<key>spriteOffset</key>
			<string>{0,0}</string>
			<key>spriteSize</key>
			<string>{0,13}</string>
			<key>spriteSourceSize</key>
			<string>{0,13}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{207,344},{0,13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{350,442}</string>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>home@2x.png</string>
			<key>premultipliedAlpha</key>
			<true/>
			<key>textureFileExtension</key>
			<string>png</string>
			<key>textureFileName</key>
			<string>home</string>
		</dict>
	</dict>
</dict>
</plist>
