<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>activity/balloon10000</key>
			<dict>
				<key>frame</key>
				<string>{{34,434},{19,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{19,24}}</string>
				<key>sourceSize</key>
				<string>{19,24}</string>
			</dict>
			<key>activity/balloon20000</key>
			<dict>
				<key>frame</key>
				<string>{{125,290},{61,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,61}}</string>
				<key>sourceSize</key>
				<string>{61,61}</string>
			</dict>
			<key>activity/guang20000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{94,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,98}}</string>
				<key>sourceSize</key>
				<string>{94,98}</string>
			</dict>
			<key>activity/rewardIcon0000</key>
			<dict>
				<key>frame</key>
				<string>{{67,100},{27,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{27,27}}</string>
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
			<key>activity/text10000</key>
			<dict>
				<key>frame</key>
				<string>{{0,412},{47,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{47,20}}</string>
				<key>sourceSize</key>
				<string>{47,20}</string>
			</dict>
			<key>activity/text20000</key>
			<dict>
				<key>frame</key>
				<string>{{0,314},{59,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,18}}</string>
				<key>sourceSize</key>
				<string>{59,18}</string>
			</dict>
			<key>activity/text30000</key>
			<dict>
				<key>frame</key>
				<string>{{62,410},{64,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,23}}</string>
				<key>sourceSize</key>
				<string>{64,23}</string>
			</dict>
			<key>activity/wrapper0000</key>
			<dict>
				<key>frame</key>
				<string>{{67,148},{62,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,69}}</string>
				<key>sourceSize</key>
				<string>{62,69}</string>
			</dict>
			<key>bagButtonImage0000</key>
			<dict>
				<key>frame</key>
				<string>{{131,218},{59,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,70}}</string>
				<key>sourceSize</key>
				<string>{59,70}</string>
			</dict>
			<key>check in label0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,434},{32,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,17}}</string>
				<key>sourceSize</key>
				<string>{32,17}</string>
			</dict>
			<key>exchangeIcon_33uofd0000</key>
			<dict>
				<key>frame</key>
				<string>{{96,80},{73,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,66}}</string>
				<key>sourceSize</key>
				<string>{73,66}</string>
			</dict>
			<key>fish_button_wrapper_inner0000</key>
			<dict>
				<key>frame</key>
				<string>{{96,0},{74,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,78}}</string>
				<key>sourceSize</key>
				<string>{74,78}</string>
			</dict>
			<key>friendButtonSymbol0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,171},{59,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,72}}</string>
				<key>sourceSize</key>
				<string>{59,72}</string>
			</dict>
			<key>fruitTree_icn_img0000</key>
			<dict>
				<key>frame</key>
				<string>{{171,146},{64,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,70}}</string>
				<key>sourceSize</key>
				<string>{64,70}</string>
			</dict>
			<key>fruittreebutton_ring0000</key>
			<dict>
				<key>frame</key>
				<string>{{158,427},{26,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{26,27}}</string>
				<key>sourceSize</key>
				<string>{26,27}</string>
			</dict>
			<key>iconImage_234t30000</key>
			<dict>
				<key>frame</key>
				<string>{{188,352},{58,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,57}}</string>
				<key>sourceSize</key>
				<string>{58,57}</string>
			</dict>
			<key>icon邀请好友0000</key>
			<dict>
				<key>frame</key>
				<string>{{192,287},{61,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,63}}</string>
				<key>sourceSize</key>
				<string>{61,63}</string>
			</dict>
			<key>marketButtonSymbol0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,245},{59,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,67}}</string>
				<key>sourceSize</key>
				<string>{59,67}</string>
			</dict>
			<key>marketButton_discount0000</key>
			<dict>
				<key>frame</key>
				<string>{{218,411},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>marketButton_new0000</key>
			<dict>
				<key>frame</key>
				<string>{{128,427},{28,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,28}}</string>
				<key>sourceSize</key>
				<string>{28,28}</string>
			</dict>
			<key>messageImage0000</key>
			<dict>
				<key>frame</key>
				<string>{{61,219},{64,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,63}}</string>
				<key>sourceSize</key>
				<string>{64,63}</string>
			</dict>
			<key>rabbit_icon_play0000</key>
			<dict>
				<key>frame</key>
				<string>{{172,0},{73,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,71}}</string>
				<key>sourceSize</key>
				<string>{73,71}</string>
			</dict>
			<key>rabbit_icon_wait0000</key>
			<dict>
				<key>frame</key>
				<string>{{172,73},{73,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,71}}</string>
				<key>sourceSize</key>
				<string>{73,71}</string>
			</dict>
			<key>shingStarSmallfmdlfjeiorj23r530000</key>
			<dict>
				<key>frame</key>
				<string>{{131,184},{32,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,31}}</string>
				<key>sourceSize</key>
				<string>{32,31}</string>
			</dict>
			<key>starRewardNew0000</key>
			<dict>
				<key>frame</key>
				<string>{{192,218},{61,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,67}}</string>
				<key>sourceSize</key>
				<string>{61,67}</string>
			</dict>
			<key>timeLimitClock0000</key>
			<dict>
				<key>frame</key>
				<string>{{123,353},{46,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{46,53}}</string>
				<key>sourceSize</key>
				<string>{46,53}</string>
			</dict>
			<key>timeLimitText0000</key>
			<dict>
				<key>frame</key>
				<string>{{128,408},{58,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{58,17}}</string>
				<key>sourceSize</key>
				<string>{58,17}</string>
			</dict>
			<key>timeLimitZhe0000</key>
			<dict>
				<key>frame</key>
				<string>{{131,148},{34,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{34,34}}</string>
				<key>sourceSize</key>
				<string>{34,34}</string>
			</dict>
			<key>updateButtonIconUp20000</key>
			<dict>
				<key>frame</key>
				<string>{{188,411},{28,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{28,34}}</string>
				<key>sourceSize</key>
				<string>{28,34}</string>
			</dict>
			<key>updateButtonIconWrapper0000</key>
			<dict>
				<key>frame</key>
				<string>{{62,348},{59,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,60}}</string>
				<key>sourceSize</key>
				<string>{59,60}</string>
			</dict>
			<key>wr_btn_play0000</key>
			<dict>
				<key>frame</key>
				<string>{{61,284},{62,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,62}}</string>
				<key>sourceSize</key>
				<string>{62,62}</string>
			</dict>
			<key>wr_btn_wait0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,348},{60,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,62}}</string>
				<key>sourceSize</key>
				<string>{60,62}</string>
			</dict>
			<key>yingyongbar_icon0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,100},{65,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,69}}</string>
				<key>sourceSize</key>
				<string>{65,69}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>home_icon@2x.png</string>
			<key>size</key>
			<string>{255,460}</string>
			<key>textureFileName</key>
			<string>home_icon@2x.png</string>
		</dict>
	</dict>
</plist>
