<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key> feichai0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{9,12}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{9,12}</string>
				<key>spriteSourceSize</key>
				<string>{9,12}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{332,537},{9,12}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>aaa3_dino0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{328,165}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{328,165}</string>
				<key>spriteSourceSize</key>
				<string>{328,165}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,537},{328,165}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>aaaa1_dino0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{557,269}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{557,269}</string>
				<key>spriteSourceSize</key>
				<string>{557,269}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{557,269}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>aaaa2_dino0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{555,262}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{555,262}</string>
				<key>spriteSourceSize</key>
				<string>{555,262}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,273},{555,262}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>sky0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1,22}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{1,22}</string>
				<key>spriteSourceSize</key>
				<string>{1,22}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{332,551},{1,22}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{561,708}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>home.png</string>
				<key>textureFileName</key>
				<string>home</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
