<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>home_clouds0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{508,236}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{508,236}}</string>
				<key>sourceSize</key>
				<string>{508,236}</string>
			</dict>
			<key>home_lock_star0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,656},{12,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{12,13}}</string>
				<key>sourceSize</key>
				<string>{12,13}</string>
			</dict>
			<key>lockedCloudOpenBackground0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,386},{121,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{121,120}}</string>
				<key>sourceSize</key>
				<string>{121,120}</string>
			</dict>
			<key>lockedCloudShiningStars0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,508},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>lockedCloudShiningStars0001</key>
			<dict>
				<key>frame</key>
				<string>{{0,582},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>lockedCloudShiningStars0002</key>
			<dict>
				<key>frame</key>
				<string>{{78,508},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>lockedCloudShiningStars0003</key>
			<dict>
				<key>frame</key>
				<string>{{78,582},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>lockedCloudShiningStars0004</key>
			<dict>
				<key>frame</key>
				<string>{{123,386},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>lockedCloudShiningStars0005</key>
			<dict>
				<key>frame</key>
				<string>{{134,238},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>lockedCloudShiningStars0006</key>
			<dict>
				<key>frame</key>
				<string>{{134,312},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>lockedCloudShiningStars0007</key>
			<dict>
				<key>frame</key>
				<string>{{156,460},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>lockedCloudShiningStars0008</key>
			<dict>
				<key>frame</key>
				<string>{{201,386},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>lockedCloudShiningStars0009</key>
			<dict>
				<key>frame</key>
				<string>{{156,534},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>lockedCloudShiningStars0010</key>
			<dict>
				<key>frame</key>
				<string>{{156,608},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>lockedCloudShiningStars0011</key>
			<dict>
				<key>frame</key>
				<string>{{212,238},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>lockedCloudShiningStars0012</key>
			<dict>
				<key>frame</key>
				<string>{{212,312},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>lockedCloudShiningStars0013</key>
			<dict>
				<key>frame</key>
				<string>{{290,238},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>lockedCloudShiningStars0014</key>
			<dict>
				<key>frame</key>
				<string>{{368,238},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>lockedCloudShiningStars0015</key>
			<dict>
				<key>frame</key>
				<string>{{290,312},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>lockedCloudShiningStars0016</key>
			<dict>
				<key>frame</key>
				<string>{{368,312},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>lockedCloudShiningStars0017</key>
			<dict>
				<key>frame</key>
				<string>{{234,460},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>lockedCloudShiningStars0018</key>
			<dict>
				<key>frame</key>
				<string>{{279,386},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>lockedCloudShiningStars0019</key>
			<dict>
				<key>frame</key>
				<string>{{234,534},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>lockedCloudShiningStars0020</key>
			<dict>
				<key>frame</key>
				<string>{{234,608},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>lockedCloudShiningStars0021</key>
			<dict>
				<key>frame</key>
				<string>{{357,386},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>lockedCloudShiningStars0022</key>
			<dict>
				<key>frame</key>
				<string>{{312,460},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>lockedCloudShiningStars0023</key>
			<dict>
				<key>frame</key>
				<string>{{390,460},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>lockedCloudShiningStars0024</key>
			<dict>
				<key>frame</key>
				<string>{{312,534},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>lockedCloudShiningStars0025</key>
			<dict>
				<key>frame</key>
				<string>{{312,608},{76,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{76,70}}</string>
				<key>sourceSize</key>
				<string>{76,70}</string>
			</dict>
			<key>lockedCloudShiningStars0026</key>
			<dict>
				<key>frame</key>
				<string>{{390,534},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>lockedCloudShiningStars0027</key>
			<dict>
				<key>frame</key>
				<string>{{390,608},{76,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,72}}</string>
				<key>sourceSize</key>
				<string>{76,72}</string>
			</dict>
			<key>locked_cloud_ico0000</key>
			<dict>
				<key>frame</key>
				<string>{{0,238},{132,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{132,146}}</string>
				<key>sourceSize</key>
				<string>{132,146}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>lockedCloud.png</string>
			<key>size</key>
			<string>{512,680}</string>
			<key>textureFileName</key>
			<string>lockedCloud.png</string>
		</dict>
	</dict>
</plist>
