<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>rabbit_text1 instance 1</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{344,46}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{344,46}</string>
				<key>spriteSourceSize</key>
				<string>{344,46}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,151},{344,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rabbit_text2 instance 1</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{376,49}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{376,49}</string>
				<key>spriteSourceSize</key>
				<string>{376,49}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,100},{376,49}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rabbit_text2_backup instance 1</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{406,46}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{406,46}</string>
				<key>spriteSourceSize</key>
				<string>{406,46}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,52},{406,46}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>rabbit_text3 instance 1</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{431,48}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{431,48}</string>
				<key>spriteSourceSize</key>
				<string>{431,48}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{431,48}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{437,210}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>rabbitModeText@2x.png</string>
				<key>textureFileName</key>
				<string>rabbitModeText@2x</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
