<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>12gf768gfe0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{64,346},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>234fd30000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{37,37}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{37,37}</string>
				<key>spriteSourceSize</key>
				<string>{37,37}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{225,413},{37,37}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>34ty5fvwe0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{62,61}</string>
				<key>spriteSourceSize</key>
				<string>{62,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{132,224},{62,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>564315460000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{249,351},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>87945fdgf0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{65,61}</string>
				<key>spriteSourceSize</key>
				<string>{65,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{310,162},{65,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Goods_100_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,77}</string>
				<key>spriteSourceSize</key>
				<string>{61,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{421,81},{61,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Goods_101_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,77}</string>
				<key>spriteSourceSize</key>
				<string>{61,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{331,83},{61,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Goods_30_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,77}</string>
				<key>spriteSourceSize</key>
				<string>{61,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{268,78},{61,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Goods_35_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,79}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{65,79}</string>
				<key>spriteSourceSize</key>
				<string>{65,79}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{354,2},{65,79}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Goods_51_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,74}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{84,74}</string>
				<key>spriteSourceSize</key>
				<string>{84,74}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{268,2},{84,74}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Goods_53_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,84}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{87,84}</string>
				<key>spriteSourceSize</key>
				<string>{87,84}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{92,2},{87,84}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Goods_98_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,77}</string>
				<key>spriteSourceSize</key>
				<string>{63,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{421,2},{63,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Goods_99_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,77}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,77}</string>
				<key>spriteSourceSize</key>
				<string>{61,77}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{181,80},{61,77}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Goods_ZH_TW_51_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,76}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{85,76}</string>
				<key>spriteSourceSize</key>
				<string>{85,76}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{181,2},{85,76}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Goods_ZH_TW_53_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,87}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{88,87}</string>
				<key>spriteSourceSize</key>
				<string>{88,87}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{88,87}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10040_mc0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{76,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{76,61}</string>
				<key>spriteSourceSize</key>
				<string>{76,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{92,88},{76,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10052_sprite0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,65}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{67,65}</string>
				<key>spriteSourceSize</key>
				<string>{67,65}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,91},{67,65}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10055_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{2,0},{53,58}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{55,58}</string>
				<key>spriteSourceSize</key>
				<string>{53,58}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{455,225},{53,58}}</string>
				<key>textureRotated</key>
				<true/>
			</dict>
			<key>Prop_10056_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,63}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,63}</string>
				<key>spriteSourceSize</key>
				<string>{60,63}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{331,225},{60,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,56}</string>
				<key>spriteSourceSize</key>
				<string>{54,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{311,409},{54,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10_qixi_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,55}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,55}</string>
				<key>spriteSourceSize</key>
				<string>{64,55}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{311,352},{64,55}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_11_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{59,63}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{59,63}</string>
				<key>spriteSourceSize</key>
				<string>{59,63}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{126,287},{59,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_13_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,64}</string>
				<key>spriteSourceSize</key>
				<string>{56,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{445,351},{56,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_14wrapper0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,62}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{62,62}</string>
				<key>spriteSourceSize</key>
				<string>{62,62}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{204,222},{62,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_16_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,64}</string>
				<key>spriteSourceSize</key>
				<string>{60,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,223},{60,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>asset/__resources/交换标志0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,40}</string>
				<key>spriteSourceSize</key>
				<string>{41,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{182,412},{41,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>asset/lying_coin0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{43,28}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{43,28}</string>
				<key>spriteSourceSize</key>
				<string>{43,28}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{367,413},{43,28}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bfvngy6340000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,62}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,62}</string>
				<key>spriteSourceSize</key>
				<string>{61,62}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{268,225},{61,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bgty576sde0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{66,65}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{66,65}</string>
				<key>spriteSourceSize</key>
				<string>{66,65}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{71,151},{66,65}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bjh34tgy60000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{61,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{61,60}</string>
				<key>spriteSourceSize</key>
				<string>{61,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{258,289},{61,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bngdhtyhq0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{41,41}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{41,41}</string>
				<key>spriteSourceSize</key>
				<string>{41,41}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{459,160},{41,41}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bv345gdfw0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,62}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,62}</string>
				<key>spriteSourceSize</key>
				<string>{63,62}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{67,218},{63,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bvjumee30000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,289},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>cash_gold_icon0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{38,39}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{38,39}</string>
				<key>spriteSourceSize</key>
				<string>{38,39}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{204,159},{38,39}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dfgsdgs0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,63}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,63}</string>
				<key>spriteSourceSize</key>
				<string>{63,63}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{139,159},{63,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>disableImage0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{39,40}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{39,40}</string>
				<key>spriteSourceSize</key>
				<string>{39,40}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,413},{39,40}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dsadf0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,63}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,63}</string>
				<key>spriteSourceSize</key>
				<string>{63,63}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,158},{63,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>fgrte45bgyt50000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,62}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,62}</string>
				<key>spriteSourceSize</key>
				<string>{60,62}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{196,286},{60,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gdhgjyh0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,39}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{32,39}</string>
				<key>spriteSourceSize</key>
				<string>{32,39}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{264,413},{32,39}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goods_65_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{53,60}</string>
				<key>spriteSourceSize</key>
				<string>{53,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{455,285},{53,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goods_66_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,61}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,61}</string>
				<key>spriteSourceSize</key>
				<string>{54,61}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{64,408},{54,61}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goods_67_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,62}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,62}</string>
				<key>spriteSourceSize</key>
				<string>{54,62}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{126,352},{54,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>iconHeap_4uy30000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,351},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lyingWheel_img0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{35,21}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{35,21}</string>
				<key>spriteSourceSize</key>
				<string>{35,21}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{120,416},{35,21}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>nbr343rg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{187,350},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ngy554fd23e0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,63}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,63}</string>
				<key>spriteSourceSize</key>
				<string>{63,63}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{394,160},{63,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>nh34dfy50000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{321,290},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>nhj4534sd0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,62}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,62}</string>
				<key>spriteSourceSize</key>
				<string>{63,62}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{67,218},{63,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>nhy5234sd0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,62}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,62}</string>
				<key>spriteSourceSize</key>
				<string>{60,62}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{393,225},{60,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>prop100050000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{393,289},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>prop_wenhan_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{383,351},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.halloweenGhost0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{64,63}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{64,63}</string>
				<key>spriteSourceSize</key>
				<string>{64,63}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{244,157},{64,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>vf24e3rt40000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,62}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,62}</string>
				<key>spriteSourceSize</key>
				<string>{60,62}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{64,282},{60,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>properties@2x.png</string>
				<key>textureFileName</key>
				<string>properties@2x</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
