<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>12gf768gfe0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{408,357},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>234fd30000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,60}</string>
				<key>spriteSourceSize</key>
				<string>{60,60}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{787,103},{60,60}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>34ty5fvwe0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,97}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,97}</string>
				<key>spriteSourceSize</key>
				<string>{99,97}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{307,352},{99,97}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>564315460000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,95}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{95,95}</string>
				<key>spriteSourceSize</key>
				<string>{95,95}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,459},{95,95}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>87945fdgf0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,97}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,97}</string>
				<key>spriteSourceSize</key>
				<string>{103,97}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{583,231},{103,97}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Goods_100_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,123}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,123}</string>
				<key>spriteSourceSize</key>
				<string>{97,123}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{385,125},{97,123}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Goods_101_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,123}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,123}</string>
				<key>spriteSourceSize</key>
				<string>{97,123}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{484,129},{97,123}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Goods_30_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,123}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,123}</string>
				<key>spriteSourceSize</key>
				<string>{97,123}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,141},{97,123}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Goods_35_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{103,125}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{103,125}</string>
				<key>spriteSourceSize</key>
				<string>{103,125}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{556,2},{103,125}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Goods_51_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{134,117}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{134,117}</string>
				<key>spriteSourceSize</key>
				<string>{134,117}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{420,2},{134,117}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Goods_53_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{138,134}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{138,134}</string>
				<key>spriteSourceSize</key>
				<string>{138,134}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{143,2},{138,134}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Goods_98_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,123}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,123}</string>
				<key>spriteSourceSize</key>
				<string>{100,123}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{283,125},{100,123}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Goods_99_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,123}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,123}</string>
				<key>spriteSourceSize</key>
				<string>{97,123}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{101,141},{97,123}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Goods_ZH_TW_51_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{135,121}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{135,121}</string>
				<key>spriteSourceSize</key>
				<string>{135,121}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{283,2},{135,121}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Goods_ZH_TW_53_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,137}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{139,137}</string>
				<key>spriteSourceSize</key>
				<string>{139,137}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,2},{139,137}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10040_mc0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{112,90}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{112,90}</string>
				<key>spriteSourceSize</key>
				<string>{112,90}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,266},{112,90}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10052_sprite0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{94,91}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{94,91}</string>
				<key>spriteSourceSize</key>
				<string>{94,91}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{787,302},{94,91}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10055_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,92}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{88,92}</string>
				<key>spriteSourceSize</key>
				<string>{88,92}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{885,198},{88,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10056_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{91,92}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{91,92}</string>
				<key>spriteSourceSize</key>
				<string>{91,92}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{506,428},{91,92}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{86,89}</string>
				<key>spriteSourceSize</key>
				<string>{86,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{888,481},{86,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_10_qixi_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,86}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{99,86}</string>
				<key>spriteSourceSize</key>
				<string>{99,86}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{787,395},{99,86}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_11_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{88,94}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{88,94}</string>
				<key>spriteSourceSize</key>
				<string>{88,94}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{215,355},{88,94}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_13_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,98}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{85,98}</string>
				<key>spriteSourceSize</key>
				<string>{85,98}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{401,455},{85,98}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_14wrapper0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,97}</string>
				<key>spriteSourceSize</key>
				<string>{97,97}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{688,305},{97,97}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>Prop_16_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,101}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,101}</string>
				<key>spriteSourceSize</key>
				<string>{96,101}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{409,254},{96,101}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>asset/__resources/交换标志0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,64}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{65,64}</string>
				<key>spriteSourceSize</key>
				<string>{65,64}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{605,330},{65,64}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>asset/lying_coin0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,39}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{63,39}</string>
				<key>spriteSourceSize</key>
				<string>{63,39}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{200,202},{63,39}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bfvngy6340000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,99}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,99}</string>
				<key>spriteSourceSize</key>
				<string>{97,99}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{116,355},{97,99}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bgty576sde0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,103}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{105,103}</string>
				<key>spriteSourceSize</key>
				<string>{105,103}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{200,250},{105,103}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bjh34tgy60000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{97,96}</string>
				<key>spriteSourceSize</key>
				<string>{97,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{786,204},{97,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bngdhtyhq0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{65,65}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{65,65}</string>
				<key>spriteSourceSize</key>
				<string>{65,65}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{507,254},{65,65}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bv345gdfw0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,98}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,98}</string>
				<key>spriteSourceSize</key>
				<string>{100,98}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{685,104},{100,98}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>bvjumee30000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{861,2},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>cash_gold_icon0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,63}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{60,63}</string>
				<key>spriteSourceSize</key>
				<string>{60,63}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{116,266},{60,63}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dfgsdgs0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{583,129},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>disableImage0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,56}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{54,56}</string>
				<key>spriteSourceSize</key>
				<string>{54,56}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{779,483},{54,56}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>dsadf0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{307,250},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>fgrte45bgyt50000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,99}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,99}</string>
				<key>spriteSourceSize</key>
				<string>{96,99}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{688,204},{96,99}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>gdhgjyh0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,62}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{51,62}</string>
				<key>spriteSourceSize</key>
				<string>{51,62}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{200,138},{51,62}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goods_65_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{84,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{84,96}</string>
				<key>spriteSourceSize</key>
				<string>{84,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{693,404},{84,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goods_66_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,98}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{86,98}</string>
				<key>spriteSourceSize</key>
				<string>{86,98}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{605,404},{86,98}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>goods_67_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,99}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{86,99}</string>
				<key>spriteSourceSize</key>
				<string>{86,99}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{313,451},{86,99}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>iconHeap_4uy30000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{100,456},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>lyingWheel_img0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{56,33}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{56,33}</string>
				<key>spriteSourceSize</key>
				<string>{56,33}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{787,165},{56,33}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>nbr343rg0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{215,451},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>ngy554fd23e0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,100}</string>
				<key>spriteSourceSize</key>
				<string>{100,100}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{661,2},{100,100}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>nh34dfy50000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{507,330},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>nhj4534sd0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,98}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{100,98}</string>
				<key>spriteSourceSize</key>
				<string>{100,98}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{685,104},{100,98}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>nhy5234sd0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,99}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,99}</string>
				<key>spriteSourceSize</key>
				<string>{96,99}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{2,358},{96,99}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>prop100050000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,96}</string>
				<key>spriteSourceSize</key>
				<string>{96,96}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{861,100},{96,96}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>prop_wenhan_inner0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,89}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{90,89}</string>
				<key>spriteSourceSize</key>
				<string>{90,89}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{888,390},{90,89}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>target.halloweenGhost0000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,86}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,86}</string>
				<key>spriteSourceSize</key>
				<string>{96,86}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{883,302},{96,86}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
			<key>vf24e3rt40000</key>
			<dict>
				<key>aliases</key>
				<array/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,99}}</string>
				<key>spriteOffset</key>
				<string>{0,0}</string>
				<key>spriteSize</key>
				<string>{96,99}</string>
				<key>spriteSourceSize</key>
				<string>{96,99}</string>
				<key>spriteTrimmed</key>
				<false/>
				<key>textureRect</key>
				<string>{{763,2},{96,99}}</string>
				<key>textureRotated</key>
				<false/>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>3</integer>
			<key>size</key>
			<string>{1024,600}</string>
			<key>target</key>
			<dict>
				<key>name</key>
				<string>properties.png</string>
				<key>textureFileName</key>
				<string>properties</string>
				<key>textureFileExtension</key>
				<string>png</string>
				<key>premultipliedAlpha</key>
				<true/>
			</dict>
		</dict>
	</dict>
</plist>
